<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>S'ha produit un error: {{ status_text }}</title>
    </head>
    <body style="-webkit-border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.35);
		padding: 5px 1px 5px 5px;
		width: 400px;
		padding: 20px 20px 40px 20px;"
	>
        <h1>Oops! S'ha produit un error.</h1>

        <h3>
        	Alguna cosa ha fallat. Si aquesta pàgina hauria de funcionar, contactar amb <a href="mailto:info@arxiuadg.org" target="_top">info@arxiuadg.org</a>
        	<br>
            <br>
            Demanem disculpes per qualsevol inconvenient causat.
        </h3>
        
        <a href="javascript:history.back()" style="color: #666; float: right">Tornar enrere.</a>
    </body>
</html>
