/*Custom layout*/
.fixed-position {
	position: fixed;
}

.centered-text {
    text-align:center;
} 

html, body, .container, .content {
    height: 100%;
}
 
.container, .content {
    position: relative;
}
 
.proper-content {
    padding-top: 50px; /* >= navbar height */
    padding-left: 40px;
    padding-right: 40px;
}
 
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px; /* same as the footer */
}
 
.push {
    height: 70px; /* same as the footer */
}

.footer-wrapper {
    position: relative;
    height: 70px;
    text-align: center;
    background-color: #222222;
  	border-color: #080808;
  	color: #999;
  	border-top: 1px solid transparent;
}

.form-signin{
	max-width: 200px;
}

fa, #footer h4 {
	  color: #999;
	  margin-right: 10px;
}

.sidebar-nav {
	padding: 9px 0;
}

article {
    text-align: justify;
}

.marginleft {
	margin-left: 15px;
}
.nav>li>a {
	padding-right: 10px;
	padding-left: 10px;
}

/* Vertical spacers */
.space50 {
    height: 50px;
}

.space100 {
    height: 100px;
}

.space10 {
    height: 10px;
}

.space150 {
    height: 150px;
}

.space5 {
    height: 5px;
}
