{% extends '::base.html.twig' %}

{% block stylesheets %}
		<link href="{{ asset('bundles/ADG/css/subnavbar.css') }}" rel="stylesheet">
{% endblock %}



{% block subnavbar %}		
		
	<div class="subnavbar">
	  <div class="subnavbar-inner">
	    <div class="container-sub">
	    	 {{ knp_menu_render('ArxiuBundle:SubmenuBuilder:SubMenu', {'currentClass': 'active', 'template': 'ArxiuBundle:Menu:knp_menu.html.twig'}) }}
	    </div>
	    <!-- /container --> 
	  </div>
	  <!-- /subnavbar-inner --> 
	</div>
	<!-- /subnavbar -->

{% endblock %}
