{% extends '::base.html.twig' %}

{% block title %}{{ 'contacte.title' | trans }}{% endblock %}

{% block body %}

        <div class="page-header">
          <h1>{{ 'contacte.head' | trans }}</h1>
        </div>

        <div class="row">
        	<!-- Mapa -->
	        <div class="col-md-7 col-lg-7">
	            <iframe height="600" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Pujada+de+Sant+Mart%C3%AD,+12,+Girona&amp;aq=0&amp;oq=pujada+sant+mart%C3%AD,+12&amp;sll=40.2085,-3.713&amp;sspn=18.195548,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Pujada+de+Sant+Mart%C3%AD,+12,+17004+Girona,+Catalunya&amp;t=m&amp;ll=41.984632,2.822285&amp;spn=0.030624,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Pujada+de+Sant+Mart%C3%AD,+12,+Girona&amp;aq=0&amp;oq=pujada+sant+mart%C3%AD,+12&amp;sll=40.2085,-3.713&amp;sspn=18.195548,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Pujada+de+Sant+Mart%C3%AD,+12,+17004+Girona,+Catalunya&amp;t=m&amp;ll=41.984632,2.822285&amp;spn=0.030624,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Veure mapa més gran</a></small>
		    </div>

	        <div class="col-md-5 col-lg-5">
	            <h3>Informació</h3>
	            <address> 	
	                <strong>Arxiu diocesà i Biblioteca diocesana del Seminari de Girona</strong><br>
	                Pujada Sant Martí,12<br>
	                17004, GIRONA
	            </address>
	
	            <address><strong>Telèfon</strong><br> 972 48 73 46</address>
	    
	            <h3>Contactes</h3>
	            
	            <address><strong>Arxiu diocesà:</strong>
	            info@arxiuadg.org</address>
	
	            <address><strong>Biblioteca:</strong>
	            biblioteca@bisbatgirona.cat</address>
	
	            <address><strong>Director</strong>
	            Llic. Joan Naspleda</address>
	
	            <address><strong>Oficial Arxiu i Biblioteca</strong>
	            Llic. Albert Serrat</address>
	
	            <address><strong>Oficial arxiver</strong>
	            Llic. Joan Villar</address>
	
	            <address><strong>Oficial biblioteca</strong>
	            Llic. Anna Bancells</address>
	
	            <p><strong>Horari</strong><br>
	            De dilluns a dijous, de 16 h a 20 h<br>
				Consultes convingudes: dijous de 10 h a 14 h<br>
				Tancat: Juliol i agost / 24 desembre a 6 gener</p>
	            
	            <div class="alert alert-warning">
	            	<strong>Genealogia</strong><br>
	                {{ 'contacte.alerta.warning' | trans }}
	            </div>

	            <div class="alert alert-info">
	                {{ 'contacte.alerta.info' | trans }}
	            </div>
	            
	           
	      </div>
   	  </div>
{% endblock %}
