{% extends '::base.html.twig' %}

{% block title %}Informació web{% endblock %}

{% block body %}

        <div class="page-header">
          <h1>Informació sobre aquesta web</h1>
        </div>

        <div class="row">
        	
	        <div class="col-md-10 col-lg-10">
		        <h3>Creació web</h3>
	
				<a href="#marques" data-toggle="collapse" data-target="#marques" style="color:black">Dr. Josep Maria Marquès (1939-2007)</a>
				
				<div id="marques" class="collapse">
					<div class="space5"></div>
					<div class="alert alert-info">
						<button type="button" class="close" data-toggle="collapse" data-target="#marques">&times;</button>
						<h4>Dr. Josep Maria Marquès</h4>
						<p>
						Nascut a Cruïlles (Baix Empordà) l'any 1939, completà els estudis eclesiàstics, cursats al Seminari diocesà de Girona, amb la llicenciatura en Teologia, que assolí a la universitat pontifícia Gregoriana de Roma. 
						Després d'un temps d'ensenyament de la Teologia Fonamental al mateix Seminari, on també tingué cura de la Biblioteca -i havent professat un curs d'introducció a la Teologia al Col·legi Universitari de Girona- emprengué estudis d'història i aconseguí la llicenciatura a la Universitat Autònoma de Barcelona i el doctorat en Història de l'Església a la Gregoriana de Roma amb una tesi sobre les relacions Església-Estat a Espanya a la segona meitat del s. XVII. 
						<br> <br>
						Fou director de l'Arxiu diocesà de 1981 a 2007. Va ensenyar al Seminari diocesà de Girona, a la Facultat de Teologia de Barcelona i a la facultat de Pedagogía de la Universitat de Girona.
						<br> <br>
						Fou membre de l'lnstitut d'Estudis Gironins i de la Societat Catalana d'Estudis Litúrgics (filial de l'lnstitut d'Estudis Catalans), també va ser becari de l'lnstitut Espanyol d'Història Eclesiàstica, que té la seva seu a 'Església Nacional de Montserrat, a Roma. El 2001 fou nomenat membre corresponent de la Real Academia de la Historia de Madrid. El Dr. Marquès va morir el novembre de 2007.
						<br> <br>
						<br>
						<img src="{{ asset('bundles/adg/img/bust_marques.jpg') }}"/>
						<br>
						<br>
						<b>Bibliografia acadèmica</b>
						<br> 1959
						<br> 1.- &quot;La Iglesia de Gerona durante los sitios de 1808 y 1809&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 13 (1959), 305-356.
						<br> 
						<br> 1960
						<br> 2.- [Col.lab. amb Jaume Marqu&egrave;s C.], &quot;Apuntes hist&oacute;ricos sobre el palacio episcopal de Gerona&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 14 (1960), 263-306.
						<br> 
						<br> 1962
						<br> 3.- [Col.lab. amb Jos&eacute; Janini], &quot;Manuscritos de la Colegiata de San F&eacute;lix de Gerona&quot;, dins Hispania Sacra 15 (1962), 401-437.
						<br> 
						<br> 1965
						<br> 4.- &quot;Facs&iacute;miles de manuscritos lit&uacute;rgicos toledanos en los legajos de Burriel (Biblioteca Nacional)&quot;, dins Hispania Sacra 18 (1965), 27-32.
						<br> 
						<br> 1966
						<br> 5.- San Pedro de Figueras, Figueres, 1966, 30 pp.
						<br> 
						<br> 1974
						<br> 6.- [Col.lab. amb Frederic Pujol], &quot;Cat&agrave;leg de les obres de Mn. Llu&iacute;s Romeu&quot;, dins Ausa (Vic) 7 (1974) 187-210.
						<br> 7.- &quot;Relationes ad Limina&quot; de la provincia eclesi&aacute;stica Tarraconense en el Archivo Vaticano&quot;, dins Analecta Sacra Tarraconensia 47 (1974), 209-217.
						<br> 
						<br> 1975
						<br> 8.- &quot;Onom&agrave;stica gironina&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 22 (1975), 51-73.
						<br> 9.- Pere Antoni de Vilob&iacute;, s&iacute;ndic dels remences, Vilob&iacute; d'Onyar, 1975, 24 pp.
						<br> 
						<br> 1976
						<br> 10.- &quot;Indices del archivo de la Nunciatura de Madrid. I. 1664-1754, dins Anthologica Annua 22-23 (Roma 1975-1976), 691-853.
						<br> 11.- &quot;Estructures i mentalitats a l'esgl&eacute;sia gironina (1875-1900)&quot;, dins Revista de Girona 76 (1976), 135-141.
						<br> 12.- Vilob&iacute; d'Onyar a trav&eacute;s del capbreu d'en Ramon Malars (1338), Vilob&iacute; d'Onyar, 1976, 26 pp, republicat dins Estudios de historia agraria (Barcelona) 5 (1985), 27-52.
						<br> 
						<br> 1977
						<br> 13.- &quot;Constantino Bonet, obispo de Gerona (1862-1875)&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 23 (1976-1977), 257-278; 24 (1978), 177-204.
						<br> 14.- Uns homes de Vilob&iacute; compren per al rei la jurisdicci&oacute; del poble (1374), Vilob&iacute; d'Onyar, 1977, 12 pp.
						<br> 
						<br> 1978
						<br> 15.- &quot;Las instrucciones de la Nunciatura de Barcelona (1710-1713)&quot;, dins Anthologica Annua 24 (1977-1978), 681-802.
						<br> 16.- L'Esgl&eacute;sia a Vilob&iacute; d'Onyar, Vilob&iacute; d'Onyar, 1978, 20 pp.
						<br> 17.- &quot;El mestre Renall a Girona&quot;, dins Revista de Girona 85 (1978), 339-343.
						<br> 18.- &quot;Els calendaris de Girona&quot;, dins Miscel.l&agrave;nia Lit&uacute;rgica catalana I, Barcelona, 1978, 135-166.
						<br> 19.- &quot;Aviyonet de Puigvent&oacute;s, poble, parr&ograve;quia i castell&quot;, dins Annals de l'Institut d'Estudis Empordanesos 13 (Figueres, 1978), 11-66.
						<br> 
						<br> 1979
						<br> 20.- &quot;Escoles gironines del segle XVII&quot;, dins Revista de Girona 87 (1979), 77-81.
						<br> 
						<br> 
						<br> 1980
						<br> 21.- &quot;Per a una geografia religiosa de la di&ograve;cesi de Girona&quot;, dins Revista de Girona 93 (1980), 311-314.
						<br> 
						<br> 1981
						<br> 22.- &quot;Sant Feliu de Gu&iacute;xols el 1602&quot;, dins Estudi General. Miscel.l&agrave;nia commemorativa del des&egrave; aniversari del Col.legi Universitari de Girona, Girona, 1981, 131-135.
						<br> 23.- &quot;Els estudis al Seminari (1826-1918)&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 25/II (1981), 255-267.
						<br> 24.- &quot;Entre Roma y Madrid. La nunciatura espa&ntilde;ola en 1675&quot;, dins Anthologica Annua 26-27 (1980-1981), 407-553.
						<br> 25.- &quot;El sepulcre de Sant Daniel, de mestre Aloy&quot;, dins Revista de Girona 96 (1981), 195-201.
						<br> 
						<br> 1982
						<br> 26.- &quot;De Cornell&agrave; a Caracas. L'arquebisbe Coll i Prats (1754-1822)&quot;, dins Revista de Girona 100 (1982), 241-245.
						<br> 27.- Guia de l'arxiu dioces&agrave; de Girona, Girona, 1982, 24 pp.
						<br> 
						<br> 1983
						<br> 28.- Cultura cristiana a Catalunya, Girona, 1983, 28 pp.
						<br> 29.- La Santa Sede y la Espa&ntilde;a de Carlos II. La negociaci&oacute;n del nuncio Millini, 1675-1685, Roma 1983, 259 pp.
						<br> 
						<br> 1984
						<br> 30.- &quot;El Dr. Cirus Valls, pedagog, orador i acad&egrave;mic (1741-1818?)&quot;, dins Revista de Girona 106 (1984), 39-44.
						<br> 31. -&quot;Cl&agrave;usules d'evicci&oacute; d'alguns notaris gironins del segle XIII, dins Arxiu de Textos Catalans Antics 3 (1984), 13-27.
						<br> 32.- &quot;Tribunals peculiars eclesi&agrave;stico-civils de Catalunya: les Contencions i el Breu&quot;, dins Primer Congr&eacute;s d'Hist&ograve;ria moderna de Catalunya, Barcelona, 1984, II, 381-392.
						<br> 33.- &quot;La senyoria eclesi&agrave;stica de Sant Sadurn&iacute; de l'Heura fins al 1319&quot;, dins Estudis del Baix Empord&agrave; 3 (1984), 71-106.
						<br> 34.- Pergamins de la Mitra (881-1687). Arxiu Dioces&agrave; de Girona, Girona, 1984, 190 pp (Monografies de l'Institut d'Estudus Gironins, 10).
						<br> 
						<br> 1985
						<br> 35.- [Col.lab. amb J. Cervera], &quot;Nota sobre un catecisme del s. XVIII, de Sant Feliu de Guixols&quot;, dins Estudis del Baix Empord&agrave; 4 (1985), 135-143.
						<br> 36.- Arxiu Dioces&agrave; de Girona. Balan&ccedil; i perspectiva, Girona, 1985, 36 pp.
						<br> 37.- &quot;Una mirada cap al passat de les parr&ograve;quies&quot;, dins Quaderns de Pastoral (Barcelona) 93 (1985), 25-40.
						<br> 38.- &quot;Exclaustraci&oacute; i exclaustrats&quot;, dins Revista de Girona 113 (1985), 300-304.
						<br> 39.- Indices del Archivo de la Nunciatura de Madrid. II. Vols 103-228. Roma, 1985, 155 pp (Publ. del Instituto Espa&ntilde;ol de Historia Eclesi&aacute;stica. Subsidia, 19).
						<br> 40.- &quot;L'arxiu del monestir de Banyoles&quot;, dins Quaderns del Centre d'Estudis Comarcals de Banyoles, 1980-1984 [1985], 9-25.
						<br> 41.- &quot;Documents sobre l'esgl&eacute;sia de Sant Miquel de Roca&quot;, dins Quaderns del Centre d'Estudis Comarcals de Banyoles, 1980-1984 [1985], 133-144.
						<br> 
						<br> 1986
						<br> 42.- Rutes d'Art Sacre (1939-1985), Girona, 1986, 107 pp (Quaderns de la Revista de Girona, 3).
						<br> 43.- &quot;El Mont: noves dades sobre el monestir i el santuari&quot;, dins Patronat d'Estudis Hist&ograve;rics d'Olot i comarca. Annals, 1986, t I, 107-136.
						<br> 44.- &quot;Sis diaris i mem&ograve;ries de guerra sacerdotals&quot;, dins La guerra civil a les comarques gironines (1936-1939), Girona, 1986, 71-87.
						<br> 45.- El cartoral de Santa Maria de Roses (segles X-XIII), Barcelona 1986, 156 pp (Institut d'Estudis Catalans. Mem&ograve;ries de la secci&oacute; Hist&ograve;rico-Arqueol&ograve;gica, XXXVII).
						<br> 46.- &quot;Fragment de di&agrave;leg entre el duc i el fil&ograve;sof&quot;, dins Arxiu de Textos Catalans Antics 5 (1986), 281-285.
						<br> 47.- [Col.lab. amb J. Alturo], &quot;La publicaci&oacute; de col.leccions documentals&quot;, dins Arxiu de Textos Catalans Antics 5 (1986), 305-324.
						<br> 48.- &quot;Dades sobre el temple mon&agrave;stic i parroquial de Sant Feliu de Gu&iacute;xols (s. XV-XVII)&quot;, dins Estudis del Baix Empord&agrave; 5 (1986), 87-112.
						<br> 49.- &quot;Documents sobre conspiracions profranceses al bisbat de Girona, 1653-1661&quot;, dins Paraula i Hist&ograve;ria. Miscel.l&agrave;nia P. Basili de Rub&iacute;, Barcelona, 1986, 687-700 (=Estudis Franciscans 87 (1986), 979-992).
						<br> 
						<br> 1987
						<br> 50.- Santa Maria de Porqueres, esgl&eacute;sia rom&agrave;nica del segle XII, Girona, 1987, 32 pp (Col.lecci&oacute; Sant Feliu, 1).
						<br> 51.- Impresos gironins de la biblioteca del Seminari Dioces&agrave; (1502-1936), Girona, 1987, 225 pp (Col.lecci&oacute; Francesc Montsalvatje, 2).
						<br> 52.- [Col.lab. amb Pere Mical&oacute;], Santa Maria de Palam&oacute;s, Palam&oacute;s, 1987, 40 pp (Col.lecci&oacute; Sant Feliu, 2).
						<br> 53.- &quot;Documents en pergam&iacute; de l'Arxiu Municipal de Palam&oacute;s&quot;, dins Estudis del Baix Empord&agrave; 6 (1987), 119-135.
						<br> 54.- Cistella i l'ermita de Vida, Cistella 1987, 15 pp (Col.lecci&oacute; Sant Feliu, 3).
						<br> 
						<br> 1988
						<br> 55.- &quot;Pergamins de Santa Maria de Palam&oacute;s&quot;, dins Estudis del Baix Empord&agrave; 7 (1988), 101-146.
						<br> 56.- &quot;El s&iacute;node de Lleida de 1418&quot;, dins Jornades sobre el Cisma d'Occident a Catalunya, les Illes i el Pa&iacute;s Valenci&agrave;, Barcelona, 1988, 465-478.
						<br> 57.- &quot;La Corona d'Arag&oacute; als registres d'Urb&agrave; VI&quot;, dins Jornades sobre el Cisma d'Occident a Catalunya, les Illes i el Pa&iacute;s Valenci&agrave;, Barcelona, 1988, 457-463.
						<br> 58.- &quot;Fundacions de causes pies al bisbat de Girona (s. XVI-XIX)&quot;, dins Segon Congr&eacute;s d'Hist&ograve;ria Moderna de Catalunya. Pedralbes. Revista d'hist&ograve;ria moderna, 8-I, Barcelona 1988, 513-523.
						<br> 59.- [Col.lab. amb Pere Mical&oacute;], El monestir de Cervi&agrave;, Cervi&agrave;, 1989, 48 pp (Col.lecci&oacute; Sant Feliu, 5).
						<br> 60.- &quot;Gent, terra i bestiar a Vilob&iacute;&quot;, dins Quaderns de la Selva 2 (1988), 145-155.
						<br> 
						<br> 1989
						<br> 61.- La parr&ograve;quia de Borrass&agrave;, Borrass&agrave; 1989, 48 pp (Col.lecci&oacute; Sant Feliu, 7).
						<br> 62.- Arxiu Dioces&agrave; de Girona. Una etapa, Girona, 1989, 70 pp (Col.lecci&oacute; Sant Feliu, 8).
						<br> 63.- &quot;Un nou fragment de Guillem de Conques en catal&agrave;&quot;, dins Arxiu de Textos Catalans Antics 7/8 (1988-1989), 288-293.
						<br> 64.- &quot;L'avui i el dem&agrave; de la cultura cristiana a Catalunya&quot;, dins Revista Catalana de Teologia XIV (1989), 565-576.
						<br> 65.- &quot;Documents de Santa Maria de Llad&oacute; anteriors al s. XIV conservats a l'Arxiu Dioces&agrave; de Girona&quot;, dins Annals de l'Institut d'Estudis Empordanesos 22 (1989), 271-291.
						<br> 66.- &quot;Fundaciones de beneficios en el obispado de Gerona, s. XII-XVIII&quot;, dins Anthologica Annua 36 (1989), 493-507.
						<br> 67.- &quot;Sant Esteve de Riudellots, parr&ograve;quia medieval&quot;, dins El Cric (Riudellots de la Selva, suplement del n&uacute;mero 50), Riudellots, 1989, 37-44.
						<br> 68.- Josep M. MARQU&Egrave;S, &quot;Impresos forenses de la Biblioteca del Seminari Dioces&agrave; de Girona (1604-1878)&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 30 (1988-89), 389-430.
						<br> 
						<br> 1990
						<br> 69.- &quot;Nota sobre cr&egrave;dits de jueus de Girona, 1418-1420&quot;, dins Jornades d'Hist&ograve;ria dels Jueus a Catalunya. Actes. Girona, abril 1987. Girona, Ajuntament 1990, 333-338
						<br> 70.- &quot;El Vestuari de Girona i l'illa de Mallorca&quot;, dins XIII Congr&eacute;s d'Hist&ograve;ria de la Corona d'Arag&oacute; (Palma de Mallorca, 27 setembre - 1 octubre 1987), Institut d'Estudis Bale&agrave;rics, 1990, Comunicacions II, 215-232.
						<br> 71.- Cristians de Girona, Girona 1990, 96 p. (Quaderns de la Revista de Girona, 29).
						<br> 
						<br> 1991
						<br> 72.- Monestir i esgl&eacute;sies de Breda, Breda 1991, 64 p.
						<br> 73.- La parr&ograve;quia d'Avinyonet, Avinyonet 1991, 64 p.
						<br> 74.- &quot;Los empr&eacute;stitos pontificios de 1860 y 1864 en Espa&ntilde;a&quot;, dins Anthologica Annua 38 (1991), 203-227.
						<br> 75.- &quot;Algunes refer&egrave;ncies documentals sobre la can&ograve;nica i la col.legiata de Vilabertran (1300-1835)&quot;, dins Annals de l'Institut d'Estudis Empordanesos 24 (1991) 111-125.
						<br> 76.- &quot;Un formulari de lletres de la c&uacute;ria eclesi&agrave;stica de Girona&quot;, dins Arxiu de Textos Catalans Antics 10 (1991), 319-334.
						<br> 
						<br> 
						<br> 1992
						<br> 77.- [En col.laboraci&oacute; amb Josep Clara] Sant Feliu de Girona, Girona 1992, 64 p.
						<br> 78.- Santa Maria de Roses, Roses 1992, 54 p.
						<br> 79.- &quot;Benediccions de barques&quot;, dins Estudis del Baix Empord&agrave; 11 (1992), 5-11.
						<br> 80.- &quot;Jueus del Baix Empord&agrave; a les lletres episcopals (1326-1385)&quot;, dins Estudis del Baix Empord&agrave; 11 (1992), 13-31.
						<br> 81.- &quot;La di&ograve;cesi de Girona a trav&eacute;s de les lletres de la c&uacute;ria (1420-1620)&quot;, dins Miscel.l&agrave;nia en honor del cardenal Narc&iacute;s Jubany i Arnau, Barcelona 1992, 391-408.
						<br> 82.- &quot;Argimon: indret castell i santuari. Dades in&egrave;dites&quot;, dins Quaderns de la Selva 5 (1992), 31-42.
						<br> 83.- &quot;Pergamins de Santa Maria de Besal&uacute; a l'Arxiu Dioces&agrave; de Girona&quot;, dins Patronat d'Estudis Hist&ograve;rics d'Olot i comarca. Annals 1990-1991, Olot 1992), 239-310.
						<br> 
						<br> 1993
						<br> 84.- [Col.laboraci&oacute; amb Narc&iacute;s Amich] La parr&ograve;quia de Celr&agrave;, Celr&agrave; 1993, 64 pp.
						<br> 85.- La parr&ograve;quia de Siurana. Esgl&eacute;sies de Santa Coloma de Siurana i &quot;Santa Ll&uacute;cia&quot; (Sant Esteve) de Tony&agrave;, Siurana 1993, 64 pp
						<br> 86.- Cartoral, dit de Carlemany, del bisbe de Girona (s. IX-XIV), Barcelona (Fundaci&oacute; Noguera) 1993, 865 pp en dos vols.
						<br> 87.- &quot;La investigaci&oacute; de la hist&ograve;ria religiosa de Catalunya als arxius&quot;, dins I Congr&eacute;s d'Hist&ograve;ria de l'Esgl&eacute;sia Catalana (Solsona, del 20 al 23 de setembre de 1993), Actes, Barcelona 1993, t. I, 9-28.
						<br> 88.- &quot;El govern de la di&ograve;cesi i de la bisbalia de Girona (1334-1362)&quot;, dins Estudis del Baix Empord&agrave; 12 (1993) 85-105.
						<br> 89.- &quot;Ensenyament al bisbat de Girona, fins a la Il.lustraci&oacute;&quot;, dins Arxiu de Textos Catalans Antics, 12 (1993), 273-301.
						<br> 90.- &quot;La di&ograve;cesi de Girona de 1906 a 1925&quot;, dins Esgl&eacute;sia i societat a la Girona contempor&agrave;nia, Girona 1993 (Quaderns del Cercle d'Estudis Hist&ograve;rics i Socials, 9), 73-115.
						<br> 91.- Can&ograve;nica de Santa Maria de Vilabertran. Guia hist&ograve;rica i arquitect&ograve;nica, Barcelona (Curial) 1993, 64 p.
						<br> 92.- [Col.laboraci&oacute; amb Jaume Reixach], La parr&ograve;quia de Santa Maria de Blanes (Col.lecci&oacute; Sant Feliu, 16), Blanes 1993, 70 p.
						<br> 
						<br> 1994
						<br> 93.- Arb&uacute;cies cristiana, (Col.lecci&oacute; Sant Feliu, 17) Arb&uacute;cies 1994, 76 p.
						<br> 94.- Sant Ferriol de Besal&uacute; (Col.lecci&oacute; Sant Feliu, 18), Sant Ferriol, 1994, 70 p.
						<br> 95.- &quot;Sis-cents pidolaires (1368-1540). Captius, esclaus i peregrins&quot;, dins Estudis del Baix Empord&agrave; 13 (1994), 137-165.
						<br> 96.- Concilis Provincials Tarraconenses. Barcelona, ed. Proa, 1994, 195 pp.
						<br> 97.- &quot;Bibliografia del doctor Jaume Marqu&egrave;s&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 33 (1994) 25-36.
						<br> 98.- &quot;Confraries medievals del bisbat de Girona&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 34 (1994), 335-375.
						<br> 
						<br> 1995
						<br> 99.- Escriptures de Santa Maria de Vilabertran (968-1300), Figueres, 1995, 404 pp.
						<br> 100.- Esteve Pruenca i Bayona(+) Diplomatari de Santa Maria d'Amer, Edici&oacute; i introducci&oacute; a cura de Josep M. Marqu&egrave;s, Barcelona, 1995.
						<br> 101.- &quot;Les actes de consagraci&oacute; de les esgl&eacute;sies d&#34;Arb&uacute;cies, Vallcanera i Martorell (s. X)&quot;, dins Quaderns de la Selva 7 (1994), 151-156.
						<br> 102.- &quot;El govern episcopal de la Bisbal&quot;, dins Estudis del Baix Empord&agrave;, 14 (1994), 137-149.
						<br> 103.- [Col.lab. amb Miquel S. Gros] &quot;L&#34;Antifonari de Sant Feliu de Girona -Girona, Museu Dioces&agrave;, ms. 45-&quot;, dins Miscel.l&agrave;nia Lit&uacute;rgica Catalana, VI, Barcelona, 1995, 177-326.
						<br> 104.- &quot;Cultes de sants medievals&quot;: pon&egrave;ncia al XVIII&egrave; col.loqui general de la Societat d&#34;Onom&agrave;stica (Girona, 22 i 23 d&#34;octubre de 1993), dins Societat d&#34;Onom&agrave;stica. Butllet&iacute; interior LIX (1994) 11-30.
						<br> 
						<br> 1996
						<br> 105.- &quot;Notes hist&ograve;riques sobre la di&ograve;cesi de Girona i les seves parr&ograve;quies&quot;, dins Butllet&iacute; de l&#34;Esgl&eacute;sia de Girona 138 (1996) 91-134.
						<br> 106.- El temple parroquial de Navata, Navata 1996, 40 pp. (Col.lecci&oacute; Sant Feliu, 19).
						<br> 107.- &quot;Llinatges medievals de l&#34;Empord&agrave;&quot;, dins Annals de l&#34;Institut d&#34;Estudis Empordanesos 28 (1995), 89-117.
						<br> 108.- &quot;Creaci&oacute; i extinci&oacute; de parr&ograve;quies al bisbat de Girona&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 35 (1995), 405-446.
						<br> 109.- &quot;Set cenobis femenins de l&#34;Empord&agrave;&quot;, dins Estudis del Baix Empord&agrave; 15 (1995), 69-100.
						<br> 110.- &quot;Esgl&eacute;sies del Baix Empord&agrave;&quot;, dins Estudis del Baix Empord&agrave; 15 (1995), 35-67.
						<br> 111.- Fornells: l&#34;esgl&eacute;sia i l&#34;Esgl&eacute;sia, Fornells, 1996, 82 pp. (Col.lecci&oacute; Sant Feliu, 20).
						<br> 
						<br> 1997
						<br> 112.- &quot;Nota sobre vicissituts de Santa Maria del Roure&quot;, dins Annals de l&#34;Institut d&#34;Estudis Empordanesos, 29 (1996), 161-175.
						<br> 113.- Col.lecci&oacute; diplom&agrave;tica de Sant Daniel de Girona (924-1300), Barcelona (Fundaci&oacute; Noguera, Col.lecci&oacute; Diplomataris, 11), 723 pp.
						<br> 114.- &quot;An&agrave;lisi del concili Tarraconense&quot;, dins Q&uuml;estions de Vida Cristiana, 185 (1997), 85-96.
						<br> 115.- &quot;Parr&ograve;quies i divisi&oacute; administrativa del territori, fins al s. XI&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 38 (1996-7), 1501-1520.
						<br> 116.- Cultura i art d&#34;esgl&eacute;sia a la di&ograve;cesi de Girona, 1986-1997, Girona, Institut Superior de Ci&egrave;ncies Religioses, 1997, 56 pp.
						<br> 
						<br> 1998
						<br> 117.- &quot;La parr&ograve;quia de P&uacute;bol&quot;, dins Estudis del Baix Empord&agrave; 17 (1998), 91-106.
						<br> 118.- Gu&iacute;a-inventari de l&#34;Arxiu Dioces&agrave; de Girona, Girona, 1998, 185 pp.
						<br> 119.- &quot;Comitents i documentaci&oacute; de l&#34;art d&#34;esgl&eacute;sia al bisbat de Girona, s XVI&quot;, dins De Flandes a It&agrave;lia. El canvi de model en la pintura catalana del segle XVI: el Bisbat de Girona, Girona, 1998, 23-29.
						<br> 120.- &quot;&Iacute;ndexs dels Annals (1946-1996)&quot;, dins Institut d&#34;Estudis Gironins. Mig segle de vida acad&egrave;mica (1946-1996), Girona, 1998, 33-121.
						<br> 121.- Articles &quot;biblioteques eclesi&agrave;stiques&quot;, &quot;catequesi&quot;, &quot;confraria&quot; i altres, dins Diccionari d&#34;Hist&ograve;ria de l&#34;Esgl&eacute;sia de Catalunya&quot;, I, Barcelona, 1998.
						<br> 122.- &quot;Redescobriment d&#34;inscripcions medievals a Sant Feliu de Girona&quot;, dins Revista de Girona 191 (1998), 32-38.
						<br> 
						<br> 1999
						<br> 123.- Masos de Fornells, Fornells (Ajuntament) 1999, 239 pp.
						<br> 124.- &quot;Construcci&oacute; de les esgl&eacute;sies de Palafrugell i Mont-ras (1588ss)&quot;, dins Estudis del Baix Empord&agrave;, 18 (1999), 55-64.
						<br> 125.- &quot;L&#34;arxiu de Francesc de Cardona i la seva fam&iacute;lia valenciana (segle XVII), dins Analecta Sacra Tarraconensia 71 (1998), 499-536.
						<br> 126.- &quot;El concili Tarraconense de 1717; el procediment&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 39 (1998), 217-233.
						<br> 127.- &quot;Recensi&oacute; de R. Mart&iacute;, Col.lecci&oacute; diplom&agrave;tica de la seu de Girona (817-1100)&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 39 (1998), 461-470.
						<br> 128.- &quot;Rodalies d&#34;algunes parr&ograve;quies de la Garrotxa&quot;, dins Patronat d&#34;Estudis Hist&ograve;rics d&#34;Olot i comarca. Annals 1996-1998, 99-130.
						<br> 129.- &quot;Els personats i permutes de beneficis al bisbat de Girona (s. XVI-XVIII)&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 40 (1999), 145-183.
						<br> 
						<br> 2000
						<br> 130.- &quot;Organistes i mestres de capella de la di&ograve;cesi de Girona&quot;, dins Anuario Musical 54 (1999), 89-130.
						<br> 131.- &quot;Canadal i Caneres, serrells del Roure&quot;, dins Annals de l&#34;Institut d&#34;Estudis Empordanesos 32 (1999), 99-111.
						<br> 132.- [Col.laboraci&oacute; amb &Eacute;rika Serna] &quot;La fam&iacute;lia Trilla i el sepulcre del cavaller Asbert (+1334) de Vilanova de la Muga&quot;, dins Annals de l&#34;Institut d&#34;Estudis Empordanesos 32 (1999), 113-125.
						<br> 133.- &quot;Tom&agrave;s de Lorenzana, bisbe de Girona, un funcionari benefactor (1775-1796)&quot;, dins Bisbes, Il.lustraci&oacute; i jansenisme a la Catalunya del segle XVIII, Vic 2000, 11-87.
						<br> 134.- Articles &quot;Girona, bisbat i catedral&quot;, &quot;historiograf&iacute;a religiosa a Catalunya&quot;, &quot;missa&quot;, i altres, dins Diccionari d&#34;Hist&ograve;ria de l&#34;Esgl&eacute;sia de Catalunya&quot;, II, Barcelona, 2000.
						<br> 135.- Pies paraules. An&agrave;lisis de llenguatge religi&oacute;s (Col.lecci&oacute; Francesc Eiximenis, 7), Girona 2000, 96 pp.
						<br> 136.- Ermites i santuaris de la di&ograve;cesi de Girona (Col.lecci&oacute; Francesc Montsalvatje, 4), Girona 2000, 183 pp.
						<br> 137.- Carreres dels col.laboradors de bisbes de Girona, 1600-1774, dins Annals de l&#34;Institut d&#34;Estudis Gironins XLI (2000), 125-178.
						<br> 138.- Recensions de &quot;Llibre verd de la ciutat de Girona&quot;, a cura de Ch. Guiller&eacute;, M. Jim&eacute;nez, &quot;La catedral de Girona en el segle XVIII&quot; i J. Alturo, &quot;Studia in codicum fragmenta&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins XLI (2000), 565-587.
						<br> 139.- Per les esgl&eacute;sies, Girona 2000 (Quaderns de la Revista de Girona, n&uacute;m. 88), 96 pp.
						<br> 140.- [Col.laboraci&oacute; amb Pep Vila] &quot;Llic&egrave;ncies i permisos de representacions teatrals en les comarques gironines de la Contrareforma&quot;, dins Arxiu de Textos Catalans Antics 19 (2000), 481-502.
						<br> 141.- [Col.laboraci&oacute; amb Enric Molin&eacute;] &quot;Els bisbes auxiliars antics a Catalunya (1320-1550)&quot;, dins Analecta Sacra Tarraconensia 72 (1999), 5-50.
						<br> 
						<br> 2001
						<br> 142.- Articles &quot;process&oacute;&quot;, &quot;s&iacute;nodes&quot;, i altres, dins Diccionari d&#34;Hist&ograve;ria de l&#34;Esgl&eacute;sia de Catalunya&quot;, III, Barcelona, 2001.
						<br> 143.- (Col.lab. amb Jacint Ravent&oacute;s), Els hospitals de les comarques gironines, Barcelona 2001 (Hist&ograve;ria dels Hospitals de Catalunya, II), 19-36.
						<br> 144.- &quot;El temple de Sant Feliu de Girona, al s. XIV&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins XLII (2001) 131-150.
						<br> 145.- [Col.laboraci&oacute; amb Pep Vila] &quot;Refer&egrave;ncies al teatre medieval en les actes capitulars de la catedral de Girona&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins XLII (2001), 261-280.
						<br> 146.- &quot;Al marge del dret can&ograve;nic dioces&agrave; de Girona durant la baixa Edat Mitja&quot; [recensi&oacute; de S. Bueno, El derecho can&oacute;nico catal&aacute;n ...], dins Annals de l&#34;Institut d&#34;Estudis Gironins XLII (2001), 691-706.
						<br> 
						<br> 2002
						<br> 147.- &quot;Santa Maria de Vilabertran, els homes i l&#34;edifici&quot;, dins Santa Maria de Vilabertran, 900 anys (Monografies empordaneses, 7), Figueres, 2002, 33-46.
						<br> 148.- L&#34;esgl&eacute;sia parroquial de Sant Pere de Figueres, Figueres, 2002 (Col.lecci&oacute; Sant Feliu, 23, 80 pp
						<br> 149.- &quot;Tom&agrave;s Mieres i la seva obra&quot; (recensi&oacute;), dins Annals de l&#34;Institut d&#34;Estudis Gironins XLII (2001), 351-363.
						<br> 
						<br> 2003
						<br> 150.- &quot;El seminari de Girona, de 1600 a 1936&quot;, dins Dominus Vobiscum. Hist&ograve;ria i vida del Seminari de Girona, Girona 2003, 7-29.
						<br> 151.- &quot;Processos anteriors al 1500 de l&#34;Arxiu Dioces&agrave; de Girona&quot;, dins Annals de l&#34;Institut d&#34;Estudis Gironins 44 (2003), 145-178
						<br> 152.- &quot;La di&ograve;cesi de Girona i la cultura, al segle XX. Fets i q&uuml;estions&quot;, dins Germinabit. L&#34;expressi&oacute; religiosa en llengua catalana al segle XX. Di&ograve;cesi de Girona, Barcelona 2003, 25-58. 
						<br><br/>2005
						<br> 153.- &quot;El monestir d'Amer: persones i institucions&quot;, dins Quaderns de la Selva 17 (2005), 53-80 p.
						<br> 154.- [col&middot;laboraci&oacute; amb Francesc Feliu] &quot;Ordinari [Ritual] de Girona: 1502&quot;, transcripci&oacute; i estudi introductori, Girona, (2006), Col&middot;lecci&oacute; Francesc Montsalvatje, 6. 183 p.
						<br> 155.- &quot;Vida i mort de l'Acci&oacute; Cat&ograve;lica gironina (1940-1963), dins Miscel&middot;l&agrave;nia Llu&iacute;s Esteve de l'Institut Estudis del Baix Empord&agrave;, (2006) 185-208.
						<br> 156.- &quot;Historia de la diocesis de Gerona&quot;, dins de Historia de las di&oacute;cesis espa&ntilde;olas. II: Barcelona, Terrassa, Sant Feliu de Llobregat, Gerona. Madrid, 2006. 708 p.
						<br><br/>2007
						<br> 157.- &quot;Sant Feliu versus Sant Narc&iacute;s&quot;, dins revista de Girona 2006 (240), 79-86 p. 
						<br> 158.- [col&middot;laboraci&oacute; amb Jaume de Puig i Oliver]. &quot;Lletres del bisbe de Girona. Segle XIV&quot;. Vol. I (n.1-60). Barcelona, 2007. 744 p.
						<br> 159.- Impresos dels s.XV-XVI. Biblioteca del Seminari de Girona&quot;. Girona, 2007. Col&middot;lecci&oacute; Francesc Montsalvatje, 7. 247 p.
						<br> 160.- &quot;Una hist&ograve;ria de la di&ograve;cesi de Girona (ca. 300-2000)&quot;. Girona-Barcelona, 2007. 325 p.
						<br> 
						<br> 
						<button class="close btn btn-sm" data-toggle="collapse" data-target="#marques"><p style="font-size:60%" >Tancar</p></button>	
						<br> 				
						</p>
					</div>
				</div>
	
				<h3>Col·laboradors arxiu</h3>
				
				<p>Pere Trijueque i Fonalleras</p>
				<p>Albert Serrat</p>
				<p>Alfons Martinell</p>
				
				
				<h3>Equip desenvolupador</h3>
				
				<p><strong>Cap Projecte:</strong> <a href="#mayol" data-toggle="collapse" data-target="#mayol" style="color:black">Enric Mayol Sarroca</a></p>
				<div id="mayol" class="collapse">
					<div class="space5"></div>
					<div class="alert alert-info">
						<button type="button" class="close" data-toggle="collapse" data-target="#mayol">&times;</button>
							<h4>Enric Mayol Sarroca</h4>
							<p>
								Doctor Enginyer en Informàtica FIB (Facultad Informàtica Barcelona) - UPC (Universitat Politècnica Catalunya) <br>
								<br>
								Director del projecte de construcció de la web<br>
							</p> 
					</div>
				</div>
				
				<p><strong>Desenvolupador:</strong> <a href="#cobas" data-toggle="collapse" data-target="#cobas" style="color:black">Gerard Cobas Bussot</a></p>
				<div id="cobas" class="collapse">
					<div class="space5"></div>
					<div class="alert alert-info">
						<button type="button" class="close" data-toggle="collapse" data-target="#cobas">&times;</button>
							<h4>Gerard Cobas Bussot</h4>
							<p>
								Estudiant d'enginyeria informàtica a la FIB (Facultad d'Informàtica de Barcelona) - UPC (Universitat Politècnica Catalunya)  <br>
								<br>
								Ha realitzat la construcció de la web com a treball final de grau.<br>
							</p> 
					</div>
				</div>

	        	<div class="space10"></div>
	        	<h3>Contacte</h3>
	        	<a href="mailto:webmaster@arxiuadg.org">webmaster@arxiuadg.org</a>
	        	<div class="space10"></div>
	        </div>

	        
   	  </div>
{% endblock %}
