<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">4. Administració econòmica</h1>
				 L'estructura de l'economia 
    eclesiàstica de l'Antic Règim, basada en la institució 
    beneficial per al sosteniment de les persones, i en l'assignació de 
    rendes precises per a cada institució, donava peu a poques intervencions 
    de la cúria episcopal, llevat que es tractés de contenciosos, 
    que eren resolts per via judicial. Es coneguda la participació de l'Estat 
    en els ingressos eclesiàstics, en concepte de "Subsidio y Excusado", 
    espolis i vacants; normalment l'administració civil se servia del capítol 
    catedralici per fer efectives les quantitats que li corresponien per aquests 
    títols. A la segona meitat del s. XVIII el Bisbat gestiona també 
    un "Fondo Pio Beneficial", al que es destinen les rendes de beneficis 
    incongrus.<p></p>
  <p>Després de la desamortització, 
    els papers s'inverteixen. L'Estat satisfà, a través del pressupost 
    de Culte i Clerecia, unes quantitats a les parròquies i als titulars 
    de beneficis; el bisbat intervé en el seu pagament a través 
    d'una habilitació. També el bisbat centralitza l'administraciò 
    de les pies deixes dels fidels assignades a finalitats de culte o d'apostolat 
    de les parròquies. </p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="depositaad"></a></p>
  <p><br>

    4.1. DEPOSITA<br>
    1355-1928 134 vv, 10 llig.</p>
  <p>Actes d'ingrés 
    i sortida a la tresoreria de la Seu de fons resultants de la redempció 
    de càrregues beneficials, commutació de beneficis, compra i 
    lluïció de censals, etc. Des de mitjan segle passat, la sèrie 
    conté les actes d'erecció de fundacions parroquials, principalment 
    de sufragis, constituïdes per decret del Vicari General. Amb poques excepcions, 
    els volums són sense foliar.</p>
  <p>1 (1355-1504), 240 f; 
    2 (1504-1533), 233 f; 3 (1533-1551); 4 (1551-1560), 240 f; 5 (1560-1569); 
    6 (1569-1580), 478 f; 7 (1581-1588); 8 (1588-1593); 9 (1594-1600); 10 (1600-1606); 
    11 (1606-1614); 12 (1614-1623); 13 (1623-1629); 14 (1629-1634); 15 (1634-1639); 
    16 (1639-1644); 17 (1644-1650); 17 (1651-1667); 19 (1667-1669); 20 (1670-1672); 
    21 (1672-1674); 22 (1674-1676); 23 (1677-1681); 24 (1681-1684); 25 (1684-1689); 
    26 (1690-1691); 27 (1692-1696); 28 (1695-1697); 29 (1697-1698); 30 (1698-1700); 
    31 (1700-1703); 32 (1703-1706); 34 (1708-1709); 35 (1709-1710); 36 "defalch 
    1710", 204 pp; 37 (1710-1714); 38 (1714-1717); 39 (1717-1720); 40 (1720-1722); 
    41 (1722-1723); 42 (1723-1725); 43 (1725-1727); 44 (1727-1729); 45 (1729-1730); 
    46 (1730-1731); 47 (1732-1733); 48 (1733-1734); 49 (1734-1735); 50 (1735-1737); 
    51 (1737-1738); 52 (1738-1739); 53 (1739-1740); 54 (1740-1741741); 55 (1741-1742); 
    56 (1742-1743); 57 (1743-1744); 58 (1744-1745); 59 (1745); 60 (1745-1746); 
    61 (1746) 62 (1746-1747); 63 (1747-1748); 64 (1748-1749); 65 (1749); 66 (1749); 
    67 (1749-1750); 68 (1750); 69 (1750); 70 (1750-1751); 71 (1751-1752); 72 (1752); 
    73 (1752-1753); 74 (1753-1754); 75 (1754-1755); 76 (1755-1756); 77 (1756); 
    78 (1756-1757); 79 (1757-1758); 80 (1758); 81 (1758-1759); 82 (1759-1760); 
    83 (1760); 84 (1760-1762); 85 (1762-1763); 86 (1763-1765); 87 (1765-1767); 
    88 (1767-1768); 89 (1768-1769); 90 (1769); 91 (1769-1770); 92 (1770-1771); 
    93 (1771); 94 (1771-1772); 95 (1772); 96 (1772-1773); 97 (1774); 98 (1774-1775); 
    99 (1775-1776); 100 (1776); 101 (1776-1778); 102 (1778-1779); 103 (1779-ç1781); 
    104 (1781-1784); 105 (1784); 106 (1784-1785); 107 (1785-1786); 108 (1786-1787); 
    109 (1787-1788); 110 (1788-1789); 111 (1789-1790); 112 (1790); 113 (1790-1791); 
    114 (1791-1793); 115 (1793-1795); 116 (1795-1796); 117 (1796-1797); 118 (1798); 
    119 (1799-1802); 120 (1802-1804, lligall); 121 (1805-1816); 122 (1817-1822); 
    123 (1823-1825); 124 (1826-1828); 125 (1829-1831); 126 (1832-1834); 127 (1835-1837); 
    128 (1837-1855); 129 (1838-1868), 4º; 130 (1908-1913); 131 (1914-1920); 
    132 (1923-1925); 134 (1925-1928)</p>
  <p>Lligalls: (Commutació 
    de beneficis) 1, num. 1-100 (1867-1868); 2, num. 101-200 (1868); 3, num. 201-250 
    (1868-1870); 4 num. 251-300 (1871-1886); 5 num. 301-470 (1853-1902); 6, Cancel·lacions 
    de dipòsits 1855-1928.</p>
  <p></p>

  <p>--------------------------------------------------------------------------------<a name="taxesad"></a></p>
  <p><br>
    4.2 TAXES DE BENEFICIS<br>
    s. XIV-1841 26 vv i llig.</p>
  <p>Amb motiu de gravar els 
    beneficis i altres rendes eclesiàstiques en vista a satisfer subsidis 
    i imposicions similars a la Santa Seu i a la corona, hom elaborà taxacions 
    d'aquestes peces eclesiàstiques, de les rendes de monestirs i fins 
    de les obres parroquials i causes pies. A més de les que ressenyem 
    ací, se'n troben al fons de Sant Feliu de Girona una de 1377, ca 50 
    ff, i una altra de ca. 1420, 78 ff. Incloem en la sèrie la documentació 
    d'espolis i vacants, referent sobretot a les rendes de la mitra.</p>
  <p>1. Pagaments d'una dècima, 
    ca 1350, 111 pàg.</p>

  <p>2. Taxació dels 
    beneficis de la diòcesi, en vista a una dècima a partir entre 
    el papa i el rei, 1454, 60 ff (manquen ff 48-50).</p>
  <p>3. Liber denuntiationum 
    de les rendes de beneficis, monestirs i obres parroquials en vista al subsidi, 
    1444, 895 ff. Index de noms de lloc elaborat per J. M. Marquès, de 
    40 pàgines.</p>
  <p>4. Registre de lletres 
    dels subcol·lectors del bisbat de Girona a propòsit del subsidi 
    de 1451, ca 50 ff.</p>
  <p>5. Registre de lletres 
    i taxació incompleta de beneficis del bisbat per a la dècima 
    de la croada de Calixte III, 1458, 43 ff.</p>
  <p>6. Taxa dels beneficis 
    de la diòcesi "propter quam solvitur ius posessoriarum in vicariatu 
    ecclesiastico", ca 1470, 182 ff, amb correccions i addicions del s. XVI.</p>
  <p>7. Taxa del Subsidio y 
    Excusado, 1700, 55, 89, 81 ff.</p>

  <p>8. Taxa del Subsidio y 
    Excusado, 1718, s.f., ca 50 ff.</p>
  <p>9. Taxa del Excusado, 
    1740, 99 ff.</p>
  <p>10. Taxa del Subsidio, 
    1741, s f., ca 50 ff.</p>
  <p>11. Llibre del Escusado 
    per lo bienni 1794-1796, 570 ff.</p>
  <p>12. Dècima de 600.000 
    ducats, 1634. Comunicacions als beneficiats. Lligall.</p>
  <p>13. Talla de 7 diners 
    per lliura imposada als beneficis per a sufragar gestions a fi de reduir els 
    subsidis eclesiástics, 1458. Registre de lletres, 18 ff.</p>

  <p>14. Junta del Excusado. 
    Sesiones y resoluciones. 1775-1777. Lligall.</p>
  <p>15. Repartiment del subsidi, 
    1818-1823 i 1825-1830. 2 lligalls.</p>
  <p>16. Informes de rendes 
    beneficials per al subsidi, 1828-1834. Lligall.</p>
  <p>17. Subsidio de Millones, 
    1817-1828. Lligall</p>
  <p>18. Espolios y vacantes, 
    1797-1841, 8 lligalls.</p>
  <p>19. Fondo Pio beneficial, 
    1807-1833, lligall.</p>

  <p>Vacants de bisbes 1786-1834 
    (S-356) </p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="cultead"></a></p>
  <p><br>
    4.3 CULTE I CLERECIA<br>
    Incloem en aquest epígraf el període 1820-1822 i el posterior 
    a 1836. L'autoritat civil, primer a través del delme i després 
    per mitjà de participació en el pressupost de l'estat, sosté 
    la clerecia. Pel bisbat hi intervé una Junta Eclesiàstica, que 
    posteriorment es converteix en HabilitacióDiocesana. Aquesta administra 
    els recursos destinats a personal, i també els que s'apliquen a restauració 
    de temples (vegeu secció 3.3.). Es en vista a la participació 
    en el pressupost de l'Estat que, d'acord amb el concordat de 1851, es resolen 
    dos afers que generen documentació particular; establir el nombre de 
    places de rectors i vicaris que tindran les parròquies (peces eclesiàstiques), 
    objecte del "Arreglo parroquial" o arranjament de 1854-1856, i assenyalar 
    els béns desamortitzats que s'hauran d'indemnitzar (permuta de béns) 
    a través de títols del Deute Públic.</p>
  <p>Junta Diocesana, 1820-1822, 
    3 llig. </p>

  <p>Junta d'Administració 
    Diocesana, actes, 1836-1848, 8 llibres; correspondència, 6 llibres.</p>
  <p>Junta Diocesana d'Exclaustrats, 
    convertida el 1846 el Comisión de Dotación del culto y Clero 
    de la Diócesis, 38 llig, 1835-1932</p>
  <p>Culto y Clero 1829-1904 
    (S-468); Administració diocesana 1831-1874 (S-350); Id. expedients 
    1847-1855 (S-239); Id. correspondència 1850-1862 (S-278); 1852-1855 
    (S-8); 1853 (S-238); 1855-1858 (S-5); 1856-1858 (S-2); 1858-1861 (S-1); 1868 
    (S-13). Pagaments a exclaustrats, 1836-1861, 8 llig.</p>
  <p>Habilitació diocesana; 
    nomenament d'habilitats 1855-1929 (S-287); correspondència 1857-1914 
    (S-324); 1890-1891 (S-323); 1898-1911 (S-457); 1913-1932 (S-276); altra correspondència, 
    1852-1865, 15 llig. Nòmines del clergat, 1939-1974, 10 capses.</p>
  <p>Permuta de béns 
    eclesiàstics, 1860-1861, 13 llig.</p>
  <p>Arranjament parroquial, 
    1864, 9 lligs.</p>

  <p>Estado de bajas en los 
    inventarios de censos y censales núms. 2 y 3, y relación núm. 
    7, formados por las dependencias del Estado de esta dicha provincia [Girona], 
    ca. 1867. Registre de capellanies adjudicades i càrregues reduïdes, 
    ca. 1865. Inventari de rendes de censos i censals de comunitats de beneficiats, 
    1867, 52 f. Censos de propietat de la clerecia catedralícia i col·legial, 
    1865, ca. 180 f;. Censos de propietat de parròquies, ca. 1865.</p>
  <p>--------------------------------------------------------------------------------<a name="fundacionsad"></a></p>
  <p>4.4 FUNDACIONS<br>
    La cúria diocesana gestiona totes les pies fundacions de la diòcesi, 
    generalment dotades amb inversions de Deute Públic. Les parròquies 
    i altres perceptors solen liquidar trimestralment els seus comptes, d'acord 
    amb els terminis de pagament dels cupons.</p>
  <p>Llibres de rebuts, 1930-1935 
    i 1940-1972.</p>
  <p>Llibres anuals que contenen, 
    per ordre de parròquies, les quantitats rebudes i les signatures dels 
    perceptors. Un volum anual fins al 1949 i dos volums anuals des de 1950, en 
    total, 58 llibres</p>

  <p>--------------------------------------------------------------------------------<a name="comptesad"></a></p>
  <p>4.5. COMPTES DE PARRÒQUIES<br>
    Aprovació de comptes de culte i fàbrica, 1946-1962, 18 capses.</p>
  <p>Els comptes anteriors 
    solen trobar-se als respectius arxius parroquials, en llibres que eren presentats 
    al bisbat anualment per a la seva aprovació.						
		</p></div>