<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">6. Arxius parroquials dipositats</h1>
				<font face="Arial, Helvetica, sans-serif" size="2">Les disposicions episcopals 
    recents sobre el trasllat de materials arxivístics de parròquies 
    a l'Arxiu Diocesà comencen el 1939, quan es declarà obligatori 
    el de pergamins (BOE 1939, p. 70), i de 1986, que amb data d'1 de març, 
    disposà el lliurament dels de parròquies sense capellà 
    resident i de les altres que no fossin explícitament exceptuades, insistint 
    sobre recomanacions de 1976 i 1977 (BOE 1976, p. 569-572 i 1977, p. 170-171). 
    Aquestes ordres han assolit un estimable nivell de compliment.<p></p>
  <p><font face="Arial, Helvetica, sans-serif" size="2">Amb tot, ja anteriorment 
    s'havien produit trasllats. Un, més sistemàtic, tingué 
    lloc després de la desamortització de 1835, i se centrà 
    en documentació de beneficis, ja que hom es proposava de gestionar-ne 
    els fruits des de la cúria. D'altres foren episòdics; així, 
    per trobar-se a l'Arxiu Diocesà, es salvaren de la crema de 1936 alguns 
    llibres parroquials de Les Planes.</font></p><font face="Arial, Helvetica, sans-serif" size="2">
  <p><font face="Arial, Helvetica, sans-serif" size="2">Gairebé la totalitat 
    de les parròquies van accedir el 1982-1985 a la microfilmació 
    dels seus llibres de baptismes, matrimonis, òbits i testaments que 
    avui pot consultar-se a l'Arxiu Diocesà. Per aquest fons, hom es servirà 
    de J. Busquets-J. Nadal, "Les possibilitats de la demografía històrica 
    a les comarques gironines: inventari dels arxius parroquials de la diòcesi", 
    Girona, 1985, obra que ressenya exclussivament llibres de baptismes, matrimonis 
    i óbits.</font></p><font face="Arial, Helvetica, sans-serif" size="2">
  <p><font face="Arial, Helvetica, sans-serif" size="2">La nostra descripció 
    és abreujada. Ressenyem en primer lloc els llibres de baptismes (=B), 
    confirmacions (=C), matrimonis (=M), òbits (=O), testaments (=T) i 
    eventualment de capítols matrimonials que els rectors autoritzaven 
    en caràcter de notaris locals. A continuació assenyalem els 
    fons corresponents a l'obra, a les fundacions, confraries i beneficis. Pels 
    llibres de confraries distingim els d'inscripció de confrares i els 
    de comptes. Cada unitat arxivística és separada de l'anterior 
    amb punt o bé, si la seva designació coincideix amb una que 
    ha estat ja donada immediatament abans, amb punt i coma.</font></p><font face="Arial, Helvetica, sans-serif" size="2">

  <p> </p>
<div style="margin-top: 0px;"><h3 style="margin:0;padding:0;margin-top: 15px;">
Adri, Sant Llorenç</h3>Pergamins, 25 <h3 style="margin:0;padding:0;margin-top: 15px;">Agullana, Santa Maria</h3> B 1 (1596-1704); 2 (1705-1744, amb C 1728-1776); 3 (1745-1776); 4 (1777-1805); 
    5 (1805-1826); 6 (1826-1845); 7 (1845-1851). <br>

    M 1 (1707-1756, amb O 1707-1742); 2 (1757-1805); 3 (1805-1851); 4 (1851-1909). 
    <br>
    O 2 (1742-1797); 3 (1797-1844); 4 (1844-1851); 5 (1851-1898). <br>
    T 1728-1817 ; 1852-1907. <br>
    Pergamins, 2. <h3 style="margin:0;padding:0;margin-top: 15px;">Aiguaviva, Sant Joan</h3>B 1 (1633-1726), 2 (1758-1794), 3 (1794-1852), 4 (1852-1866) <br>
    M 1 (1591-1815), 1b (1815-1851), 2 (1855-1973) <br>
    O 1 (1614-1764), 2 (1765-1851), 3 (1852-1967) 4 (1968-1973) <br>
    Obra; llevador de censalistes de l'església, s. XVIII; Llevador de 
    la iglesia, 1815; Llevador de la renda del sagristà, 1726; comptes 
    de l'obra, 1815; pabordia de l'obra, 1912. <br>
    Misses i aniversaris; canalar d'escriptures amb consueta, 1750; canalar amb 
    consueta 1831; Llevador 1815; Codern del fundat, 1815. <br>
    Confraries; Roser, comptes, 1675-1890; confrares, 1723; confrares, 1845; Minerva, 
    confrares, 1692; comptes, 1815; Animes, confrares, 1824; Providència, 
    1849; Carme, confrares, 1852; confraresses, 1852. <br>

    Ciris dels fadrins, forasters i bovers, comptes, 1741. <h3 style="margin:0;padding:0;margin-top: 15px;">Albanyà, Sant Pere</h3>B 1 (1830-1957, junt amb M 1834-1841); 2 (1841-1895). <br>
    C 1964-1992. <br>
    M 4 (1834-1841, junt amb B 1); 5 (1851-1888); 6 (1888-1922; 7 (1922-1992). 
    <br>

    O 4 (1848-1856); 5 (1851-1888); 6 (1888-1922); 7 (1922-1992). <br>
    Una carpeta de testaments i documents diversos. <h3 style="margin:0;padding:0;margin-top: 15px;">
    Albons, Sant Cugat</h3>Pergamins, 5.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Anglés, Sant Miquel</h3>Pergamins, 5.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Arbúcies, Sants Quirze i 
        Julita</h3>Pergamins, 43.<h3 style="margin:0;padding:0;margin-top: 15px;">
        Arenys de Mar, Santa Maria</h3>   Pergamins, 4<h3 style="margin:0;padding:0;margin-top: 15px;">Argelaguer, Sant Damas</h3> B 1 (1581-1623), 2 (1679-1774), 3 (1774-1801), 4 (1801-1839), 5 (1839-1851), 
    6 (1851-1868), 7 (1868-1878), 8 (1878-1892), 9 (1892-1920). <br>
    M 1 (1730-1851), 2 (1852-1896), 3 (1897-1949). <br>
    O 2 (1775-1829), 3 (1830-1851), 4 (1851-1873), 5 (1873-1878), 6 (1878-1898) 
    7 (1899-1925). <br>
    T 1 (1605-1639), 2 (1693-1796), 3 (1801-1878) i lligall (1671-1955). <br>

    Status animarum (1879-1948) <br>
    Llevador de les rendes parroquials, 1763-1842. <br>
    Confraria del Roser (1594-1947). <h3 style="margin:0;padding:0;margin-top: 15px;">Avinyonet de Puigventós, 
        Sant Esteve</h3>B 1 (1669-1804); 2 (1805-1843); 2b (1812-1813, amb comptes de confr., 1814-1867); 
    3 (1843-1851); 4 (1851-1872); 5 (1872-1890); 6 (1890-1936). <br>

    M 1 (1675-1851) 2 (1853-1872); 3 (1873-1900); 4 (1900-1919). <br>
    O 1 (1675-1814); 2 (1812-1841) 3 (1841-1851); 4 (1851-1870); 5 (1870-1893); 
    6 (1893-1947). <br>
    T 1669-1802; 1851-1978, llig. <br>
    Ben. de N. S. Antiga i St. Jaume, llevador, 1718-1728.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Banyoles, Sant Pere</h3> Confraria de la Concepció, confrares, 1634-1665. <h3 style="margin:0;padding:0;margin-top: 15px;">Bàscara, Sants Iscle i Victória</h3>Status animarum, 1858-1932. <br>
    Obra, comptes, 1856-1919, amb col. d'impresos.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Batet, Santa Maria</h3> Pergamins, 10. <h3 style="margin:0;padding:0;margin-top: 15px;">Beget, Sant Cristófol</h3> B 1 (1617-1697), 2 (1697-1740), 3 (1740-1793), 4 (1793-1849), 5 (1850-1880, 
    amb II confirm.), 1858-1882), 6 (1881-1913). <br>
    C 1 (1721-1858) II (rellig. amb 5 B), 3 (1911-1954). <br>
    M 1 (1600-1757), 2 (1758-1797), 3 (1797-1851), 4 (1851-1905). <br>

    O 1 (1594-1715, amb 1 T, 1619-1697), 2 (1715-1839), 3 (1839-1851), 4 (1851-1884). 
    <br>
    Albats, 1695-1851. <br>
    T 1 (rellig amb O 1), 2 (1696-1801); 3 (1810-1847, amb minutes, 1678-1863). 
    <br>
    Capítols matrimonials, 1695-1732 <br>
    Àpoques, 1697-1732. <br>
    Censals de la parròquia, s. XVIII i comptes d'administracions diverses, 
    1602-1711. Culte i Obra, comptes, 1881-1927. <br>

    Confraria del Roser; confrares, 1796-1832 i 1862-1876; 1836-1861; 1907-1942. 
    <br>
    Conferències eclesiàstiques, 1908-1941. <br>
    Escriptures i documentació rebuda, 5 llig. <br>
    Pergamins, 3.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Begur, Sant Pere</h3>Pergamins, 4.<h3 style="margin:0;padding:0;margin-top: 15px;">Bellcaire d'empordà, Sant 
        Joan</h3> Confr. del Roser, confrares, 1766, i compliment pasqual, 1912-1939. <br>
    Pergamins, 45.<h3 style="margin:0;padding:0;margin-top: 15px;">Besalú, Sant Vicenç</h3> Ermita de Sant Ferriol, comptes, 1870-1901. <br>
    Pergamins, 12.
<h3 style="margin:0;padding:0;margin-top: 15px;">        
        Bescanó, Sant Llorenç</h3>Mixte; B 1574-1637, M 1607-1638 O 1604-1637. <br>
    B 1 (1640-1700); 2 (1701-1767); 3 (1767-1795); 4 (1795-1835); 5 (1836-1851); 
    6 (1852-1872); 7 (1872-1898). <br>

    M 2 (1782-1851); 3 (1852-1888). <br>
    O 1 (1638-1761); 2 (1762-1791); 3 (1833-1851); 4 (1853-1901).<h3 style="margin:0;padding:0;margin-top: 15px;">Bisbal d'empordà, Santa 
        Maria de la</h3>B 1 (1502-1540), 2 (1541-1561), 3 (1561-1582), 4 (1583-1630), 5 (1630-1659), 
    6 (1659-1683), 7 (1683-1711), 8 (1711-1730), 9 (1730-1746), 10 (1746-1758), 
    11 (1758-1771), 12 (1771-1784), 13 (1784-1791). <br>
    C 1 (1594-1792), 2 (1799-1871) <br>

    M 1 (1575-1668), 2 (1668-1736), 3 (1736-1761). <br>
    O 1 (1558-1635), 2 (1634-1713), 3 (1713-1772) <br>
    T 1725-1824. <br>
    Baptismes, esborrany, 1878-1889 <br>
    Primera comunió i solemne, 1868-1936 <br>
    Missa conventual, presències, 1928-1936. <br>

    Pergamins, 6 carpetes.<h3 style="margin:0;padding:0;margin-top: 15px;">Bolós, Santa Maria</h3> 
    B 1 (1746-1831) 2 (1837-1853, amb C.) <br>
    O 1745-1850 <br>
    T 1683-1792 <br>

    Llevador de la Rectoria, 1781. <br>
    Culte i obra, 1881-1914. <br>
    Confr. del Roser, 1787.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Bordils, Sant Esteve</h3>Pergamins, 1.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Borgonyà, Sant Joan</h3> T 1 (1654-1754); 2 (1770-1847). <br>
    Pergamins, 1.<h3 style="margin:0;padding:0;margin-top: 15px;">Borrassà, Sant Andreu</h3>B 1 (1657-1690); 2 (1690-1750); 3 (1750-1797); 4 (1797-1834). <br>

    M 2 (1702-1843); 3 (1843-1890). <br>
    O 1 (1657-1726); 2 (1726-1800); 3 (1801-1851). <br>
    Obra, escriptures, 1599-1601; comptes, 1702-1806, amb memóries 1939; 
    1816-1868; 1879-1948. <br>
    Fundacions 1787, amb llevador 1787-1854. <br>
    Confraries; St. Andreu, comptes 1714-1806; Roser, confrares, 1735-1900. <br>
    Benefici de casa Moy, escriptures de censals, s. XVIII. <br>

    Censals del domer, llevador, 1812-1829. <br>
    Escriptures, 10 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Breda, Sant Salvador</h3>B 2 (1662-1739); 3 (1739-1784) 5 (1808-1827); 1821-1840, amb matrimonis; 1825-1851; 
    6 (1828-1851); 7 (1851-1875); 9 1897-1918). <br>
    M 3 (1851-1883); 4 (1884-1927). <br>

    O 2 (1631-1690); 3 (1691-1777); 4 (1778-1829); 5 ()1828-1851); 6 (1851-1882); 
    7 (1881-1941; Albats 1882-1968. <br>
    C 1599-1689 amb B 1619-1662 i notes de drets rectorals. <br>
    T 3 (1626-1661); 4 (1660-1697); 5 (1695-1788); 6 (1778-1848); 7 (1847-1878). 
    <br>
    Status animarum 1595-1692, amb òbits 1772-1681. <br>
    Consueta 1760, amb ingressos del rector, 1760-1836 <br>
    Obra 2 (1691-1757); 3 (1758-1787); Llevador de censals 1785. <br>

    Administracions 1878, amb Pr. Comunió, 1895. <br>
    Lligalls, 3 <br>
    Monestir: capbreus i títols de la Cambreria, 1718. <br>
    Misses i aniversaris, 1826. Ploms de les misses i aniversaris, 1748. Llevador 
    de les misses i aniversaris, 1750. Reducció de càrregues, 1799 
    <br>
    Escriptures notarials de creació de censals. <br>
    Pergamins, 5.<h3 style="margin:0;padding:0;margin-top: 15px;">Brunyola, Sant Fructuós</h3>B 1 (1811-1832); 2 (1832-1851); 3 (1851-1866); 4 (1866-1877); 5 (1877-1909). 
    <br>
    C 1857-1901; 1880-1902. <br>
    M 2 (1851-1882); 3 (1882-1918). <br>
    O 1 (1811-1851); 2 (1851-1870); 3 (1870-1906).<h3 style="margin:0;padding:0;margin-top: 15px;">
    Cabanelles, Santa Coloma</h3>Correspondència i consentiments matrimonials, 1939ss, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">
    
    Cabanes, Sant Vicenç</h3>Pergamins, 46.<h3 style="margin:0;padding:0;margin-top: 15px;">Cassà de Pelràs, 
        Sant Martí</h3> B 1 (1589-1700; 2 (1699-1804, amb C); 3 (1804-1929 (amb C). <br>
    C 1820-1859. <br>
    M 1 (1591-1796); 2 (1796-1852) 3 (1851-1954). <br>

    O 1 (1598-1728); 2 (1730-1800); 3 (1801-1853); 4 (1851-1968). <br>
    T 1650-1867. <br>
    Status Animarum, 1767-1888. <br>
    Consueta, ca. 1830. <br>
    Obra, comptes, 1615-1690; 1771-1833; 1852-1888; llevador, 1817-1849. <br>
    Fundacions, escriptures, 1738; llevador, 1782-1813; bací d'ànimes, 
    comptes, 1693-1884; completum de celebracions, 1747-1802. <br>

    Confraries; St. Isidre, comptes, 1720-1910; Roser, 1741-1907; Minerva, confrares, 
    1792. <br>
    Pergamins, 13.<h3 style="margin:0;padding:0;margin-top: 15px;">Cadaqués, Santa Maria</h3>Hospital, fundació i comptes, 1412-1424. <br>
    Aniversaris i misses d'estaca, llevador, 1721-1742; 1805-1834.<h3 style="margin:0;padding:0;margin-top: 15px;">Calabuig, Sant Feliu</h3> T 1852-1947. <br>

    Obra, 1521-1594 amb confirm. i altres notes fins a 1728. <br>
    Obra 1612-1832. <br>
    Lligall d'expedients matrimonials i escriptures de censals.<h3 style="margin:0;padding:0;margin-top: 15px;">Camallera, Sant Bartomeu</h3> B 1591-1634. <br>

    Canalar de la rectoria, 1734; canalar dels beneficis de la Mare de Déu 
    antiga i St. Bartomeu, 1742; llevador del b. de la Mare de Déu antiga, 
    1752; ciri del jovent, 1694-1741. <br>
    Aniversaris i misses d'estaca, 1724, amb consueta; escriptures de censals, 
    s. XVIII, 1 llig. <br>
    Confraria de la Puríssima Sang, 1686-1800.<h3 style="margin:0;padding:0;margin-top: 15px;">Camós, Sant Vicenç</h3> B (1555-1589); 2(1580-1676). 1(1652-1779, amb O 1653-1779); 3(1754-1851); 
    4(1851-1904). <br>

    C 1776-1968. <br>
    M1 (1594-1763); 2(1764-1851). <br>
    O1 (1592-1719); 2 1720-1767); 3 (1767-1851). <br>
    T1 (1342-1397); 2 (1389-1603); 3 (1415-1470); 5 (1485-1496); 6 (1656-1790). 
    <br>
    Obra, comptes, 1483-1671; 1514-1619; 1748-1782. <br>
    Fundacions, 1743; completum de fundacions, 1774-1790. <br> Pergamins, 175. <h3 style="margin:0;padding:0;margin-top: 15px;">Camós, Santa Maria</h3> B2 (1779-1852). <br>
    C 1736-1957. <br>
    M 1652-1851. <br>

    O 2 (1779-1851).<h3 style="margin:0;padding:0;margin-top: 15px;">Campllong, Sant Quirze</h3>B 1 (1646-1684, amb albats 1644-1677); 2 (1667-1700, amb O 1671-1704); 3 (1700-1780); 
    4 (1781-1828); 5 (1829-1852). <br>
    Obra, comptes, 1711-1777.<h3 style="margin:0;padding:0;margin-top: 15px;">
    +Camprodon, Santa Maria</h3>Pergamins, 10.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Cantallops, Sant Esteve</h3>Pergamins, 8<h3 style="margin:0;padding:0;margin-top: 15px;">Casavells, Sant Genís</h3> B 1505-1540, amb T (fotocòpia); 1709-1851 (amb C); 1852-1908 (amb C). 
    <br>

    M 1854-1929 <br>
    T 1613-1704; 1720-1881. <br>
    Confraria del Roser, confrares, 1668. <br>
    Bací de les Ànimes, 1697. <br>
    Obra, comptes, 1881-1962. <br>
    Fundacions, 1754, amb pergamins cosits. <br>

    Escriptures i comptes de casa Ferrer de Casavells, 1761-1768. Tres lligalls 
    de documentació vària.<h3 style="margin:0;padding:0;margin-top: 15px;">Cassà de la Selva, Sant 
        Martí</h3>Causapia Miquel Gich, comptes, 1763-1817. Fundacions, 1743; completum de fundacions, 
    1774-1790. <br>
    Pergamins, 513.<h3 style="margin:0;padding:0;margin-top: 15px;">Castanyet, Sant Andreu</h3> B 1 (1613-1683, amb M 1658-1797 i O 1623-1676); 2 (1788-1826); 3 (1829-1851); 
    4 (1851-1888, amb confirm.); 5 (1889-1917). <br>
    M 1852-1908; Esborr. 1952ss <br>
    O 2 (1733-1828); 4 (1851-1888); 5 (1889-1935); Esborr. 1943ss. <br>
    C 1943-1959 <br>

    T 1705-1825. <br>
    Comunió solemne, 1941-1966 <br>
    Història de la parròquia i consueta, 1942 <br>
    Institucions i rèdits de la Iglesia de Castanyet, 1733; Extracto dels 
    quinse pergamins de la rectoria, 1833; Obra (amb administracions), 1868-1944; 
    Obra, 1891-1908; Obra, culto y clero, 1933-1959; Fundacions, 1942. <br>
    Comptes del rector, 1660-1662; ; Confr. Roser, confrares, 1826. <br>
    Tres lligalls de documents i expedients matrimonials. <br>

    Comptes del comú, 1761-1793. <br>
    Pergamins, 16.<h3 style="margin:0;padding:0;margin-top: 15px;">Castellar de la Muntanya, Santa 
        Maria</h3>Toralles: Mixtes 1590-1680 i 1682-1712. Obra , 1661-1828. <br>
    Castellar: Mixte 1567-1652. Mixte 1654-1704, amb testaments. <br>

    B 1704-1851; 1851-1936. <br>
    M 1704-1765 amb òbits; 1769-1851; 1852-1935. <br>
    O 1765-1851; 1851-1887; 1887-1935. <br>
    T 1722-1842; 1848-1925. <br>
    Capítols matrimonials, 1718-1740 <br>
    Consueta, s. XVIII. <br>

    Obra, 1728-1757. <br>
    Confraria del Roser, confrares, 1644-1735; 1786-1839.<h3 style="margin:0;padding:0;margin-top: 15px;">Castellar de la Selva, Sant Martí 
</h3> B 1 (1597-1708; 2 (1708-1858). <br>
    C 1732-1950, amb Status Animarum 1912-1950. <br>

    O 1 (1630-1695); 2 (1695-1858). <br>
    T 1387-1535. <br>
    Còpies de partides, 100-1759, llig.; Llicències matrim., 1722-1729, 
    llig. <br>
    Obra; canalar dels censos, 1737; llevador, 1739-1826; comptes, 1859-1880; 
    1881-1952. <br>
    Llibre de fundacions, 1737. <br>
    Escriptures de censals, s. XVIII-XIX, 2 llig. <br>

    Santíssim, confrares i comptes, 1792; administració de S. Antoni 
    i Dalmau, 1850; Roser, cconfrares, 1870. <br>
    Ciri dels fadrins, censals, 1749; comptes, 1745-1752. <br>
    Causapia Llinàs, llevador, 1729-1791 <br>
    Josep Valls, "Viaje de la Vida" (novel·la ms.).<h3 style="margin:0;padding:0;margin-top: 15px;">Castelló d'empúries, 
        Santa Maria</h3>Pregons, 1558-1565 <br>
    Escriptures, s. XVIII-XIX, 1 llig. <br>
    Pergamins, 120.<h3 style="margin:0;padding:0;margin-top: 15px;">Cellera de Ter, Santa Maria de 
        Sales</h3>Una escriptura, 1890. <br>

    Pergamins, 51.<h3 style="margin:0;padding:0;margin-top: 15px;">Celrà, Sant Feliu</h3>B 1 (1505-1598); 2 (1603-1739); 3 (1739-1793); 4 (1793-1828); 5 (1829-1850); 
    6 (1851-1862); 7 (1862-1889). <br>
    Papers del domer i consueta, s. XVIII, 1 llig. <br>
    Pergamins, 105.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Centenys, Sant Iscle</h3>Obra, 1862-1863. <h3 style="margin:0;padding:0;margin-top: 15px;">
    Cervià de Ter, Sant Genís</h3>B 1817-1951. <br>
    Testaments, 1842-1969, llig. <h3 style="margin:0;padding:0;margin-top: 15px;">Cistella, Santa Maria i Sant Sadurní</h3>B 1 (1613-1648); 2 (1649-1704); 3 (1708-1732, amb C 1721-1791); 4 (1789-1849); 
    5 (1812, amb M 1812-1850 i O 1812); 6 (1851-1878); 7 (1879-1922); 8 (1923-1939). 
    Esborrany, 1937-1956. <br>
    M 1 (1729-1758, amb O 1726-1758); 2 (1759-1805); 3 (1852-1887); 4 (1887-1940). 
    <br>
    O 1 (1759-1849); 2 (1850-1885); 3 (1885-1936). <br>
    T. 1 (1630-1653) 2 (1656-1732) 3 (1733-1790); 4 (1791-1847); 5 (1848-1953). 
    <br>

    Obra, comptes 1881-1943. <br>
    Fundacions; Maremagnum de fundacions, 1735, 2 vv; llevador, 1745-1849; calendari 
    de celebracions i completum, 1738-1799. <br>
    Confr. Roser, confrares, 1895-1961. Santuari de Vida, comptes, 1874-1885. 
    <br>
    Status animarum 1908-1936, amb primera comunió 1940-1964 i conferéncies 
    morals, 1923-1943. <br>
    Conferències morals, 1902-1922; 1926-1933. <br>
    Impresos rebuts, s XIX, 1 llig. <br>

    Cementiri, 1900-1932 <h3 style="margin:0;padding:0;margin-top: 15px;">Colomers, Santa Maria</h3>B 1 (1625-1730); 2 (1731-1826); 3 (1827-1851); 4 (1851-1875); 5 (1875-1905) 
    <br>
    M 1 (1792-1843); 2 (1844-1851); 3 (1852-1921) <br>
    O 1 (1615-1731); 2 (1731-1851); 3 (1851-1887). <br>

    C 1852-1979. <br>
    T 1 (1665-1800); 2 (1800-1843). <br>
    Status animarum, 1815-1826. <br>
    Aniversaris, llevador, 1801-1844. <br>
    Obra i administracions, comptes, 1800-1864; 1880-1935. <br>
    Puríssima Sang, confrares, 1742; Minerva, confrares, 1791; Roser, confrares, 
    1799-1844; Mare de Déu Antiga i Roser, comptes, 1638-1799; Carme, confrares, 
    1847; Cor de Maria, confrares, 1855. <br>

    Llibre de comptes de Francesc Tersa, prev., 1807-1864. <br>
    Causapia Salvador Pons, llevador, 1809-1855. <br>
    Escriptures, 5 llig. <br>
    Pergamins, 21.<h3 style="margin:0;padding:0;margin-top: 15px;">Corçà, Sants Julià 
        i Basilissa</h3>B 1 (1502-1595); 2 (1595-1697); 3 (1697-1764); 4 (1764-1834); 5 (1835-1858); 
    6 (1860-1910, amb C). <br>
    M 1 (1565-1763); 2 (1764-1858); 3 (1851-1889 i O 1851-1910, en un volum). 
    <br>
    O 1 (1575-1594) amb confirmacions 1594-1831; ; 2 (1764-1840), amb albats 1663-1667. 
    <br>
    T 1 (1666-1684); 2 (1692-1790); 3 (1891-1951). <br>
    Visita past. 1821-1886. Compl. pasqual, 1851-1870 <br>
    Obra, 1567-1727; 1590-1719; 1697-1856. Llevador, 1853. Sagristia i aniversaris, 
    1517-1683; 1649-1692; 1665-1678; 1705; 1809-1879. Aniversaris: canalar, 1679; 
    llevador, 1773-1782; completum 1809-1836. Cementiri, 1884-1932. <br>

    Confraries: Roser, confrares 1616-1797; 1771; comptes 1617-1681; 1691-1830. 
    Sta Cristina; comptes 1694-1833; confrares homes, 1759-1884; dones, 1759-1885. 
    <br>
    Administracions; Hospital, 1517-1715; ciri de les dones, 1552-1689; ciri del 
    jovent, 1635-1765; Candela de la Mare de Déu, 1638-1733; St. Isidre, 
    1641-1852; Ciri de la Sta. Espina, 1679-1856; Bací de St. Pere, 1689-1833; 
    Quatre sants Màrtirs, 1752-1854. <br>
    Llibre del benefici de N. Sra, 1455-1534. <br>
    Pergamins, 108.<h3 style="margin:0;padding:0;margin-top: 15px;">Corts, Sant Julià</h3>BMO 1591-1638 <br>
    B 2 (1638-1771); 3 (1771-1802 amb confirmacions 1772-1831) <br>
    M 1639-1850 <br>
    O 2 (1638-1791); 3 (1791-1850 <br>
    T 1638-1678; 1652-1743; 1745-1800; 1801-1846. <br>
    Capítols matrimonials, 1719-1780, amb consueta.<h3 style="margin:0;padding:0;margin-top: 15px;">Crespià, Santa Eulàlia</h3>B 1 (1572-1615); 2 (1620-1687); 3 (1663-1772); 4 (1772-1832); 5 (1832-1892). 
    <br>
    M 1 (1657-1773); 2 (1794-1851). <br>
    O 1 (1558-1661); 2 (1661-1747); 3 (1748-1780); 4 (1780-1851); 5 (1852-1909). 
    Òbits d'albats 1780-1851. <br>
    C 1 (1724-1828); 2 (1849-1854). <br>

    T 1 (1663-1772); 2 (1772-1885); 3 (1797-1837). <br>
    Consueta, 1900 i 1919 <br>
    Llevadors de les rendes dels curats; 1735; 1743; 1753-1767; 1800-1818; 1810-1821; 
    1848-1860. Censals del mestre de minyons (obra), 1727; censos de l'obra, 1758; 
    celebracions d'aniversaris (completum), 1619; 1742-1749; 1782-1827. Obra, 
    1845-1942. <br>
    Confraria del Roser: confrares, 1586; confrares i comptes, 1639-1757. <br>
    Administracions: Ànimes, 1531-1683; 1748; causapia Teixidor i Ànimes, 
    1629-1856; administr. diverses, 1629-1856. <br>
    Comptes de Joan Dufau, carter, 1754-1819. Escriptures i circulars impr. rebudes, 
    3 llig. <br>

    Pergamins, 5.<h3 style="margin:0;padding:0;margin-top: 15px;">Cruïlles, Santa Eulàlia</h3>Capbreu s. XIV. <br>
    Benef. St. Ponç: escriptures s. XVIII. <br>
    Pergamins, 3.<h3 style="margin:0;padding:0;margin-top: 15px;">Darnius, Santa Maria</h3>B 2 (1774-1835); 3 (1851-1864); 4 (1885-1903). <br>
    M 1 (1795-1851); 3 (1865-1916). <br>
    O 1 (1795-1851); 2 1851-1864); 3 (1865-1897). <br>
    T 1795-1847.<h3 style="margin:0;padding:0;margin-top: 15px;">Domeny, Sant Feliu</h3>BMO 1594-1734. <br>
    B 1735-1839, amb C; 1839-1853; 1918-1942. <br>
    M 1735-1852. <br>
    O 1735-1853; 1918-1942 amb matrimonis. <br>

    T 1563-1728; 1751-1847. <br>
    Compliment pasqual, 1879. <br>
    Obra, 1879-1889, i un llig. d'escriptures i comptes. <br>
    Confr. Minerva, s. XVIII; Roser, 1880. <br>
    Apunts de lliçons d'història de l'Església, ca. 1900. <h3 style="margin:0;padding:0;margin-top: 15px;">
    Dosquers, Sant Martí</h3>Confr. Minerva i Roser, 1845-1900 i S. Familia, 1893.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Encies, Santa Maria de les</h3>Obra, amb comentaris del rector, 1894-1901.<h3 style="margin:0;padding:0;margin-top: 15px;">Ermedàs, Santa Maria</h3>O Vilajoan 1807-1850. <br>
    Fundacions 1734, i llevador, 1711-1741. <br>
    Cementiri, 1909-1928. <br>
    Matrimonial, 1 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Esparra, Sant Martí de l'</h3>B 1 (1718-1783); 2 (1783-1867) <br>
    M 1 (1810-1851); 2 (1852-1957) <br>
    O 2 (1849-1851); 3 (1851-1929) <br>
    Confraries 1792 <br>
    Visita pastoral 1828. <br>
    Pergamins, 18.<h3 style="margin:0;padding:0;margin-top: 15px;">Espinavessa, Sant Llorenç</h3>BMO, 1682-1766, amb T. <br>
    B 1762-1851. <br>
    M 1762-1851, amb confirm. 1800-1828. <br>
    O 1755-1851 <br>

    C 1754-1958 <br>
    T 1768-1847.<h3 style="margin:0;padding:0;margin-top: 15px;">Espolla, Sant Jaume</h3>Canalars d'escriptures de la familia Calverol, s. XVIII. <br>
    Pergamins, 45. <h3 style="margin:0;padding:0;margin-top: 15px;">
    Esponellà, Sant Cebrià</h3>Pergamins, 13. <h3 style="margin:0;padding:0;margin-top: 15px;">Estanyol, Sant Andreu</h3>M. 1767-1851 <br>
    O 1777-1852. <br>

    T. 1796-1855. <h3 style="margin:0;padding:0;margin-top: 15px;">Falgons, Sant Vicenç</h3> M 1567-1594, amb testaments <br>
    Capítols matrim. i contractes, 1718-1789 <br>
    Obra, comptes, 1699-1819; 1881-1901; misses i aniversaris 1744-1781. <br>

    Pergamins, 16.<h3 style="margin:0;padding:0;margin-top: 15px;">Far d'empordà, Sant Martí 
        del</h3>1 Mixte, B 1613-1662 i M 1613-1654; 2 Mixte, B 1667-1741 i M 1654-1687. <br>
    T 1739-1753.<h3 style="margin:0;padding:0;margin-top: 15px;">+Fares, Santa Maria</h3>B 1680-1851. <br>
    O 1680-1851. <br>
    T 1612-1810; 1810-1842.<h3 style="margin:0;padding:0;margin-top: 15px;">        

        Fellines, Sant Martí</h3>B 1752-1842; 1851-1910, amb confirm. <br>

    M 1566-1721, amb O 1563-1721, status animarum, 1567-1575 i consueta, 1585; 
    1722-1855; 1851-1962 <br>
    O 1721-1856; 1887-1905. <br>
    T 1 (1538-1596); 2 (1581-1700); 3 (1703-1845); 1889-1923, llig.. <br>
    Obra 1 (1576-1677); 2 (1686-1788); Llevador de la rectoria, 1696; Primícia 
    de la rectoria, 1828-1868. <br>
    Confraria de Sta. Crescència, 1729-1821 <br>
    Llicències matrim., 1 llig. <br>

    Pergamins, 9. <h3 style="margin:0;padding:0;margin-top: 15px;">Figueres, Sant Pere</h3>Consueta, 1702. <br>
    Comunitat de preveres, escriptures, s. XVIII, 1 llig. <br>
    Pergamins, 1. <h3 style="margin:0;padding:0;margin-top: 15px;">Fogars de Tordera, Sants Corneli 
        i Cebrià</h3>Casa rectoral, 1912. <br>
    Pergamins, 6.<h3 style="margin:0;padding:0;margin-top: 15px;">Foixà, Sant Joan</h3>B 1 (1570-1686) amb confirm.; 2 (1686-1817), amb confirm.; 3 (1812-1837); 
    4 (1837-1852). <br>

    M 1 (1575-1752); 1b (1765-1842); 2 (1812-1824). <br>
    O 1 (1564-1762); 2 (1762-1813); 3 (1812-1841); 4 (1841-1852). <br>
    T 1690-1757; 1760-1820; 1824-1851 amb cementiri, 1920; 1849-1966, llig. <br>
    Obra, 1760; 1852-1881, amb anotacions; 1881-1911. Fundacions, 1793; llevador, 
    1855. <br>
    Confr. St. Joan Baptista, 1577-1740; Roser, confrares, 1618; admin. diverses, 
    1838-1936. <br>
    Notes parroquials, 1879. <br>

    Pergamins, 39.<h3 style="margin:0;padding:0;margin-top: 15px;">Fonolleres, Sant Cristófol</h3> BMO 1656-1736, amb confirmacions. <br>
    B 3 (1852-1929). <br>
    M 1 (1736-1850). <br>

    O 1 (1735-1851). <br>
    C 1734-1958. <br>
    Status animarum i inventari, 1939-1946. <h3 style="margin:0;padding:0;margin-top: 15px;">Fontanilles, Sant Martí</h3>BMO 1688-1791, amb confirmacions. <br>

    B 1851-1908, amb confirmacions. <br>
    O 1851-1973. <br>
    T 1666-1764, amb comptes i llevador d'Obra, 1703-1740 <br>
    Status Animarum, 1912-1925. Primera Comunió, 1884-1946. <h3 style="margin:0;padding:0;margin-top: 15px;">Fontclara, Sant Pau</h3>B 1784-1851, amb confirmacions. <br>
    M 1587-1851. <br>
    O 1718-1851. <br>
    C 1940-1947. <br>
    T 1670-1762; 1762-1847. <br>
    Compliment pasqual, 1912; Status animarum, 1947. Visita pastoral, 1949. <br>

    Consueta, 1906. <br>
    Llevador de misses fundades, i completum, 1767-1794. <br>
    Pergamins, 7.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Fontcoberta, Sant Feliu</h3>B 1552-1617.<h3 style="margin:0;padding:0;margin-top: 15px;">
    Fonteta, Santa Maria</h3>Confraria del Roser, 1794-1882. <h3 style="margin:0;padding:0;margin-top: 15px;">
    Fornells de la Selva, Sant Cugat</h3> B 1 (1831-1851); 2 (1851-1884); 3 (1884-1923).<h3 style="margin:0;padding:0;margin-top: 15px;">Franciac, Sant Mateu i Sant Silvestre</h3>B 1 (1676-1726); 2 (1727-1769); 3 (1770-1809); 4 (1813-1852). <br>
    M 1 (1813-1852). <br>
    O 1 (1812-1852). <br>
    T 1824-1839. <br>

    Compl. pasqual, 1889-1942. <br>
    Obra, 1676; 1780-1851; llevador de rendes de la rectoria i fundacions, 1755-1851, 
    2 v.<h3 style="margin:0;padding:0;margin-top: 15px;">Garrigoles, Sant Sadurní</h3>Obra i administracions, comptes, 1630-1768; 1779-1856; despeses de l'obra, 
    1627-1729; 1858-1910. <br>
    Aniversaris, llevador, 1628-1651. Fundacions, 1705, amb consueta; 1831; completum 
    de fundacions, 1744-1777; calendari de celebracions, 1782; fundació 
    del magisteri, llevador, 1787-1802. <br>

    Confraria del Roser, confrares, 1686-1844. <br>
    Benef. de St. Josep i St. Vicenç, dotalia, 1758. <br>
    Comptes de Salvador Comas, 1789-1812. <br>
    Compliment pasqual, 1913-1945. <br>
    Escriptures dels Aniversaris, 1 llig. <br>
    Expedients matrimonials, 1 llig. <br>

    Pergamins, 2.<h3 style="margin:0;padding:0;margin-top: 15px;">Garriguella, Santa Eulàlia
    </h3>Pergamins, 11 (Santa Maria del Camp).<h3 style="margin:0;padding:0;margin-top: 15px;">Gaüses, Santa Maria</h3> B 1 (1734-1812); 2 (1843-1858); 3 (1858-1941). <br>

    M 1 (1589-1699); 2 (1843-1852). <br>
    O 1 (1757-1858); 2 (1852-1972). <br>
    T 1650-1864; 1852-1942. <br>
    Decrets de visita, 1828-1900. <br>
    Comptes d'administracions, 1744-1919; obra, comptes 1897-1943. <br>
    Pergamins, 2.<h3 style="margin:0;padding:0;margin-top: 15px;">Girona, la Catedral, parròquia 
        de</h3>    B 1 (1502-1551); 2 (1551-1585); 3 (1587-1616); 4 (1617-1643); 5 (1643-1668); 
    6 (1668-1692); 7 (1692-1713); 8 (1713-1729); 9 (1729-1762); 10 (1762-1799); 
    11 (1800-1823); 11b (BMO 1812-1813); 12 (1824-1850); 13 (1851-1857); 14 (1858-1865); 
    15 (1865-1879); 16 (1879-1887); 17 (1887-1896). <br>
    M 1 (1587-1701); 2 (1701-1762); 3 (1763-1803); 4 (1803-1846); 5 (1846-1850); 
    6 (1851-1866); 7 (1866&amp;emdash;1885); 8 (1886-1902). <br>

    O 1 (1583-1616); 2 (1627-1706); 3 (1705-1752); 4 (1752-1800); 5 (1800-1844); 
    6 (1845-1851); 7 (1851-1864); 8 (1864-1875); 9 (1876-1881); 10 (1881-1893). 
    <br>
    Òbits de la presó provincial, 1939-1942. <br>
    Compliment pasqual, s. XVIII-XIX, 2 llig. <br>
    Comptes, 1899-1906. <h3 style="margin:0;padding:0;margin-top: 15px;">Girona, Sant Feliu</h3> B 1 (1502-1509); 2 (1509-1520); 3 (1520-1533); 4 (1534-1547); 5 (1547-1556); 
    6 (1556-1599); 7 (1575-1599); 8 (1600-1648); 9 (1648-1680); 10 (1680-1706); 
    11 (1707-1734); 12 (1735-1760); 13 (1761-1801); 14 (1801-1855); 15 (1856-1867); 
    16 (1867-1871); 17 (1871-1883); 18 (1883-1895). <br>
    Index de baptismes 1707-1760. <br>
    MO 1 (1518-1547); 2a (1547-1553); 2b (1553-1575); 3 (1575-1578); 4 (1578-1582); 
    5 (1582-1602); 6 (1603-1647). <br>
    M 13 (1884-1909). <br>
    O 10 (1762-1856); 11 (1856-1862); 13 (1880-1899). <br>
    Claver de sant Feliu, BMO 1643-1842; albats 1542-1548; òbits 1547-1553. <h3 style="margin:0;padding:0;margin-top: 15px;">
    +Girona, Sant Martí Sacosta</h3>B 1502-1581. <br>
    MOT 1557-1581. <h3 style="margin:0;padding:0;margin-top: 15px;">Girona, Santa Eugénia 
        de Ter</h3>B 1760-1811; 1851-1882. <br>

    M 1584-1776; 1776-1851; 1852-1991. <br>
    O 1851-1895. <br>
    T 1584 amb Obra 1741 ss; 1766-1846. <br>
    Obra 1760. <br>
    Dos lligalls de documents. Cf. A. Pinto, Documents per a una història 
    de Santa Eugènia de Ter. L'arxiu documental històric de la parròquia 
    de Santa Eugènia de Ter, Girona 1989.<h3 style="margin:0;padding:0;margin-top: 15px;">Granollers de Rocacorba, Santa 
        Maria</h3> B 1 (1552-1613); 1bis (l677-l749); 2 (l749-1793); 3 (1793-1846,amb C); 4 (l847-1851). 
    <br>

    M 1 (1721-1851). <br>
    O 1 (1721-1829); 2 (1829-1851) <br>
    Llibre de notas de actes, [de la parròquia], 1791; Capbreu petit de 
    la parròquia, còpia de l'anterior, ca. 1830, 190 f, 4º. 
    <br>
    Llibre d'obra, l519-1600.<h3 style="margin:0;padding:0;margin-top: 15px;">Gualta, Santa Maria</h3>B 1 (1570-1635); 2 (1635-1677); 3 (1677-1694); 4 (1833-1854); 5 (1892-1936). 
    <br>
    M 1 (1587-1688) 2 (1694-1856). <br>
    O 1 (1587-1694) 2 (1694-1805); 3 (1806-1854); 4 (1854-1908). <br>
    T 1 (1577-1682); 2 (1687-1805) 3 (1806-1850, amb compliment pasqual 1868-1930); 
    4 (1855-1976). <br>
    Compliment Pasqual 1737-1839. <br>
    Canalar d'actes de l'església, misses i aniversaris, 1747; llevador 
    dels aniversaris, 1813-1817. Consueta i notes de la parròquia, 1750-1836. 
    <br>

    Confraries; Abdon i Sennen, comptes, 1663-1913; Ànimes, comptes, 1693-1763; 
    ciri del jovent i St. Pere, comptes 1663-1859; Concepció, comptes 1753-1919; 
    Isidre, comptes, 1663-1759; Roser, comptes 1663-1915; confrares, 1746-1830 
    <br>
    Escriptures, 4 lligalls. <br>
    Pergamins, 34.<h3 style="margin:0;padding:0;margin-top: 15px;">+Horts, Sant Cristófol dels</h3>B 1 (1654-1753 amb C); 2 (1754-1865); 3 (1866-1919). <br>

    M 1 (1676-1866, amb O 1672-1753 i T 1707-1750). <br>
    M 2 (1866-1919). <br>
    O 1 (1752-1882); 2 (1882-1919). <h3 style="margin:0;padding:0;margin-top: 15px;">Jafre, Sant Martí</h3>Pergamins, 74.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3>Escriptures, 1 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Juià, Sant Pere</h3>Obra, comptes, 1610-1805 <br>
    Aniversaris, llevador, 1816-1851 <br>

    Escriptures del claver, s. XVII. <br>
    Llevador del benefici. de St. Jaume, 1762-1793; del ben. de St. Josep, 1804. <h3 style="margin:0;padding:0;margin-top: 15px;">+Juvinyà, Sant Mart</h3> B 1725-1851 i 1884-1894.<h3 style="margin:0;padding:0;margin-top: 15px;">Llavià, Sant Romà</h3>Llevador de la rectoria, 1738-1824. <br>
    Consueta, 1731-1930, amb nota de primícia, 1784-1823.<h3 style="margin:0;padding:0;margin-top: 15px;">Lligordà, Sant Pere</h3> B 1728-1858; M 1728-1858; O 1728-1860; C 1743-1929. <br>
    T 1728-1918; Capítols matrimonials, 1727-1737. <br>

    Obra, 1729-1870; 1853-1889; obra de Palera ("Sant Domènec"), 
    1890-1928. <br>
    Fundacions, 1707-1746. <br>
    Status animarum 1740-1765, amb completum de misses 1792-1801. <br>
    Confr. Roser, confrares i comptes 1820-1931.<h3 style="margin:0;padding:0;margin-top: 15px;">Maçanet de Cabrenys, Sant 
        Martí</h3>B 1-2 (1600-1692); 3 (1692-1755); 4 (1756-1780); 5 (1781-1819); 6 (l819-1846); 
    7 (1846-1869, i un fascicle de fills de pares desconeguts,1847-1867) <br>
    M 1 (1715-1780); 2-3 (1780-1899) <br>
    O 1-2 (1642-1758); 3 (1808-1849); 4 (1849-1873). <br>
    Albats 1883-1930.<h3 style="margin:0;padding:0;margin-top: 15px;">Maçanet de la Selva, Sant 
        Llorenç</h3>Obreria de Sant Sebastià, 1755-1883, amb consueta. <br>
    Pergamins, 7.<h3 style="margin:0;padding:0;margin-top: 15px;">Madremanya, Sant Esteve</h3> B 1 (1504-1689, amb O, 1565-1568); 2 (1689-1798); 3 (1798-1851). <br>

    M 1 (1588-1687); 2 (1689-1839); 3 1851-1914, amb C 1852-1860). <br>
    O 1 (1568-1687); 2 (1689-1809); 3 (1809-1851). <br>
    T 1 (1384-1444); 2 (1509-1785); 3 1651-1772); 4 (1651-1681); 5 (1772-1824); 
    6 (1785-1900); 7 (1824-1849). <br>
    Obra, capbreu, 1444-1483; escriptures, 1521-1832; llevador, 1774-1812; comptes, 
    1691-1863. <br>
    Misses fundades i aniversaris, llevadors, 1701-1807, 1744-1830, amb primeres 
    comunions i status animarum 1931-1972, 1786-1857. <br>
    Administracions i confraries: Santa Anna, 1695-1815; Minerva, confrares, 1792-1939; 
    Roser, confrares, 1744-1939; Àngels, Santissim i altres, 1710-1866. 
    <br>

    Escriptures i consueta, 4 llig. <br>
    Església de Millás, 1 llig. <br>
    Pergamins, 5. <h3 style="margin:0;padding:0;margin-top: 15px;">Marenyà, Sant Esteve</h3> B 1 (1600-1701); 2 (1701-1813); 3 (1813-1850). <br>

    M 1 (1704-1807); 2 (1831-1861) <br>
    O 1 (1559-1629); 2 (1630-1703); 3 (1704-1768); 4 (1769-1862).<h3 style="margin:0;padding:0;margin-top: 15px;">Mata, Sant Andreu</h3>B 1 (1567-1636, amb M 1576-1743); 2 (1638-1786); 3 (1786-1851). <br>
    M 1 (1746-1822, amb O 1761-1822); 2 (1827-1851). <br>

    O 1 (1611-1761); 2 (1822-1851).<h3 style="margin:0;padding:0;margin-top: 15px;">Matajudaica, Sant Joan</h3>B 1 (1507-1665); 2 (1698-1851, amb C). <br>
    M 1 (1656-1770); 2 (1770-1850, amb compl. pasqual); 3 (1857-.1968). <br>
    O 1 (1571-1698); 2 (1699-1851, amb T, 1714-1747); 3 (1852-1960). <br>

    T 1 (1564-1797); 2 (1753-1935). <br>
    Obra, 1719-1852; 1879-1968. <br>
    Aniversaris, completum 1735-1744; llevador, 1763-1846. <br>
    Bací d'ànimes 1707-1741; 1748-1791, amb Status Animarum. <br>
    Status Animarum, 1912-1955. <br>
    Roser, 1752-1893; Santa Emiliana, 1743-1885. <br>

    Consueta, 1917. <br>
    Pergamins, 10.<h3 style="margin:0;padding:0;margin-top: 15px;">Miànegues, Sant Romà</h3>B 1 (1591-1617); 3 (1787-1832); 4 (1851-1889 amb C). <br>
    C 1 (1820-1854). <br>

    M 1 (1608-1815 amb O, 1637-1734); 2 (1815-1851); 3 (1852-1900) <br>
    O 2 (1734-1814); 3 (1815-1851); 4 (1851-1891) i 5 (1892-1971) <br>
    T (1591-1846). <br>
    Obra (1678-1865, amb Roser, 1728-1781). <br>
    Censals de l'Obra, 1826-1841. <br>
    Llevador d'Aniversaris i misses d'estaca, 1810-1853.<h3 style="margin:0;padding:0;margin-top: 15px;">Mieres, Sant Pere</h3>Pergamins, 7.<h3 style="margin:0;padding:0;margin-top: 15px;">Monells, Sant Genís</h3>B 1 (1603-1691); 2 (1692-1778). <br>
    Consueta i notes de primícia, amb col·lecció d'impresos, 
    1741-1791. <br>

    Aniversaris, llevador, 1703-1733. <br>
    Confraries; Minerva, confrares, 1792-1904; Dolors, comptes, 1806-1896. <br>
    Pergamins, 40.<h3 style="margin:0;padding:0;margin-top: 15px;">Montagut, Sant Pere</h3>B 1 (1528-1596, amb O 1634-1677); 1 bis (1600-1652); 2 (1652-1716); 3 (1716-1754); 
    4 (1754-1782); 5 (1782-1813); 6 (1814-1833);6 bis llibreta B (1812); 7 (1833-1851); 
    8 (1851-1877); 9 (1877-1891); 10 (1891-1909); 11 (1909-1927); esborrany de 
    B 1915-1951. <br>

    C 1 (1721-1858); 2 (1863-1980). <br>
    M 1 (1585-1785, amb O 1566-1732); 2 (1785-1851); 3 (1851-1880); 4 (1880-1919) 
    i una llibreta de M de 1812. <br>
    O 2 (1732-1783); 3 (1783-1815); 4 (1815-1851); 5 (1851-1876); 6 (1876-1898); 
    7 (1898-1913). <br>
    T 1 (1574-1731); 2 (1630-1814); 3 (1695-1742); 4 (1725-1746); 5 (1742-1872); 
    6 (1749-1847); 7 (1873-1956). <br>
    Escriptura de l'Obra, s.XVII. <br>
    Memorial i nota dels censals i demés rendes de l'església, 1742. 
    <br>

    Especula dels actes de censals , censos i demés renda donada y cedida 
    a la obra de la Iglesia Parroquial de Montagut (...) y també de la 
    renda de la pia almoyna y del Estudi (...), 1734. <br>
    Confraries; Roser, 1800-1876. Confrares; Rosario, 1879-1912. Confrares; de 
    Almas, 1879-1906. Confrares; Sant Josep, homes,1651.<h3 style="margin:0;padding:0;margin-top: 15px;">Montiró, Sant Sadurní</h3>M (1648-1853) <br>
    O 1 (1641-1779). <br>

    Consueta, s.XVII-XIX <br>
    Llevador de N. Sra. de l'Om, 1848-1856.<h3 style="margin:0;padding:0;margin-top: 15px;">Montnegre, Sant Mateu</h3>T 1 (1808-1922) <br>
    Confraria de St. Antoni, 1723-1776. <br>

    Obra, 1858-1935. <br>
    Manuscrits de Mn. Valls, 8 vols.<h3 style="margin:0;padding:0;margin-top: 15px;">Mont-ras, Sant Esteve</h3>B 1 (1564-1602); 2 (1603-1700); 3 (1700-1753); 4 (1753-1778); 5 (1779-1823); 
    6 (1824-1851); 7 (1851-1883); 8 (1883-1918). <br>
    C 1 (1731-1819); 2 (1852-1971). <br>

    M 1 (1608-1756); 2 (1763-1850); 3 (1851-1903). <br>
    O 1 (1594-1673); 2 (1674-1750); 3 (1750-1795); 4 (1795-1851); 5 (1851-1890). 
    <br>
    T 1 (1561-1655); 2 (1654-1768); 3 (1698-1827); 4 (1827-1838); 5 (1866-1927). 
    <br>
    Consueta, s.XVIII. <br>
    Confraries; M. D. Antiga 1692-1921; Antoni, 1729-1927; Esteve, 1707-1927; 
    Isidre, 1782-1927; Roser, Confrares, 1637-1904; comptes, 1739-1927; Santíssim, 
    confrares, 1795-1882; comptes, 1770-1927. <br>
    Fundacions d'aniversaris, s.XVIII. <br>

    Capbreu, 1503-1568. <br>
    Llevador de l'Obra, 1803-1851; comptes, 1873-1910. <br>
    Decrets de visita pastoral, 1829-1958. <br>
    Status Animarum, 1926. <br>
    Registre del cementiri, 1929. <br>
    Escriptures i expedients matrimonials, 10 lligalls. <br>

    Pergamins, 66. <h3 style="margin:0;padding:0;margin-top: 15px;">Oix, Sant Llorenç</h3>B 1(1730-1828). <br>
    T 1(1677-1812); 2(1849-1879). <br>
    Capítols matrimonials 1687-1734. <br>

    Cementiri parroquial 1902-1936. <br>
    Obra de Talaixà 1885-1936.<h3 style="margin:0;padding:0;margin-top: 15px;">+Olives, Sant Vicenç de 
        les</h3>C (1942)<h3 style="margin:0;padding:0;margin-top: 15px;">Olot, Sant Esteve</h3>Benefici del Roser. Llevador 1833-1861. <br>
    Pergamins, 14.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3>Procés sobre dret de patronat, 1644. <h3 style="margin:0;padding:0;margin-top: 15px;"></h3> Comunitat de preveres. Comptes de funerària, 1812-1838. <h3 style="margin:0;padding:0;margin-top: 15px;">Palau-Sator, Sant Pere</h3> B 1 (1697-1851). <br>
    C 1 (1771-1785); 2 (1928-1958). <br>
    M 1 (1696-1851). <br>

    O 1 (1696-1851); 2 (1851-1917). <br>
    T 1 (1698-1786); 2 (1786-1940). <br>
    Confraria del Roser, comptes 1722-1853; Comptes 1758-1853;Confrares 1761ss. 
    <br>
    Canalar d'escriptures, 1758ss. <br>
    Comptes de l'Obra, 1761-1858. <br>
    Compliment Pasqual, 1893. <br>

    Culte i Obra, 1883-1947. <br>
    Diverses llibretes, l929-1944 (6 llibretes). <br>
    Status Animarum, 1947. <br>
    5 lligalls d'escriptures, expedients de M i factures. <br>
    Pergamins, 4.<h3 style="margin:0;padding:0;margin-top: 15px;">Palol d'onyar, Sant Sadurní</h3>B 2 (1600-1717); 3 (1717-1779); 5(sic) (1779-1826); 6 (1826-1913). <br>
    C (1852-1958). <br>
    M 1 (1586-1781); 2 (1781-1856); 3 (1851-1923), amb O. <br>
    O 1 (1725-1787); 2 (1786-1857); 3 (1851-1957) junt amb M. <br>
    T 1 (1549-1564); 2 (1615-1653, amb B 1566-1600 i ) 1566-1590); 3 (1730-1850). 
    <br>

    Status animarum, 1595-1669. <br>
    Obra, canalar de documents, 1762; Llevador, 1763-1853; Censos i despeses, 
    1766-1800; Comptes obra i bacins, amb consueta, 1761-1889; 1859-1939. <br>
    Reducció de misses i aniversaris, 1763. <br>
    Lligall d'impresos, amb cobertes de llibre de B. <br>
    Confraria del Roser, confrares, 1729. <br>
    Actividades de las niñas, 1942. <br>

    Inventario y estadística parroquial, 1939. <br>
    Confraria de la Doctrina Cristiana, 1942. <br>
    Despachos. Registro de feligreses de Palol, 1939. <br>
    Cementiri parroquial,1921. <br>
    Administracions parroquials, 1940. <br>
    Comunió Solemne, 1939. <br>

    Estado de Animas, 1950. <br>
    Mes de Maria, culto y pobres, 1932. <br>
    Estatuts de la Congregació Pacífica. <br>
    Culto y Obra, 1944. <br>
    Compliment Pasqual, 1939-1949. <br>
    Lligall de consentiments paterns. <br>

    Tres lligalls de documentació vària.<h3 style="margin:0;padding:0;margin-top: 15px;">Parets, Santa Llogaia</h3>Obra, 1714-1859. <br>
    Plet sobre Aniversaris,1780. <br>
    Confraria del Roser, confrares, 1769-1930; de la Minerva, confrares, 1828-1930, 
    del Cor de Maria i de la Doctrina Cristiana, 1905-1931 <br>

    Llibre de les conferencies morals de la Conferència de Parets de Ampurdà. 
    <br>
    Pergamins, 10.<h3 style="margin:0;padding:0;margin-top: 15px;">Parlavà, Sant Feliu</h3>B 1 (1561-1671); 2 (1671-1766); 3 (1766-1828); 4 1829-1852) 5 (1851-1858, 
    amb M 1852-1858 i O); 6 (1858-1912); 7 (1913-1936). <br>
    C 1720-1850 <br>

    M 1 (1565-1688); 2 (1673-1850); 3 (1858-1958, amb C) <br>
    O 1 (1599-1708); 2 (1709-1848); 3 (1858-1923); 4 (1924-1936). <br>
    T 1 (1467-1538); 2 (1554-1714); 3 ( 1721-1850); un esborrany de T, 1548-1565 
    i un lligall de T solts. <br>
    Obra; llibre de 1607-1873, amb comptes de confraries i administracions; comptes 
    1779-1870; comptes 1886-1936; Obra 1888-1891, amb comptes de confraries. <br>
    Confraria de la Minerva, 1799; llibre de la Confraria del Roser, 1792-1855. 
    <br>
    Status Animarum, 1862; 1883; 1945. <br>

    Llicències matrimonials, escriptures i rebuts, 3 llig. <br>
    Pergamins, 18.<h3 style="margin:0;padding:0;margin-top: 15px;">Pedret i Marzà, Sant Esteve</h3>B 1 (1794-1835, amb C). <br>
    M 1 (1794-1851). <br>

    O 1 (1795-1853). <br>
    T (1812-1846, amb comptes de l'Obra de 1864-1932). <br>
    Llibre de l'Obra, comptes 1803-1863. <br>
    Censals de la rectoria, llevador 1740-1852. <h3 style="margin:0;padding:0;margin-top: 15px;">+Pedrinyà, Sant Andreu</h3>BMO 1 (1554-1810); 2 (1811-1854). <br>
    Administracions, comptes, 1782-1839. <br>
    Decrets de visita, 1852-1871. <h3 style="margin:0;padding:0;margin-top: 15px;">Pera, Sant Isidor de la</h3>B 1-2 (1594-1830); 3 (1830-1859). <br>

    C 1 (1638-1725); 2 (1722-1859); <br>
    M 1 (1595-1859). <br>
    O 1 (1594-1844); 2 (1844-1859). <br>
    Albats 1 (1784-1828). <br>
    T. del sagristà, 1575-1717; 1718-1884. Del domer i rector de Pedrinyà, 
    1633-1775; 1776-1849, amb T. solts fins a 1927. Aprísies de T., 1569-1593; 
    1589-1692; 1597-1629; 1640-1677.5 (1776-1927); 6 (vàries dates). <br>
    Obra i administracions, comptes, 1744-1767; 1767-1817; 1821-1902; 1817-1910, 
    administracions. <br>

    Escriptures i consuetuts, 1711; llevador de fundacions, 1710; 1791-1816; fundacions 
    i aniversaris, 1737; llevador del domer i benefici de la Concepció, 
    1755-1803; completum de celebracions, 1751-1796; novenari d'ánimes, 
    1775-1853. <br>
    Confraries: Verge Maria, després Concepció, confrares, 1535-1650; 
    Quatre màrtirs, confrares, 1756-1830; Santíssim, confrares, 
    1691-1756; 1756-1851. <br>
    Cinc lligalls de documents diversos. <br>
    Pergamins, 62.<h3 style="margin:0;padding:0;margin-top: 15px;">Peratallada, Sant Esteve</h3> B 1 (1548-1717); 2 (1717-1806); 3 (1807-1851) i un esborrany de B 1878-1946. 
    <br>
    M 1 (1576-1717); 2 (1717-1850); 3 (1850-1851) <br>
    O 1 (1562-1756); 2 (1757-1810); 3 (1810-1845). <br>
    T 1 (1744-1821); 2 (1783-1929). <br>
    Obra i administracions, comptes, 1723-1891; Drets parroquials i de funerària, 
    comptes, 1721-1793; aniversaris, rebuts, 1719-1760; llevador d'aniversaris, 
    1815-1823; 1834-1840. <br>
    Completum de misses, 1819-1824. <br>

    Consueta, 1819. <br>
    Confraries; del Roser, llevador, 1705-1851; confrares, 1750-1818;1759-1931; 
    administració de la Magestat, comptes, 1805-1833, amb notes de compliment 
    pasqual, 1891-1909; S. Esteve, comptes, 1673-1808; Concepció, o la 
    Antiga, comptes, 1686-1830. <br>
    Administracions parroquials, 1851-1888. <br>
    Conferències morals, 1850-1926; 1926-1940. <br>
    17 lligalls, numerats 1-8-9-10-14 i 16-20.Diversos papers solts. Obra y Culto 
    1878-1942; Obra y Culto 1933ss; Registre de documents expedits 1878ss; Consueta; 
    Misses i aniversaris a celebrar; tres quaderns de rebuts. <br>
    Pergamins, 136.<h3 style="margin:0;padding:0;margin-top: 15px;">Planes d'Hostoles, Sant Cristófol 
        de les</h3> M 1558-1664. <br>
    O 1649-1723 <h3 style="margin:0;padding:0;margin-top: 15px;">Porqueres, Santa Maria</h3>B 1 (1702-1760); 2 (1760-1802); 3 (1802-1851); 4 (1852-1903). <br>
    M 1 (1589-1764); 2 (1764-1851). <br>
    O 1 (1759-1847). <br>
    T 1 (1503-1657); 2 (1658-1850). <br>

    Ciri del jovent, 1577-1620; 1621-1719. <br>
    Confraries del St .Crist, St. Isidre, St. Roc i St. Joan, 1783ss. <br>
    Confraria del Roser; confrares 1681; comptes 1701. <br>
    Obra, 1561-1727; 1727-1881; 1881-1931. <br>
    Llevador de misses d'estaca, 1783. <br>
    Un plec d'impresos. Tres carpetes de documents solts. <br>

    Un lligall de plets. <br>
    Pergamins, 36<h3 style="margin:0;padding:0;margin-top: 15px;">Púbol, Sant Pere</h3>B 1 (1594-1738); 2 (1738-1800); 3 (1800-1859). <br>

    C 1 (1799-1858). <br>
    M 1 (1584-1792); 2 (1792-1858). <br>
    O 1 (1584-1749); 2 (1749-1859). <br>
    T 1 (1599-1770); 2 (1614-1668); 3 (1689-1791); 4 (1792-1845); 5 (1836-1942). 
    <br>
    Decrets de visita, 1599-1625; 1821-1932. <br>
    Consueta, 1612-1904. <br>

    Obra, comptes, 1592-1699; 1712-1776; 1776-1883. <br>
    Fundacions, escriptures, 1756; llevadors, 1754-1812; 1754-1815. <br>
    Benefici de Santa Anna, llevador, 1796-1816. <br>
    Confraria del Roser, comptes, 1717-1837. <br>
    Escriptures, 3 llig.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3> M 1872-1879.<h3 style="margin:0;padding:0;margin-top: 15px;">Pujals dels Pagesos, Santa Eulàlia</h3>Fundació del benefici de Santa Eulàlia, 1371. <h3 style="margin:0;padding:0;margin-top: 15px;">Pujarnol, Sant Cebrià</h3>B 1 (1660-1774); 2 (1774-1851); 3 (1852-1899). <br>
    M 1 (1662-1802); 2 (1806-1851). <br>
    O 1 (1663-1771); 2 (1771-1851). <br>
    T 1 (1831-1875). <br>
    Fundacions, llevador, 1733-1784; 1768-1866. <br>
    Comptes del rector, 1918-1930. <br>

    Documents solts, 3 carpetes. <br>
    Pergamins, 31.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3> Llibre del benefici de Sta. Margarida, 1734-1784.<h3 style="margin:0;padding:0;margin-top: 15px;">Queixàs, Sant Martí</h3>B 1738-1845. <br>
    T 1680-1715. <br>
    Expedients matrimonials 1942-1964. <br>
    Confraria de la Doctrina Cristiana, confrares, 1943. <br>
    Confraria del Sant Sagrament, confrares, 1943. <br>
    Status Animarum i compliment pasqual 1940-1944; 1945-49. <h3 style="margin:0;padding:0;margin-top: 15px;">Rabós d'empordà, 
        Sant Julià</h3>Pergamins, 42.<h3 style="margin:0;padding:0;margin-top: 15px;">Ravós del Terri, Sant Cugat 
</h3> Un lligall d'escriptures vàries.<h3 style="margin:0;padding:0;margin-top: 15px;">Riudarenes, Sant Martí</h3>M 1 (1918-1959) <br>
    O 1 (1918-1953); 2 (1954-1980). <br>
    Confirmacions 1844-1922 <br>
    Benefici S. Miquel i Roser, llevador, 1751-1814 <h3 style="margin:0;padding:0;margin-top: 15px;">Riudaura, Santa Maria</h3>Un lligall d'escriptures i correspondència. <br>
    Pergamins, 5.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3> Llevador del benefici de Sta. Maria, 1699-1737.<h3 style="margin:0;padding:0;margin-top: 15px;">Riumors, Sant Mamert</h3>  B 1 (1621-1777); 2 (1778-1851); 3 (1851-1907, amb C 1877). <br>
    M 1 (1663-1792);2 (1793-1851). <br>
    O 2 (1783-1872);3 (1872-1918). <br>
    T 1 (1678-1851);2 (1885-1960. <br>

    Escriptures, 1 llig. <h3 style="margin:0;padding:0;margin-top: 15px;">Rocabruna, Sant Feliu</h3>B 1 (1587-1698, amb M i O); 2 (1698-1742, amb M i O); 3 (1742-1805); 4 (1805-1851); 
    5 (1852-1899). <br>
    M 1 (1742-1851); 2 (1852-1932). <br>
    O 1 (1742-1851); 2 (1852-1899, amb C) <br>

    T 1 (1639-1743, amb capítols matrimonials i àpoques); 2 (1743-1941). 
    <br>
    Llibre d'Obra, 1939-1970.<h3 style="margin:0;padding:0;margin-top: 15px;">Romanyà de la Selva, Sant 
        Martí</h3> B 1 (1673 -1741, amb M,O i T); 2 (1742-1799); 3 (1799-1851); 4 (1851-1913). 
    <br>
    C 1 (1863-1929). <br>

    M 2 (1756-1851); 3 (1851-1969). <br>
    O 2 (1738-1851). <br>
    T 2 (1761-1846). <br>
    Confraries; Santíssim, confrares, 1780-1860; Roser, confrares, 1695-1860. 
    <br>
    Lligall de llibretes d'administració de confraries, s. XIX. <br>
    Lligall de testaments, oficis, confirmacions, 1741-1852. <br>

    Lligall amb un llevador i diverses escriptures. <h3 style="margin:0;padding:0;margin-top: 15px;">Rupià, Sant Vicenç</h3>B 1 (1575-1775); 2 (1776-1851); 3 (1852-1908, amb C). <br>
    C 1722-1970 <br>
    M 1 (1565-1595); 1bis (1667-1851); 2 (1852-1929). <br>

    O 1 (1574-1787); 2 (1788-1851); 3 (1852-1925). <br>
    Consueta, 1699 <br>
    Conferències eclesiàs.iques, 1850-1929 <br>
    Decrets de Visita, 1561-1859. <br>
    Obra, comptes 1444-1732; 1579-1703; 1883-1959; 1959-1979; llevador, 1785-1823. 
    <br>
    Fundació Massanet, canalar, 1684; comptes 1677-1892; causapia Pere 
    Valls, llevador, 1530-1563; Aniversaris, llevador, 1693; 1698; 1764; 1785-1854; 
    1787-1811; 1841. <br>

    Germandat de sufragis sacerdotals, 1739-1821. <br>
    Confraries i administracions; St. Antoni, 1715-1802; Bací ànimes, 
    1677-1760; Terç O. St. Francesc, 1710-1793; St. Isidre, 1680-1782; 
    St. Jaume, 1725-1836; Santa Margarida, 1729-1760; Mare de Déu Antiga, 
    1701-1836; Processó del Dijous Sant, 1828-1894; Roser, comptes, 1643-1815; 
    confrares, 1598-1926. <br>
    Comptes de Martí Escot, 1550-1560. Escriptures, 8 llig. <br>
    Pergamins, 36. <h3 style="margin:0;padding:0;margin-top: 15px;">Sadernes, Santa Cecília 
</h3>B 1 (1639-1772); 2 (1772-1851); 3 (1851-1907). <br>
    C 1946 i 1949 <br>
    M 1 (1639-1802); 2 (1802-1851). <br>
    O 1 (1639-1830); 2 (1831-1851). <br>
    T 1 (1622-1847). <br>
    Culte i obra, 1859-1883, amb consueta; 1883-1956.<h3 style="margin:0;padding:0;margin-top: 15px;">Sala, Santa Maria de la</h3>BMO 1702-1736 <br>
    B 1736-1851. <br>
    C 1736-1852. <br>
    M 1736-1851 <br>

    Obra, llevador, 1703-1727; comptes, 1802-1829. <br>
    Fundacions, 1711; Delme, 1782-1828. <br>
    Administracions, comptes, 1777-1892; Roser, confrares, 1791-1860; Minerva, 
    confrares, 1792; Causapia Mas, comptes 1710-1744. <br>
    Pergamins, 4.<h3 style="margin:0;padding:0;margin-top: 15px;">+Salarsa, Sant Valentí</h3>Llibre de l'Obra, 1713-1750 i 1949-1969.<h3 style="margin:0;padding:0;margin-top: 15px;">Sales de Llierca, Sant Martí</h3>B 1 (1821-1851); 2 (1851-1939). <br>
    C 1949. <br>
    M 1 (1821-1851); 2 (1851-1947). <br>

    O 1 (1739-1833, amb albats); 2 (1834-1851); 3 (1851-1960). <br>
    T 1707-1851; llig. (1694-1850 i 1852-1924). <br>
    Confraria del S. Cor de Jesús, 1886. <br>
    Obra, 1927-1977. <br>
    Matrimonial, 2 llig. <h3 style="margin:0;padding:0;margin-top: 15px;"></h3>T 3 (1653-1675). <h3 style="margin:0;padding:0;margin-top: 15px;">Salt, Sant Cugat</h3>B 1 (1724-1769).<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Cebrià del Valalta</h3>B 1 (1503-1514,1532,1518-1554,1556-1621,en un fascicle; 1582-1684); 1 bis. 
    (1621-1692); 2 (1692-1721); 3 (1722-1811); 4 (1812-1851); 5 (1851-1906). <br>
    C 1 (s.XVIII); 2 (s.XIX-XX). <br>
    M 1 (1642-1713- i 1720-1721, amb O 1642-1706); 1 bis (1598-1687); 2 (manca); 
    3 (1722-1832); 4 (1832-1851); 5 (1851-1916). <br>
    O 1 (1596-1679); 2 (manca); 3 (1707-1794); 4 (1795-1851); 5 (1851-1965). <br>
    T 1450-1515 i 1552-1620; 1570-1582; 1579-1618; 1584-1669; 1598-1676; 1658-1738; 
    1698-1800; 1801-1844. <br>
    Bací ànimes, 1566-1701; llevador aniversaris, 1569-1660. <br>

    Pergamins, 115. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Dalmai</h3> B 1 (1731-1800); 2 (1801-1851); 3 (1851-1890). <br>
    M 1 (1810-1851); 2 (1851-1958). <br>
    O 1 (1809-1851); 2 (1851-1958). <br>

    T 1811-1848. <br>
    Compliment pasqual, 1951-1971. <br>
    Confraria del Roser, 1812-1964. <br>
    Col·lecta de la rectoria, 1746-1834; Canalar de censals, 1824; <br>
    Escriptures de censals, llig. Vària, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Esteve de Llémena</h3>B 1 (1652-1759); 2 (1729-1781); 3 (1783-1804); 4 (1804-1851); 5 (1851-1901). 
    <br>
    C 1 (1728-1850). <br>
    M 1 (1592-1683, amb O); 2 (1684-1820); 3 (1821-1851); 4 (1851-1921, amb C). 
    <br>
    O 1 (1680-1778); 2 (1779-1810); 3 (1810-1851); 4 (1851-1897). <br>
    T 1568-1734 (fascicle); 1585-1720 (amb papers solts de núpcies) i 1729-1846 
    (amb T solts posteriors). <br>

    Obra, 1561-1587; 1603-1739; 1740-1880; 1881-1962. <br>
    Aniversaris, llevador, 1740-1778; Completum, 1782-1832. <br>
    Consueta, 1714. <br>
    Confraries; Roser, confrares, 1741-1831; Minerva, confrares 1794-1847. <br>
    Collationes teológico-morales, 1940-1948 <br>
    Escriptures i expedients matrimonials, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Feliu de Boada</h3>B 1 (1588-1664); 2 (1706-1851). <br>
    C 1722-1917 (quadern). <br>
    M 1 (1592-1842); 2 (1842-1852). <br>
    O 1 (1592-1754); 2 (1754-1851); 3 (1851-1903). <br>

    T 1 (1636-1840); 2 (1737-1948). <br>
    Obra, comptes, 1646-1798; 1881-1950. <br>
    Llevador d'Aniversaris, 1804-1819. <br>
    Confraries; Roser, comptes, 1808-1868; Santíssim, confrares, 1792, 
    amb comptes d'administracions, 1800-1807 <br>
    Formularis parroquials (2 vol.). <br>
    Pergamins, 7. [marca]

   
    SANT FELIU DE LA GARRIGA <br>
    T 1516-1541<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Feliu de Guíxols, Santa 
        Maria Assumpta</h3>Comptes de funerals i benediccions, 1796-1825.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Feliu de Pallerols</h3>Comptes de Feliu Fàbrega, beneficiat, 1721-1731 <br>
    Pergamins, 53.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Gregori</h3>B 1 (1562-1659); 2 (1659-1728); 2b (1728-1779, amb C); 3 (1779-1822); 4 (1822-1851). 
    <br>

    M 1 i 2 (1617-1847). <br>
    O 1 (1575-1623); 1b (1659-1762); 2 (1763-1831); 3 (1831-1851). <br>
    T 1 (1553-1649); 2 (1558-1570); 3 (1653-1830); 4 (1704-1828); 5 (1829-1849). 
    <br>
    Pabordies; de St. Baldiri, 1814-1839; de la Mare de Déu (1814, 1963); 
    de la lluminària de Sant Sebastià i de Sant Grau (1889-1972); 
    pabordes del Santíssim (1813-1918); Sant Antoni de Pàdua; Sant 
    Bartomeu; Roser, comptes 1709-1944 . <br>
    Llibres de les rendes de l'Església de Sant Gregori,1666 i 1744. <br>
    Llibre de rendes del domer de Sant Gregori, s. XVIII. <br>

    Llibre de rebuts de Josep Sangles, fuster, 1750-1791. <br>
    Tres llibres de conferències sinodals de la comarca de Sant Gregori, 
    iniciats el 1883, 1925 i 1953. <br>
    Administracions del segle actual; Puríssima Concepció; Roser; 
    S.Sebastià, S.Baldiri i Sant Grau; Administracions vàries; Catino 
    Animarum; Apostolat de l'Oració (6 quaderns). [marca]

   
    SANT ISCLE DE COLLTORT <br>
    Obra, 1946-1972. <br>

    Pergamins, 1. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Iscle d'empordà</h3>B 1 (1851-1931); 2 (1932-1975). <br>
    C 1722-1958, amb decrets de visita pastoral. <br>
    M 1 (1856-1975). <br>

    O 1 (1852-1975). <br>
    T 1716-1905. <br>
    Status Animarum, 1737-1939. <br>
    Obra, comptes, 1755-1913; 1885-1974 <br>
    Apunts de Sebastià Sagrera, rector, sobre drets parroquials, 1632-1650. 
    <br>
    Llevador d'aniversaris, 1677-1738; completum de misses, 1755-1771. <br>

    Llevador del benefici de la Confraria, ca. 1668. <br>
    Capbreu de la pabordia d'Agost de la Seu, 1418. <br>
    Roser, confrares, 1741, i Minerva, confrares, 1792. <br>
    Escriptures i impresos rebuts, 3 llig. <br>
    Pergamins, 133. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Joan de Mollet</h3>B 1 (1519-1648); 2 (1648-1685); 3 (1685-1789). <br>
    C 1741-1800. <br>
    M 1 (1565-1673); 2 (1674-1808); 3 (1810-1851). <br>
    O 1 (1565-1691); 2 (1691-1771). <br>
    Confraria St. Sebastià, confrares i comptes, 1349-1461.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Jordi Desvalls</h3>B 1 (1628-1692); 2 (1692-1734); 3 (1734-1772); 4 (1772-1795); 5 (1796-1851); 
    6 (1851-1876); 7 (1876-1905); 8 (1906-1915); 9 (1916-1936). <br>
    M 1 (1568-1795); 2 (1796-1851); 3 (1851-1890); 4 (1890-1969). <br>
    O 1(1568-1695); 2 (1695-1753); 3 (1754-1778); 4 (1778-1851); 5 (1851-1887); 
    6 (1887-1943). <br>
    T 4 llibres. <br>

    Llibre de les Ànimes, 1855. <br>
    Pergamins, 56. <h3 style="margin:0;padding:0;margin-top: 15px;">+Sant Julià de Boada</h3> B 1 (1706-1851, amb M (1671-1845 ); 2 (1852-1889). <br>
    O 1 (1666-1850).<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Llorenç de la Muga</h3>B 3 (1695-1759); 4 (1759-1783); 5 (1583-1824); 5 bis (1808-1825, amb M 1809-1824 
    i O 1808-1826); 6 (1825-1849); 7 (1850-1859); 8 (1859-1868); 9 (1868-1905). 
    <br>
    M 2 (1756-1808 i 1825-1826); 2 bis (matrimonis del sagristà, 1756-1826); 
    3 (1826-1858); 4 (1859-1874); 5 (1874-1992). <br>

    O 2 (1639-1783); 3 (1784-1826); 4 (1826-1859); 5 (1860-1874); 6 (1874-1936); 
    7 (1936-1992). <br>
    T 1735-1847, amb testaments d'Albanyà i Pincaró de 1739-1772; 
    1822-1882, carpeta. <br>
    Pergamins, 23.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Llorenç de les Arenes</h3> B 1 (1589-1791); 2 (1792-1850) <br>
    M 1597-1849. <br>
    O 1 (1594-1799); 2 (1800-1878). <br>
    T 1 (1616-1751, amb C 1594-1629); 2 (1792-1846). <br>

    Obra, 1546-1816; 1865-1880; llevador 1775-1811. <br>
    Fundacions, llevador 1780-1816, amb completum.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Marçal de Quarantelles</h3>B 1805-1886 <br>

    O 1728-1884 <br>
    T 1728-1855 <br>
    Obra, 1601-1704; 1860-1880. <br>
    Fundacions, amb completum, 1744-1793. <br>
    Confr. Santíssim i Roser, 1822-1924. <br>
    Marmessoria Nicolau Ros, 1718-1722. <br>

    Escriptures, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Martí de Llémena</h3>Llevador dels Aniversaris, 1659-1708. <br>
    Llibre de les rendes que cobra lo Rnt.Rector, 1762. <br>
    Llibre en que aniré notant los comptes vagian donant los administradors 
    de las confrarias... (amb quadern de consueta),1821-1960.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Martí Sesserres</h3> B 1852-1926. <br>
    O 1851-1966 <br>
    Status animarum, 1904-1929. <br>
    Escriptures, 1 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Martí Vell</h3>B 1 (1575-1644; 2 (1645-1691). <br>
    C 1751-1957. <br>
    M 1575-1691 <br>
    O 1750-1799. <br>

    T 1521-1530; 1556-1566; 1563-1564; 1580-1589; 1590-1599; 1674-1728; 1740-1784; 
    s. XVII, fasc. <br>
    Consueta, 1770-1780. <br>
    Obra, capbreu, 1697; llevador i comptes, 1703-1883; llevador del blat, 1811-1846. 
    <br>
    Aniversaris, llevador, 1703-1740; misses d'estaca, llevadors, 1717-1730; 1800-1851. 
    <br>
    Confraries i administracions; St. Antoni, 1751-1887; St. Jaume, confrares, 
    1659-1710; llevadors 1703-1774 i 1842-1890; St. Martí, 1845-1885; St. 
    Roc, 1842-1882; Roser, comptes, 1601-1833; confrares, 1793-1854; pabordesses, 
    1810-1882; Santíssim, comptes, 1684-1835; lluminària del Santíssim, 
    1637-1807; confrares, 1790-1894. <br>
    Benefici de N. S. Antiga, plet, 1769. <br>

    Procés de venda del mas Jordi de Palol de Sant Martívell i del 
    molí de la riera de Púbol, 1458-1487. <br>
    Santuari dels Angels, comptes 1576-1721; 1776-1846; 1872-1882; plet dels obrers, 
    1724; escriptures, 2 llig. <br>
    Pergamins, 39.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3>Llevador del personat de Climent Rovira, benef., 1713-1743.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3> BMO 1651-1765. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Miquel de Fluvià</h3>B 1 (1581-1618); 2 (1812-1814, amb comptes de l'Obra); 3 (1831-1852); 4 (1853-1893); 
    5 (1894-1929). <br>
    M 1 (1818-1813, ab administracions de confraries); 2 (1822-1852, amb O de 
    1812-1813); 3(1852-1918, amb C de 1865 a 1910). <br>

    O 1 (1683-1749); 2 (1853-1905). <br>
    T 1750-1965. <br>
    Obra, llevador 1820-1833. <br>
    Fundacions, llevador, 1780-1851, amb consueta. <br>
    Comptes d'administracions, 1781-1804. <br>
    Roser, confrares, 1646-1800. <br>

    Manuals de la notaría, 1306-1308; 1311-1324; 1337-1350; 1578-1595; 
    1593-1594; 1599; 1609-1611. <br>
    Liber curiae, 1406-1411; batllia, 1467-1528.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Miquel de la Pineda</h3>B 1852-1891, amb C. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Mori</h3>    B 1 (1786-1832); 2 (1845-1851); 3 (1853-1881). <br>
    M 1 (1853-1897, amb C). <br>
    O 1 (1853-1888); 2 (1889-1957). <br>
    Pergamins, 7. <h3 style="margin:0;padding:0;margin-top: 15px;">Sant Pol de la Bisbal</h3>T 1749-1875. <br>
    Obra, 1663-1835. <br>
    Misses i aniversaris, llevador, 1710-1738; 1784-1842; reducció de càrregues, 
    1769. <br>
    Administracions diverses, 1684-1897; Roser, comptes i confrares 1765-1897; 
    ciri del Santíssim, comptes, 1682-1894; ciri del jovent i St. Antoni, 
    1723-1897; Mare de Déu de les dones, després Dolors, 1712-1897. 
    <br>
    Causapia Bellsolà, comptes 1676-1707.<h3 style="margin:0;padding:0;margin-top: 15px;">Sant Tomàs de Fluvià 
</h3>BMOT 1603-1654. <br>
    Consueta 1781 amb delmes 1791-1832. <br>
    Plet del cambrer de St. Pere de Rodes contra el prior de Sant Tomàs 
    de Fluvià, 1691.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3>Benefici de St. Miquel, escriptures, s. XVIII-XIX. <h3 style="margin:0;padding:0;margin-top: 15px;">Santa Llogaia del Terri</h3>Obra, llevador, 1812-1836.  Consueta, s. XVIII. <br>
    Roser, confrares i comptes, 1814-1881 <br>
    Escriptures, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Santa Pau, Santa Maria de</h3>Escriptures, 1 llig. <br>

    Pergamins, 102.<h3 style="margin:0;padding:0;margin-top: 15px;">Saus, Santa Eugénia</h3>BMO 1832-1957. <br>
    Santuari del Mont; comptes, 1834-1879. <br>
    Consueta i memòries de la Mare de Déu del Mont, 1791-1953. <br>
    Confrares del Mont, 1634-1701. <br>

    Escriptures, 2 llig. <h3 style="margin:0;padding:0;margin-top: 15px;">Serra de Daró, Santa Maria</h3> B 1 (1588-1702); 2 BMO (1702-1748, amb C); 2b (1702-1748, amb O); 3 (1749-1852); 
    4 (1851-1906, amb C). <br>
    M 1 (1590-1743); 2 (1743-1852); 3 (1852-1926). <br>
    O 1 (1589-1707); 2 (1748-1851); 3 (1852-1957). <br>

    T 1 (1612-1693); 2 (1741-1916). <br>
    Obra, 1662-1675, amb administracions; 1881-1934. <br>
    Minerva, confrares, 1793-1865. <br>
    Comptes de l'obra i del municipi, 1438-1599; Libro de registro del pueblo 
    (comptes dels regidors), 1820-1842. <br>
    Llibre de molts remeis aprovats (apunts d'un veí de Serra), ca 1820. 
    <br>
    Escriptures i plets s.XVI-XIX, 3 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">+Talaixà, Sant Martí</h3>Taleixà, v. Oix.<h3 style="margin:0;padding:0;margin-top: 15px;">Tallada d'empordà, Santa 
        Maria de la</h3>Pergamins, 48.<h3 style="margin:0;padding:0;margin-top: 15px;">+Toralles, Sant Martí</h3> Toralles, v. Castellar de la Muntanya<h3 style="margin:0;padding:0;margin-top: 15px;">Torroella de Fluvià, Sant 
        Cebrià</h3>B 1 (1704-1822); 2 (1822-1851); 3 (1851-1912, amb C); 4 (1912-1942). <br>
    M 1 (1704-1818; 2 (1819-1851); 3 (1851-1911). <br>
    O 1 (1704-1768); 2 (1759-1851); 3 (1851-1925). <br>

    BMO 1851-1879, llig. <br>
    T 1704-1844; 1855-1963. <br>
    Matrimonial, 1 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Torroella de Montgrí, Sant 
        Genís</h3> Comptes i notes de la família Tor Bagur, 1553-1609. <br>

    Consueta de la comunitat de preveres, 1751 (fotocòpia). <br>
    Pergamins, 78. <h3 style="margin:0;padding:0;margin-top: 15px;">Tortellà, Santa Maria</h3>    B a (1595-1692, amb M i O); b (1695-1714); 1 (1714-1750); 2 (1750-1778); 3 
    i 4 (1778-1812); 4b (1812); 5 (1812-1831); 6 (1832-1850); 7 (1850, gener-desembre); 
    8 (1851-1862); 9 (1862-1877). <br>
    C 1 (1849-1863); 2 (1863-1977). <br>

    M 1 (1730-1796); 2 (1797-1851); 3 (1851-1876); 4 (1876-1909). <br>
    O 1 (1719-1775); 2 (1775-1792); 3 (1795-1833); 4 (1833-1851); 5 (1851-1865); 
    6 (1865-1878); 7 (1879-1923); 8 (1923-1960). <br>
    Index de partides B i O, 1585-1967, amb Confr. Santíssim, confrares, 
    1801. <br>
    T 1709-1777; 1775-1846; 1847-1953 (llig.); s. XVI-XVII, Status Animarum, 1963-1970. 
    <br>
    Consueta, 17861. <br>
    Obra, capbreu, 1560; llevadors, 1732; 1734-1769; 1771-1845; comptes, 1876-1906. 
    <br>

    Fundacions, ca. 1750. <br>
    Obra i administracions, comptes, 1731-1782. <br>
    Confraries; Roser, confrares, 1740-1884; Minerva, confrares, 1827-1936.<h3 style="margin:0;padding:0;margin-top: 15px;">Tossa de Mar, Sant Vicenç</h3>Llevador de la Rectoria, 1778-1841. <br>

    Pergamins, 9.<h3 style="margin:0;padding:0;margin-top: 15px;">Ullastret, Sant Pere</h3>B 1502-1590. <br>
    M 1643-1746. <br>
    T 1499-1608; 1622-1687. <br>

    Aniversaris, canalar, 1599-1710; llevador, 1666-1686, amb administracions, 
    1779-1852; llevador 1770-1835. <br>
    Confraries; Minerva, comptes, 1640-1778; Roser, confrares, 1599-1638; Puríssima 
    Sang, comptes, 1639-1855 <br>
    Escriptures, 2 llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Ultramort, Santa Eulàlia</h3>B 3 (1638-1732); 4 (1732-1793); 5 (1792-1821); 6 (1822-1851). <br>

    M 4 (1852-1940). <br>
    O 4 (1804-1851); 5 (1852-1954) <br>
    T 1795-1850 <br>
    Confr. Santíssim, comptes, 1617-1639; ciri de Sant Miquel, comptes, 
    1668-1854.<h3 style="margin:0;padding:0;margin-top: 15px;"></h3> Escriptures, 1 llig. <h3 style="margin:0;padding:0;margin-top: 15px;">+Vajol, Sant Martí de la</h3>Obra, comptes, amb llevador, 1749-1838. <h3 style="margin:0;padding:0;margin-top: 15px;">Vall del Bac, Sant Andreu de la</h3> B 1 (1601-1677); 2 (1680-1789); 3 (1789-1850); 4 (1851-1909). <br>

    C 1 (1728-1851). <br>
    M 1 (1676-1805); 2 (1806-1851). <br>
    O 1 (1676-1792); 2 (1793-1851). <br>
    T 1 (1693-1968). <br>
    Capítols Matrimonials, 1691-1736. <br>
    Obra, 1680-1878. <br>

    Confraria del Roser, comptes, 1696-1758 i 1759-1895. <br>
    Capella de Sta. Magdalena, comptes, 1724-1856. <br>
    Plets, 1705-1832. <br>
    Decrets de Visita Pastoral, s.XIX. <br>
    Tres lligalls de documents solts, amb abundància de T i capítols 
    matrimonials.<h3 style="margin:0;padding:0;margin-top: 15px;">Vallveralla, Sant Vicenç 
</h3>B 1 (1628-1674, amb M 1611-1691, O 1574-1691 i C); 2 (1679-1807, amb C); 3 
    (1808-1853, amb O 1775-1852). <br>
    M 1 (1692-1831). <br>
    Llibre de comtas de la Obra de Vulveralla, 1864-1933. <br>
    Ingressos i despeses de l'Obra, 1847-1856, amb nota de circulars rebudes pel 
    rector. <br>

    Llevador de las rendas de la Igla. parroquial de Vulberalla, ordenat per mi, 
    lo Rt.Pera Bret, rector, comensa en lo any 1770. <br>
    Llibre de decrets de Visita pastoral. <br>
    Lligall d'expedients matrimonials. <br>
    Llibre d'apunts de la familia Vidal.<h3 style="margin:0;padding:0;margin-top: 15px;">Ventalló, Sant Miquel</h3>B 1 (1606-1699); 2 (1700-1765); 3 (1766-1781); 4 (1781-1827); 5 (1832-1852); 
    6 (1853-1875); 7 (1875-1903). <br>
    C 1 (1759-1958). <br>
    M 1 (1662-1768); 2 (1769-1853). <br>
    O 1 (1606-1700); 3 (1768-1853); 4 (1854-1878); 5 (1879-1943). <br>
    T 1 (1601-1724); 2 (1698-1772); 3 (1773-1866). <br>
    Culto y Obra, 1872-1903; 1903-1971. <br>

    Censos, fundacions i historial de la parroquia, 1705; llevador de fundacions, 
    1770-1786.<h3 style="margin:0;padding:0;margin-top: 15px;">Verges, Sants Julià i Basilissa</h3>B 1 (1508-1582, amb O 1520-1570); 2 (1582-1648); 3 (1658-1688, amb M 1582-1699); 
    4 (1688-1754); 5 (1754-1839); 6 (1939-1851); 7 (1851-1875); 8 (1875-1889); 
    9 1889-1908). <br>
    M 1 (=B3); 2 (1736-1839); 3 (1839-1851); 4 (1851-1886); 5 (1886-1946). <br>
    O 1 (=B1); 2 (1582-1622); 3 (1623-1687); 4 (1687-1735); 5 (1735-1823); 6 (1826-1851); 
    7 (1852-1885); 8 (1885-1954). <br>

    Pergamins, 10.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilacolum, Sant Esteve</h3>B 1595-1636 (fascicle), 1 (1851-1913). <br>
    M 1594-1708 (fascicle). <br>
    O 1632-1684 (fascicle) <br>

    Obra i administracions, 1699-1858. <br>
    Comptes de l'Administració de N.S. Antiga, 1699-1842. <br>
    Plet sobre el peix de l'estany de Vilacolum. <br>
    Pergamins, 2 <h3 style="margin:0;padding:0;margin-top: 15px;"></h3>   Pergamins, 25.<h3 style="margin:0;padding:0;margin-top: 15px;">Viladasens, Sant Vicenç</h3>B 1 (1686-1779); 2 (1779-1850); 3 (1851-1898) i 4 (1898-1950). <br>
    M 1 (1571-1852); 2 (1853-1900). <br>
    O 1 (1646-1849); 2 (1851-1921). <br>

    T 1 (1738-1924). <br>
    Llibre de la Confraria del Roser. Confrares 1673-1791. <br>
    Decrets de visita pastoral, 1828, amb anotacions de vida parroquial, 1862-1917. <h3 style="margin:0;padding:0;margin-top: 15px;">Vilademires, Sant Mateu</h3>B 1599-1731, amb llacuna 1684-1706. <br>
    T 1765-1851. <br>
    Status Animarum, 1862-1917, amb eleccions d'obrers 1755-1893. Status Animarum, 
    1940-1952. <br>

    Pergamins, 22.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilafreser, Sant Sadurní</h3> B 1 (1751-1794, amb C); 2 (1795-1860). <br>

    C 1 (1820-1960). <br>
    Obra 180l-1893, amb memòries parroquials; 1940-1954. <br>
    Llevador d'aniversaris, s. XVIII. <br>
    Llevador de fundacions, 1815-1838. <br>
    Confraries: St. Joan, 1710-1886.Comptes; Sant Sebastià, 1797-1912. 
    <br>
    Escriptures de censals, s. XVIII, un lligall. <h3 style="margin:0;padding:0;margin-top: 15px;">+Vilallonga, Sant Martí</h3>Pergamins, 18.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilamacolum, Santa Maria</h3>  B 2 (1751-1785); 3 (1785-1840); 4 (1840-1851); 5 (1851-1866). <br>
    M 1 (1751-1850); 2 (1850). <br>

    O 1 (1601-1783); 2 (1751-1787); 3 (1788-1851). <br>
    T 1 (1751-1779); 2 (1780-1835). <br>
    Status animarum 1737-1754, amb confirmacions 1761-1856 i comptes d'obra i 
    administracions 1787-1798. <br>
    Llevador 1818 i consueta 1753. <br>
    Escriptures, un llig. <h3 style="margin:0;padding:0;margin-top: 15px;">Vilamarí, Santa Maria</h3> B 1 (1593-1745); 2 (1812-1813); 3 (1824-1838); 4 (1851-1892); 5 (1893-1936). 
    <br>
    C 1 (1731-1854). <br>
    M 1 (1843-1851); 2(1 852-1910). <br>
    O 1 (1644-1789); 2 (1851-1897). <br>
    T 1 (1397-1398); 2 (1562-1729). <br>

    Obra, llevador, 1757-1806; comptes 1857-1974. <br>
    Aniversaris, llevador, 1732-1802; reducció de càrregues, 1778; 
    completum 1790-1803; 1805-1818. <br>
    Aniversaris 1805-1811, amb compliment pasqual; Compliment pasqual 1732-1782. 
    <br>
    Fundacions de misses, s.XVIII. <br>
    Llibre de notes de la rectoria (=consueta), 1673. <br>
    Confraria del Roser; confrares 1730-1851; comptes 1730-1805. <br>

    Vària, llig. <br>
    Compliments pasquals 1851-1933, llig. <br>
    Censals i fundacions, llig. <br>
    Consentiments paterns, llig.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilanant, Santa Maria</h3> B 1 (1918-1948). <br>
    M 1 (1918-1962). <br>
    O 1 (1918-1964). [marca]

   
    VILANNA <br>
    Pergamins, 23.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilarig, Sant Martí</h3>B 1 (1563-1687, amb M i O); 3 (1750-1808); 4 (1808-1849, amb C); 5 (1851-1864); 
    6 (1865-1921); 7 (1921-1940, amb M 1924-1935, C 1734-1850 i O 1910-1940). 
    <br>
    M 2 (1684-1787); 3 (1783-1851); 4 (1852-1864); 5 (1865-1923). <br>
    O 2 (1684-1757); 4 (1796-1851); 5 (1851-1864); 6 (1865-1910). <br>
    T 1 (1684-1752); 2 (1752-1846). <br>

    Comptes parroquials i catecisme, 1942.<h3 style="margin:0;padding:0;margin-top: 15px;">Vila-robau, Sant Andreu</h3> B M C i O 1 (1622-1665); 2 (1678-1735); 3 (1735-1796); 4 (1797-1851). <br>
    M 2(1771-1851). <br>
    O 1 (1678-1731, amb B 1685-1713); 2 (1731-1846); 3 (1846-1851, amb comptes 
    d'obra, 1877-1928). <br>

    T 1 (1596-1653); 2 (1695-1744); 3 (1784-1956). <br>
    Obra i administracions, comptes, 1686-1782; 1765-1865. <br>
    Fundacions, 1760; completum de celebracions, 1785-1791. <br>
    Escriptures, 2 llig. <h3 style="margin:0;padding:0;margin-top: 15px;"> Vila-sacra, Sant Esteve</h3> Pergamins, 16.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilert, Santa Maria</h3>B 1 (1594-1742, amb M i O); 2 (1733-1786); 3 (1781-1851) <br>
    M 2 (1743-1830). <br>
    T 1682-1806; 1808-1849. <br>

    Obra, comptes 1638-1878. <br>
    Fundacions, 1830. <h3 style="margin:0;padding:0;margin-top: 15px;">Vilobí d'onyar, Sant Esteve</h3>B 1 (1590-1624); 2 (1624-1661); 3 (1661-1695); 5 (1752-1782); 6 (1783-1838); 
    7 (1838-1851 i 1918-1945); 8 (1851-1878); 9 (1878-1909). <br>
    M 1 (1739-1845); 2 (1845-1851); 3 (1852-1947). <br>

    O i T 1578-1635; O 2 (1595-1691); 4 (1692-1756, amb B 11695-1752); 5 (1757-1824); 
    8 (1851-1891). <br>
    T 1376-1388; 1410-1444; 1410-1486; 1489-1628; 1499-1622; 1550-1792; 1684-1752; 
    1695-1737; 1753-1858; 1829-1851; 1853-1951. <br>
    Exp. matrim, 1942-1964. <br>
    Obra, 1514-1622; 1711-1844. <br>
    Plets, 1732-1834. <br>
    Roser, comptes, 1614-1879. <br>

    Escriptures de censals i fundacions, 1736-1847; Censals, 1646-1763; Llevadors, 
    1724-1833; 1727-1766, 1769-1796. <br>
    Pergamins, 61.<h3 style="margin:0;padding:0;margin-top: 15px;">Vilopriu, Sant Pere</h3>B 1 (1645-1759); 2 (1759-1803); 3 (1803-1851); de pares incògnits, 
    1846-1855. <br>
    C 1723-1958. <br>

    M 1 (1645-1793); 2 (1793-1851). <br>
    O 1 (1645-1781); 2 (1781-1841); 3 (1841-1858. <br>
    T 1669-1863. <br>
    Consueta, 1957. <br>
    Obra, comptes, 1624-1860; 1865-1943; 1944-1955; obra de Valldevià, 
    1826-1902. <br>
    Fundacions, completum, 1820-1831; comptes de funerals, 1860-1897; comptes 
    de novenaris, 1821-1856. <br>

    Confraries; Minerva, confrares, 1697-1894; 1792-1818; Roser, confrares, 1674-1894; 
    administracions vàries, 1744-1858. <br>
    Marmesoria Josep Salom, comptes, 1672-1710. <br>
    Escriptures, 4 llig. <h3 style="margin:0;padding:0;margin-top: 15px;">Vulpellac, Sant Julià</h3>B 1812 <br>

    M 1 (1561-1738); 1738-1878 <br>
    O 1548-1804. <br>
    T 1749-1847. <br>
    C 1734-1978. <br>
    Consueta, 1739; consueta amb calendari de celebracions, 1681-1750. <br>
    Status animarum, 1880. <br>

    Calendari de celebracions, 1551-1620; ca. 1730. <br>
    Obra i administracions, 1672-1827; administracions 1710-1904; obra, 1734-1739, 
    amb T 1666-1749; llevador, 1734-1832. <br>
    Roser, confrares, 1607-1879; Puríssima Sang, confrares, 1672. <br>
    Cementiri parroquial, registre nínxols, 1926. <br>
    Escriptures, 6 llig. <br>
    Pergamins, 106.</div>						
		</font></font></font></font></div>