<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">5. Arxius incorporats</h1>
				5.1. PIA ALMOINA DE LA 
    SEU<br>
    s. X-XVII 8.118 pergs, 9 llibres 3 llig.<p></p>
  <p>L'Arxiu de la Pia Almoina 
    del Pa de la Seu i de l'Almoina del Vestuari de la mateixa Seu, s'instal·là 
    a l'Hospici fundat pel bisbe Lorenzana al s. XVIII. Se li agregaren, per sostenir 
    la institució, les almoines existents a diverses parròquies, 
    que foren anomenades "Pies memòries unides". Els pergamins 
    foren traslladats a l'Arxiu Diocesà poc després de 1939; els 
    llibres romangueren a l'Hospici i avui són a l'Arxiu Históric 
    de Girona.</p>
  <p>1. Vestuari</p>

  <p>Borgonyà, Olives, 
    Vilafreser, Jafre, Vilaür, Orfes, Campllong, Fontcoberta, Girona, Lloret, 
    Mallorca, Orriols, Pujals, Pujarnol, Salt, Sant Marti Vell, Serinyà, 
    Sords, Terradelles, Vilademuls, Vilafreser.</p>
  <p>s. XII ss. 528 pergs.</p>
  <p>2. Almoina del Pa de la 
    Seu </p>
  <p>Armentera, s. XIV ss.. 
    14 pergs. <br>
    Borrassà (Ordis), s. XIII ss. 265 pergs. <br>
    Brunyola (Sant Martí Sapresa, Sant Dalmai, Salitja, Estanyol, Aiguaviva). 
    s. XII ss. 694 pergs. <br>

    Camós (S. Vicenç, Santa Maria, Palol de Revardit, Canet d'Adri, 
    Cartellà, Taialà, Domeny, Sant Gregori) s. XII, ss. 468 pergs. 
    <br>
    Cantallops (Canadal, Agullana, Darnius, La Jonquera, La Vajol, Peralada, Capmany) 
    s. XII ss. 213 pergs. <br>
    Cassà de la Selva (Campllong, Caldes de Malavella, Franciac, Llagostera, 
    Santa Pellaia, Romanyà de la Selva, Santa Ceclina). S. XII ss. 563 
    pergs. <br>
    Celrà (Sant Martivell, Juià, Bordils). s. XII, ss. 185 pergs. 
    <br>
    Fonolleres (Sant Iscle d'Empordà, Ultramort, Parlavà). s. XII 
    ss. 190 pergs. <br>
    Fornells (Aiguaviva) s. XI ss. 167 pergs. <br>

    Gaüses s. XIII ss. 397 pergs. <br>
    Girona (Sant Daniel, Palau Sacosta) s. XII ss. 575 pergs. <br>
    Llambilles. s. X ss. 134 pergs. <br>
    Medinyà. s. XIII ss. 29 pergs. <br>
    Palau Borrell (Viladamat, Sant Feliu de la Garriga, Marenyà) s. XIII 
    ss. 126 pergs. <br>
    La Pera (Madremanya, Cassà de Pelràs, Flaçà, Foixà). 
    s. XII ss. 288 pergs. <br>

    Riudellots de la Creu (Borgonyà, Cornellà, Sords, Pujals). s. 
    XIII ss. 125 pergs. <br>
    Riudellots de la Selva. s. XIII ss. 127 pergs. <br>
    Salt (Vilablareix, Aiguaviva, Bescanó, Montfullà). s. XII. 83 
    pergs. <br>
    Sant Pere Pescador. s. XIII ss. 15 pergs. <br>
    Serinyà (Fontcoberta, Usall, Espinavessa, Centenys) s. XIII ss. 231 
    pergs. <br>
    Vall d'Aro (Bell-lloc, Santa Cristina, Solius, Sant Feliu de Guíxols), 
    s. XII ss, 125 pergs. <br>

    Viladesens (Fellines, Llampaies, Vilafreser, Sant Jordi Desvalls, Sant Esteve 
    de Guialbes) s. XII ss. 327 pergs. <br>
    Vilamarí (Viladamí). s. XIII ss. 71 pergs. <br>
    Vilavenut (Crespià, Ollers) s. XII ss. 354 pergs. <br>
    Pobles diversos. s. XIII. 127 pergs. <br>
    Benefici de Santa Anastàsia (Riudellots de la Selva, Camós, 
    Vilarroja, Fontcoberta, Salt, Girona, etc.) s. XIII ss. 251 pergs <br>
    Àpoques. s. XIII ss. 110 pergs. <br>

    Censals. s. XIV ss. 70 pergs. <br>
    Definicions. s. XIII ss. 111 pergs. <br>
    Fundacions, estatuts i vària. s. XIII ss. 269 pergs. <br>
    Nupcials i debitoris. s. XII ss. 158 pergs. <br>
    Testaments. s. XII ss. 221 pergs. <br>
    3.Pies memòries unides </p>

  <p>Anglès; masos Pixarrelles, 
    Roura i Gasull. s. XIV ss. 224 pergs. <br>
    Palau Sacosta; Torre Rafaela i masos Arnost i Riera. s. XIII ss. 95 pergs. 
    <br>
    Palafrugell; Almoina de Barceló. s. XIII ss. 55 pergs. <br>
    Juvinyà, Capellada i Besalú; masos Pugiura, Pedriga i Cassà. 
    s. XV. 190 pergs. <br>
    Crespià; Mas Costa de Pompià. s. XIV ss. 58 pergs. <br>
    Montcal; mas Rovirola. s. XIV ss. 26 pergs. <br>

    Capmany; almoina Masmartí. s. XV ss. 12 pergs. <br>
    4. Llibres</p>
  <p>1. Capbreu de Llambilles, 
    Fornells i Santa Pellaia, a favor de Ramon de Juià, cavaller, 1321, 
    67 ff, 4º. <br>
    2. Procés sobre la jurisdicció de Fonolleres, 1378, ca. 100 
    f. <br>
    3. Causa de Bernat de Vilademany, cavaller, contra l'Almoina, sobre drets 
    del castell de Brunyola, 1390, ca. 100 ff. <br>
    4. Capbreu de Viladesens i Fellines, s. XV, s.d., ca 50 ff. <br>

    5. Causa del beneficiat de Sant Joan de la Seu, Leonard Carles, contra els 
    hereus de Miquel Deulonder sobre drets dominicals al mas Carnut de Fornells, 
    1528, ca. 50 ff. <br>
    6. Comptes de l'almoina Barceló de Palafrugell, 1597-1679, ca. 200 
    ff, 4º. <br>
    7. Còpies d'escriptures de compres fetes a Girona per Jeroni Poch, 
    notari de la mateixa ciutat, i del seu testament, 1637, 37 ff. <br>
    8. Comptes de Joan Sampol, pagès de Marenyà, 1742, ca. 100 ff. 
    <br>
    9. [Enric Claudi Girbal], Registro de los pergaminos existentes en el archivo 
    del Hospicio Provincial, 238 ff. <br>
    10. Inventari dels 64 calaixos de l'arxiu de l'Almoina, 1703, 346 ff. <br>

    11. Speculum de la notaria i escrivania de l'Almoina (index de documents, 
    1337-1710), 107 f. <br>
    12. Llevador del benefici de Sta. Anastàsia, 1392-1395, 32 ff. <br>
    13. Capbreu del benefici de Sta. Anastàsia, s. XVIII, 248 p. <br>
    14. Inventari d'escriptures del benefici de Sta. Anastàsia, s. XVIII, 
    38 f. <br>
    15. Tres lligalls d'escriptures, correspondència i comptes. <br>
    Repertoris. Tots els 8.118 pergamins han estat regestats per Josep M. Marquès. 
    El conjunt de les regestes, ordenades per calaix i número, mecanografiades, 
    forma tres volums, amb un total de 1058 pàgines format DIN A-3.</p>

  <p></p>
  <p>--------------------------------------------------------------------------------<a name="casaar"></a></p>
  <p><br>
    5.2 CASA CARLES<br>
    La família de Carles i de Ferrer, establerta a Girona, va extingir-se 
    el 1918, i llegà al bisbat les seves propietats, situades principalment 
    a Palafrugell i Torroella de Montgrí. La documentació de l'arxiu 
    patrimonial comprèn pergamins, títols de propietat i contractes 
    i comptabilitat de l'administració.</p>
  <p>Albums. 1-4. 6-9. 11-15. 
    Albums de fotografies. 5. Album de targes de visita. 10. Còpies de 
    correspondència rebuda pel comte de Noroña, de finals del s. 
    XVIII.</p>
  <p>Carpetes. 1. Notes genealògiques 
    recollides per D. Joaquim de Carles i de Ferrer. 2. Plànols de posessions 
    de Casa Carles i mapes. 3. Carpeta de pergamins. </p>

  <p>Llibres. </p>
  <p>1. Llibre de comptes d'Ignasi 
    Roig, notari de Girona, 1705. <br>
    2. Llibre de canalars de la pubilla Portas, Sunyer i Saguer, 1660. <br>
    3. Llibre de comptes de don Pere de Teixidor, 1660. <br>
    4. Producció del patrimoni de Carles, 1825. <br>
    5. Cases i posessions de Puig a Torroella. <br>

    6. Comptes de don Pere de Teixidor, 1660. <br>
    7. Llibre de censos percebuts per Martí de Carles a Palafrugell, 1796. 
    <br>
    8. Notes de pagaments efectuats per Martí de Carles, 1686. <br>
    9. Notes sobre l'heretat de Puig i Pujades a Bellcaire (castell) i Albons 
    (cases Tomasica i Prechs), 1690. <br>
    10. Comptes dels arrendadors de la devesa de la vila de Torroella de Montgrí, 
    1651. <br>
    11. Comptes d'Ignasi de Ferrer, advocat de Girona, 1776. <br>

    12. Llibre de comptes de Maria Garau i Julià, 1651. <br>
    13. Mas Bescano de Bescanó, 1657. <br>
    14. Mas Oliva de Vilobí. <br>
    15. Escriptures del mas Saguer de Torroella de Montgrí, 1691. <br>
    16. Escriptures atorgades per Ignasi Roig, notari de Girona, 1692. <br>
    17. Llibre mestre de Roig i Garall. <br>

    18. Bartomeu Rull, prev. Vida i martiri dels Quatre Sants. 1490. <br>
    19. Testaments diversos. s. XVI. <br>
    20. Llibre major de Vicenç Carreras i Marquès, 1606. <br>
    21. Album d'exercicis de francès de la comtessa de Noroña, s. 
    XIX. <br>
    22. Diari personal. s. XIX. <br>
    23. Genealogía de Joaquim de Carles i de Mendoza. s. XIX. <br>

    24. Genealogìa de la família de Robert. 1901. <br>
    25. Llevador del personat de S. Tomàs, fundat per Tomàs Casamor, 
    1728. <br>
    26. Llevador segon del personat de sant Tomàs. <br>
    27. Llevador del benefici de la M. D. de les Serres, de Sant Andreu de Terri, 
    1809. <br>
    28. Llevador del benefici de la M. D. de les Serres. s. XVIII. <br>
    29. Testimonis rebuts per D. Martí i Da. Teresa de Carles, 1671. <br>

    30. Comptes de la casa de Ferrer, de Banyoles, 1689. <br>
    31. Heretats i posessions de la casa Puig de Torroella de Montgrí, 
    1753. <br>
    32. Albarans de Martí de Carles, 1686. <br>
    33. Registre per al cobrament de censos, 1820. <br>
    34. Llibre de la causapia d'Agustí Canet i Benajam, 1671. <br>
    35. Gravàmens del patrimoni Carles, 1893. <br>

    36. Llevador del benefici de l'Anunciació, 1771. <br>
    37. Llevador del benefici de Sant Jaume, de Verges, 1835. <br>
    38. Llevador de terres de Palafrugell, 1917. <br>
    39. Genealogía de la família de Ferrer. ca. 1900. <br>
    40. Censals i censos de Narcís de Carles, 1814. <br>
    41. Comptes de Joaquim de Carles, ca. 1900. <br>

    42. Establiments de Torroella de Montgrí, 1883. <br>
    43. Patrimoni de Banyoles, 1912. <br>
    44. Comptes del mas Ferrer de Bescanó, 1912. <br>
    45. Diari de Joaquim de Carles, ca. 1900. <br>
    46. Comptes del patrimoni de Palafrugell, 1880-1909. <br>
    47. Comptes dels masos Negre i Serrallonga, 1911. <br>

    48. Censos de Torroella de Montgrí, de D. Joaquim de Carles. <br>
    49. Escriptures de la família de Prat i Reixach, 1717. <br>
    50. Comptes del mas de Pinell, 1878-1906. <br>
    51. Comptes de Nicolau Roig i Ignasi Roig, notaris de Girona. <br>
    52. Actes del patrimoni Marquès de Palafrugell. <br>
    53. Causa d'Agustí Alió contra la comunitat de preveres de Palafrugell, 
    1606. <br>

    54. Actes i escriptures dels patrimonis Sunyer, Maig, Agustí, Seguer, 
    Portas, Torbagur, Roca i Puig, 1763, continuats per Joaquim de Carles, 1890. 
    <br>
    55. Escriptures del patrimoni de Carles de Torroella de Montgrí, 1796. 
    <br>
    56. Correspondència de Narcís de Carles i O'Doyle, 1819-1831. 
    <br>
    57. Notes de casa Puig de Torroella de Montgrí, 1728. <br>
    58. Llibre d'interessos maritims de casa Carles de Girona, s. XIX. <br>
    59. Notes de Francesc Ferrer, 1700. <br>

    60. Canalars de Joan Ferrer Coll, Banyoles, 1688. <br>
    61. Notes sobre Torre Bagura. <br>
    62. Llevador de censos. Serrallonga, 1909. <br>
    63. Llevador de Serrallonga, Brunyola i Sant Dalmai, 1910. <br>
    64. Censals de la casa de Puig, 1752. <br>
    65. Llevador del comanador d'Aiguaviva i S. Llorenç de les Arenes a 
    Palafrugell, Mont-ras, Llofriu i Fitor, s. XVIII. <br>

    66. Llevador de Palafrugell, Torroella de Montgrí, Verges, la Tallada 
    i Tor, 1900. <br>
    67. Llevadors de Joaquim de Carles i de Mendoza, s. XIX. <br>
    68. Notes vàries de Narcís de Carles, 1825, continuades per 
    Joaquim de Carles, 1877. <br>
    69. Actes de Joaquim Ferrer, de Banyoles, 1671. <br>
    70. Establiment del molí de Banyoles, 1386. <br>
    71. Censal venut per la família Marquès, de Palafrugell, a Joan 
    Marquès, prev., 1550. <br>

    72. Album de D. Joaquima de Mendoza. <br>
    73. Privilegi de noblesa a favor de J. Bta. Martí, 1748. <br>
    74. Privilegi baronal, amb el títol de la Blava, a favor de D. Bernat 
    de Martí i de Prat, 1771. <br>
    75. Album de poesíes. <br>
    76. Exercicis de francès. <br>
    77. Actes de Martí de Carles, Torroella de Montgrí, 1685. <br>

    78. Còpies autèntiques d'escriptures de Martí de Carles, 
    1693. <br>
    79. Actes de l'heretat Tomasina, d'Albons. <br>
    80. Arbre genealògic de D. Rodrigo Ordoño Alvarez de las Asturias, 
    1653. <br>
    81. Documents de la família Marquès de Palafrugell. <br>
    82. Censos de D. Bernat de Martí, de Prat i Reixach, 1758. <br>
    83. Condado de Gijón y de Noroña. Còpia ms. d'una obra 
    genealògica. <br>

    84. Litigi de noblesa d'Alonso Marcos, de Fuencarral, 1539. <br>
    85. Plans geogràfics de patrimoni de Puig, de Giorona. s. XVIII. <br>
    86. Exercicis de francès. <br>
    87. Executòria del comte de Noroña, Gaspar María de Nava 
    y Alvarez, 1792. <br>
    88. Llevador de censos de Torroella, Verges, Serrallonga, Palafrugell, Navata, 
    Llafranc i Banyoles, 1914. <br>
    89. Llibre de Joan Diern, 1767. <br>

    90. Comptes de la construcció de la casa de Salvador Puig i Diern [Casa 
    Carles, de Girona], 1765. <br>
    91. Papers solts, de l'administració del patrimoni pel bisbe Cartañà, 
    s. XX. <br>
    92. Comptes de Llafranc i Sant Sebastià de Palafrugell, 1880-1920 i 
    1951-1963. <br>
    93. Castell de Carles. Torroella. Llevador, s. XX. <br>
    94. Bescanó. Llevador, s. XX. <br>
    95. Llafranch. Llevador, s. XX. <br>

    96. Informe d'Escipiò Perosini sobre la navegació pel Guadalquivir, 
    des de Sevilla al mar, 1775. <br>
    97. Certificació sobre l'escut d'armes de la família Posada, 
    1913. <br>
    Lligalls foli</p>
  <p>1. Manca. <br>
    2. Títols. Privilegis. Documents personals. <br>
    3. Patrimoni en general. <br>

    4. Capítols. Inventaris. <br>
    5. Testaments. <br>
    6. Index. Arrendaments. Poders. Cabrevacions, s. XVII-XX. <br>
    7. Convenis i violaris. s. XVII-XX. <br>
    8. Compra-vendes. s. XVI-XX. <br>
    9. Debitoris i cancel·lacions, 1850-1875. <br>

    10. Debitoris i cancel·lacions, 1876-1918. <br>
    11. Censos i censals. 1500-1800. <br>
    12. Plets. I. s. XVII-XVIII. <br>
    13. Plets. II. s. XVII-XVIII <br>
    14. Plets de Torroella, Pals, Fontajau. s. XVII-XVIII. <br>
    15. Plets de Torroella de Montgrí. s. XVII-XX. <br>

    16. Plets. Reixach, 1822. Comas, 1902. <br>
    17. Causes eclesiàstiques, 1600-1849. <br>
    18. Documents. 1. De Narcís de Carles. <br>
    19. Documents. 2. De Narcís de Carles. s. XIX. <br>
    20. Documents. 3. Del brigadier J. R. de Carles i de Puig. s. XIX. <br>
    21. Guerra del francès i documents de Joaquim de Mendoza. s. XVIII-XIX. 
    <br>

    22. Festes i viatges reials. s. XIX-XX. <br>
    23. Documents curiosos. <br>
    24. Benifets i causes pies, 1. <br>
    25. Benifets de Sant Jaume, Sant Tomàs i Ferran. <br>
    26. Benifets i causes pies, 3. <br>
    27. Oratori i sepultures. <br>

    28. Heretats diverses. <br>
    29. Casa de Girona. Teatre. <br>
    30. Palafrugell, Serrallonga, Brunyola i Sant Dalmai. <br>
    31. Pinell i Fonollera. <br>
    32. Bescanó. <br>
    33. Navata. <br>

    34. Palafrugell. <br>
    35. Sant Sebastià de Palafrugell. Mas Gumbau de Llafranc. <br>
    36. Censos. 1. Palafrugell, censos 1-20. <br>
    37. Censos. 2. Palafrugell, censos 23-57. <br>
    38. Torroella, 1. Torroella i rodalia. <br>
    39. Torroella, 2. <br>

    40. Torroella, 3. Establiments de Torroella de Montgrí. <br>
    41. Torroella, 4. Rius Daró i Ter. <br>
    42. Casa Teixidor. <br>
    43. Famílies Fortuny, Manresa, Ciurana, Vinet i Robert. <br>
    44. Comptes del procurador Alabau. <br>
    45. Família O'Doyle-Noroña. <br>

    46. Baró de la Blava. 1. Família de Martí. <br>
    47. Baró de la Blava, 2. <br>
    48. Banyoles, 1. Patrimoni Ferrer. <br>
    49. Banyoles, 2. Anglada. <br>
    50. Família Ferrer, 1. <br>
    51. Família Ferrer, 2. <br>

    52. Família Ferrer, 3. Girona. <br>
    53. Papers extravagants. <br>
    54. Diverrsos de la família Carles. <br>
    55. Censos de Llafranc, 1. Censos 1.40. <br>
    56. Censos de Llafranc, 2. Censos 41-80. <br>
    57. Censos de Llafranc. Censos 81ss. <br>

    58. Administració de la Mitra. <br>
    59. Beneficis de patronat de Carles. s. XIX. <br>
    60. Testament de Joaquim de Carles i de Ferrer. <br>
    61. Castell de Carles. Torroella de Montgrí. <br>
    62. Alcaldía de Narcís de Carles, 1837. <br>
    63. Obres a Casa Carles, 1940 ss. <br>

    Lligalls en quart.</p>
  <p>1-2. Papers extrets dels 
    llibres. 3. Administració Davant, 1831-1863. 4. Administració 
    Alabau, 1790-1804. 5. Id., 1804-1812. 6. Id. 1812-1818. 7. Id, 1819-1830. 
    8. Id., 1826-1839. 9. Id., 1839-1841. 10. Tutela Ferrer, 1839-1848. 11. Administració 
    Ferrer, 1849-1853. 12. Id., 1852-1855. 13. Administració Carles, 1855-1859. 
    14. Id. 1858-1862. 15. Id. 1862-1875. 16. Id. 1975-1895. 17. 1896-1917. 18. 
    Id. 1918-1926. 19. Id., 1926-1934. 20. Id, 1864-1868. 21. Id, 1868-1872. 22. 
    Id. 1872-1877.23. Puig de Torroella, 1. 24. Puig de Torroella, 2. 25. Casa 
    Carles. Seminari de Nobles, 1805. Joaquim de Carles i de Mendoza, 1846-1850. 
    26. Diversos de Casa Carles, s. XVII-XIX. 27. Casa Carles. Prest. de Companyies, 
    1799-1804. 28. Prèstecs, peritacions, etc. 1827-1910. 29. Periòdics 
    i curiositats, s. XIX-XX. 30. Diern, s. XVIII. 31. Diern, 2. 32. Diern, 3. 
    33. Oficis de la Junta de J. P., 1908-1913. 34. Comptes de Ferrer, s. XVII-XIX. 
    35. Comptes de Puig i Portas, 1. s. XVII-XVIII. 36. Puig i Portas, 2. 37. 
    Portas i Diern, 3. 38. Ferrer de Banyoles. 39. Rebuts de Carles, 1808-1809. 
    40. Alcaldía de Girona, de Narcís de Carles, 1833-1838. 41. 
    Id., 1833-1838. 42. Censals, s. XVIII. 43. Despeses domèstiques de 
    Casa Carles, 1900-1920.</p>
  <p>Pergamins</p>
  <p>1-16. Pergamins de casa 
    Marquès de Palafrugell, després Carles, 16 plecs, 315 pergs. 
    <br>
    17-18. Pergamins de mas Carles, 2 plecs, 57 pergs. <br>
    19. Pergs. de mas Pinell i Fonollera, 1 plec, 10 pergs. <br>

    20. Pergs. dels masos Reus i Rodonell o Closa Pagesa, 19 pergs. <br>
    21. Pergs. del mas Real, 11 pergs. <br>
    22. Censos i censals, 17 pergs. <br>
    23. Benefici de Sant Jaume, de Verges, 1 plec. <br>
    24. Títols acadèmics, 1 plec. <br>
    25-26. Diversos, 2 plecs. <br>

    27-28. Escriptures anotades en el llibre mestre de 1694, 2 plecs. <br>
    29. Pergs casa Sunyer, un plec. <br>
    30. Torre Bagura, un plec. <br>
    31-32. Vària, 2 plecs. <br>
    33. Benefici de Sant Andreu de Terri, 1 plec. <br>
    34. Diversos, 1 plec. <br>

    35. Família Pont i Portas, 1 plec. <br>
    36. Família Teixidor, 1 plec. <br>
    37-38. Diversos, 2 plecs. </p>
  <p><br>
    --------------------------------------------------------------------------------<a name="seminariar"></a></p>
  <p><br>
    5.3 SEMINARI<br>

    Ordinacions del col·legi de Carol, 1401, 15 f.</p>
  <p>Seminari; escriptures 
    1598-1698, 116 f.; compra de la baronia de Pontós, 1672, 12 f. Capbreu 
    del col·legi de Carol, 1377, 21 f.</p>
  <p>Comptes del col·legi 
    de Carol o de Sobreportes:</p>
  <p>1420.1468-1481 i 1516-1522, 
    llig.; 1474-1478, ca. 50 f.; 1476-1512, 477 f.; 1495-1497, 30 f.; 1511-1513, 
    ca. 80 f.; 1587-1598, ca. 50 f.; 1643-1644, 199 f.; 1645-1649, 99 i 96 f.; 
    1649-1651, 123 f.; 1651-1652, 188 i 39 f.; 1653-1656, 52 i 80 f.; 1656-1657, 
    47f.; 1660-1662, 25 f.; 1662-1667, 123 f.; 1667-1677, 211 f.; 1677-1681, ca. 
    150 f.; 1681-1687, 24 i 31 f.; 1687-1691, ca. 80 f.; 1691-1694, ca. 50 f.; 
    1695-1697, 115 p. i 97 f.; 1698-1700, 196 i 101 p.; 1701-1703, 122 i 89 p.; 
    1704-1705, 160 i 98 p.; 1705-1706, 166 i 101 p.; 1706-1709, 69 i 195 p.; 1710, 
    367 p.; 1711-1712, 132 i 190 p.; 1713-1715, 146 i 139 p.; 1716-1717, 142 i 
    174 p.; 1718-1719, 109 i 93 p.; 1720-1721, 113 i 115 p.; 1722-1728, 129 i 
    230 p.; 1729-1730, 115 i 69 p.; 1731-1732, 186 i 150 p.; 1733-1734, 132 i 
    169 p.; 1734-1735, 179 p.; 1735-1737, 203 p.; 1738-1739, 183 p.; 1739-1740, 
    84 i 38 p.; 1741-1743, 101 i 76 p; 1744-1745, 73 i 49 f.; 1746-1748, 49 i 
    52 f.; 1749-1751, 25 i 42 f; 1752-1753, 23 i 40 f.; 1754-1755, 56 f.; 1758-1760, 
    42 i 39 f.; 1761-1762, 29 f i 36 p.; 1762-1764, 95 f.; 1765-1766, 55 f.; 1766-1768, 
    49 f.; 1768-1770, 48 f.; 1770-1772, 50 f.; 1772-1773, 64 f.; 1775-1776, 59 
    f.; 1779-1780, 105 f.; 1780-1782, 119 f.; 1782-1784, 118 f.; 1784-1786, 116 
    f.; 1786-1788, 119 f.; 1788-1790, 114 f.; 1790-1792, 149 f.; 1792.1794, 140 
    f.; 1794-1797, 120 f.; 1797-1799, 119 f.; 1700-1802, 126 f.; 1802-1804, 147 
    f.; 1804-1806, 137 f.; 1806-1808, 146 f.; 1808-1813, 41 f.; 1814-1817, 74 
    i 45 f.; 1817-1818, 73 f.; 1821-1823, 66 f.- 1823-1825, 65 f.; 1825-1827, 
    74 f.; 827-1829, 76 f.; 1829-1831, 65 f.; 1831-1833, 65 f.; 1833-1835, 73 
    f.; 1835-1837, 69 f.; 1837-1839, 74 f.; 1839-1841, 108 f.; 1841-1842, 119 
    f.; 1842-1844, 92 f.; 1844-1846, 99 f.; 1846-1848, 125 f.; 1848-1850, 99 f.</p>
  <p>Col·legi d'en Beuda, 
    agregat el 1599 al de Sobreportes; ordinacions i llevador, 1468, 128 f.; causa 
    de Jaume Beuda contra Guillem Torrent, 1388, ca. 50 f, 4º.; escriptures 
    de Jaume Beuda, 1400, 46 f. 4º; llevador, ca. 1550, 162 f.</p>
  <p>Llevadors del col·legi 
    de Sobreportes; 1461-1688, ca. 100 f.; 1618-1666, 90 f.; 1667-1704, 94 f.; 
    1726-1732, 55 f.; 1733-1740, 114 f.1740-1777, 61 f.; del col·legi Tridentí, 
    1777, 175 f.. Llibre de negocis del col·legi de Sobreportes (llevador 
    i comptes), 1558, 467 f.</p>

  <p>Llibre de la causapia 
    Bofill, 1692, 95 f.; d'Ignasi Dedéu, 1741, 126 f. </p>
  <p>Comptes de Pere Depurtós, 
    prev., 1682-1704, 144 f.; 1690-1705, 176 f 4º. Comptes del Dr. Silvestre 
    Bonabosch, prev., 1710-1731, 173 f. 4º.; Llibre del personat de la rectoria 
    de Medinyà, 1726, 84 f., 4º.</p>
  <p>Libro de nombramientos 
    del Seminario Conciliar, 1784-1857, 47 f. </p>
  <p>Habilitaciones (qualificacions) 
    1784-1801, ca. 250 f. Els llibres que continúen la sèrie es 
    conserven a la secretaría del Seminari Diocesà</p>
  <p>Llibres de baptismes, 
    matrimonis i òbits per a pràctiques dels alumnes, 1859, 341 
    p, 31 i 47 f.</p>
  <p>Lligalls: 20. </p>

  <p>Pergamins dels col·legis 
    de Carol i Beuda: 312.</p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="santar"></a></p>
  <p><br>
    5.4 SANT FELIU DE GIRONA, col·legiata<br>
    L'arxiu i biblioteca de Sant Feliu de Girona ha estat incomprensiblement desmembrat. 
    La major part dels manuscrits es conserven al Seminari Diocesà; cf. 
    J. Janini-J. M. Marquès, "Manuscritos de la Colegiata de S. Félix 
    de Gerona", dins Hispania Sacra 15 (1962) pp. 401-437. Amb tot, els tres 
    més antics es mostren al Museu Diocesà, i un missal incunable 
    es troba a la biblioteca de la Catedral. Hem procurat de reconstituir les 
    sèries de l'arxiu i d'agrupar-les en conjunts homogenis.</p>
  <p>-----------------------------------------</p>

  <p>5.4.1. Secretariat<br>
    Actes capitulars, 1306-1443, 117 f. </p>
  <p>Llibres del Secretariat, 
    1574-1617, 231 f; 1617-1627, 254 f; 1727-1744, 225 f; 1745-1759, 289 f; 1752-1772, 
    ca 200 f; 1772-1806, 260 f; 1806-1829, ca 200 f; 1829-1910, ca 200 f.</p>
  <p>Capitol i consuetes; Real 
    patronat, 1753, 103 f.; Patronat del capítol, 1764, 59 f.; Confessions 
    d'obligació dels residents, 1371, ca. 100 f; Confessions ... 1574-1743, 
    57 f.; Liber turni capituli, 1648-1830, s.f.; Breus i gràcies, 1806-1818; 
    Ordinacions i estatuts, 1309-1815, 131 f; </p>
  <p>Statuta capituli, 1318 
    ss, 29 f.; Concòrdia entre canonges i beneficiats, 1401-1406, s.f.; 
    Concòrdia canonges-beneficiats, 1661; Estatuts, s. XIV; Consueta 1669; 
    Consueta, 1738; consueta del campaner, s. XVIII; Obligacions del curat, 1724; 
    Consueta del claver, s. XVIII, 208 p.; consueta del claver, 1755, 185 p.; 
    Consueta de misses fundades. Consueta dels canonges, 1526, 60 f. 4º; 
    Porcions canonicals 1500, 85 f. </p>
  <p>-----------------------------------------</p>

  <p> </p>
  <p>5.4.2.1 Administracions</p>
  <p>Incloem en aquest apartat 
    l'administració dels ingressos del capítol, consistent en les 
    pabordies, la de les despeses del mateix capítol (biennals i ploms), 
    i les administracions particulars: Obra eclesiàstica, Obra Laica, Comú, 
    Aniversaris, Roca de la Barca i Vestuari.</p>
  <p> </p>
  <p>Biennals <br>
    1546-1836. 135 llibres, amb un promig de 200 f. <br>

    Tots els llibres comprenen dos anys, excepte el trienni 1648-1650. Generalment 
    porten al llom el nom del procurador. Hi consta, per cada prebendat, la quantitat 
    que li ha estat satisfeta, per mesos. A més a més, els salaris 
    de guardes, organista, capellà major, sagristà, claver, escolans 
    i despeses ordinàries del culte, així com les càrregues 
    que ha de satisfer l'administració dels aniversaris de l'església. 
    També s'hi porta el compte dels ingressos per grans, lloguers, censos 
    i censals. <br>
    </p>
  <p>Distribucions del canonge 
    bosser <br>
    1430-1431; 1442-1443; 1460-1461; 1502-1503; 1506-1507; 1550-1551; 1552-1553; 
    1556-1557; 1558-1559; 1564-1565; 1566-1567; 1568-1569; 1570-1571; 1574-1575; 
    1576-1577; 1578-1579; 1580-1581; 1586-1587; 1588-1590. <br>
    <br>
    Ploms deposats</p>
  <p>135 llibres, 1580-1840 
    <br>

    Distribucions procedents dels aniversaris, a càrrec dels protectors 
    d'aquests. Els conceptes pels que cada prebendat rebia quantitats eren: "Matines, 
    Petits, Estacas, Corns, Nonas, Graus, Verderas i Ultras". A més 
    dels rebuts mensuals dels prebendats, s'hi troben comptes d'obra, aniversaris, 
    oficis adventicis, arrendaments de cases i pensions de censals. Volums de 
    104 fulls, 2 per cada resident. <br>
    1580-1581; 1596-1597; 1598-1599; 1602-1603; 1604-1605; 1606-1607; 1608-1609; 
    1610-1611; 1612-1613; 1650. De 1741-1742 fins a 1839-1840, la sèrie 
    és completa, i en alguns biennis existeixen dos llibres d'idèntic 
    contingut, portats pels dos protectors del període. <br>
    </p>
  <p>Tarifes <br>
    Distribucions peculiars, 1644-1700; 1701-1750. Exaccions, 1731-1750. <br>
    </p>
  <p>Aniversaris</p>

  <p>Llevadors d'aniversaris; 
    1401-1495, llig.; 1448-1498; 1508-1509; 1517; 1516-1619, llig.; 1630-1632. 
    <br>
    Llevador dels aniversaris comuns; 1587, 25 f, 4º; 1590-1591, ca 50 f., 
    4º; 1606-07, 1614-15 i 1620-21, 177 f, 4º; 1612-1613, ca 150 f, 
    4º; 1634-1635, ca 100 f, 4º; 1638-1639, 163 f, 4º; 1640-1641, 
    241 p, 4º; 1648-1650, ca. 50 f, 4º; 1651-1652, 154 f, 4º; 1655-1658, 
    ca 50 f; 1659-1660, ca 50 f, 4º; 1676-1692, 182 f, 4º; 1691-1710, 
    343 p, 4º; 1711-1724, 782 p, 4º; 1727; 1729-1750; 1731-1736; 1737-1738; 
    1745-1762; 1749, 1752;1753-1755; 1757-1758; 1761-1762; 1768; 1773-1778; 1766; 
    aniversaris comuns, 1769-1782; 1827-1834; 1834-1850, 2 vv.; <br>
    Llevadors de ròssecs, 1687-1841; 1671-1674, ca 50 f; 1700-1750; 1789. 
    <br>
    Comptes d'aniversaris; 1388-1391; 1391-1392; 1506-1509; 1517-1533; 1502-1650; 
    1512-1513; 1528-1529 (a. presbiterals); 1550-1551. <br>
    Misses resades encarregades, a administració dels protectors dels aniversaris; 
    1602; 1603; 1603; 1604; 1604-1605; 1606-1607; 1608-1609; 1610-1611; 1612-1613; 
    1614-1615; 1616-1617; 1618-1619; 1622-1623; 1624-1625; 1626-1627; 1632-1633; 
    1634-1635; 1636-1637; 1638-1639; 1640-1641; 1642-1643; 1644-1645; 1646-1647; 
    1651-1652; 1653-1654;1656-1670; 1671-1680; 1691-1697; 1701-1726; 1727-1747; 
    1748-1777; 1778-1792; 1794-1814; 1815-1839. Registre de celebració 
    de misses, 1654. <br>
    </p>

  <p>Fundació Roca de 
    la Barca</p>
  <p>A mitjan s. XVII, Joan 
    Montaner, flequer del capítol de Girona, constituí un apreciable 
    patrimoni. Per la seva part, Francesc Roca i Sitjar, a finals d'aquest segle, 
    i principis del següent, l'uní per matrimoni al que tenia a Domeny 
    i Fontajau. Un i altre foren llegats, cap al 1736, als Aniversaris de Sant 
    Feliu, que en constituiren una administració especial. L'interès 
    peculiar del fons consisteix en incloure comptes i correspondència 
    de dues cases gironines de relativa importància. En ser administrat 
    a Sant Feliu de Girona, posseïa els seguent masos; Roca, Barca, Escales, 
    Domènec, Torre des Jueus, Horta del Pla i Vidal, de Girona i Domeny; 
    Frou d'Olives, Negre de Campllong, Sitjar de Verges, i els terçons 
    dels delmes de Rupià i Montfullà. D'alguns d'ells es conserven 
    pergamins entre els de la col·legiata.</p>
  <p> </p>
  <p>Montaner <br>
    Comptes 1638-1654, 167 f; 1677-1680, 99 f; 1683-1718, 141 f. <br>
    Albarans 1683-1708, 128 f. Rebuts, 117 f. <br>

    Compres; mas Vidal de Sant Feliu, 1653; mas Negre de Campllong, 1660, 35 f; 
    casa de Ramon de Farners al pla de Girona, 1668; Torre dels Jueus, 1680, 36 
    f; diverses cases a la ciutat de Girona, 1682-1689, ca. 200 f. Heretats de 
    D. Francesc de Vivet i Palol, s. XVI-XVII, 279 p. <br>
    Privilegi de ciutadà a favor de Joan Montaner, 1679. <br>
    </p>
  <p>Roca i Sitjar <br>
    Plet sobre la senyoria directa del mas Roca de Fontajau, 1562, 359 f; Mas 
    Domènec de Fontajau, escriptures, 1581; llevador de Miquel Roca, 1632-1675, 
    88 f; censals i rendes de Francesc Roca, 1640; Comptes de Roca, 1646-1687, 
    142 f; Benefici de Sant Feliu de Boada, escriptures, 1649; vegueria i batllia 
    forana de Girona, talles 1652-1665, dipositari Francesc Roca, ca 200 f; albarans 
    1662-1711, 161 f; 1710-1728, 383 f; 1729-1732, 368 f. <br>
    Comptes de Maria Roca i Sitjar, 1669-1672, 44 f; de Francesc Roca i Sitjar, 
    1682-1736, 129 f. <br>

    Escriptures dels masos Roca, Esteve de Pujals i Sitjar de Verges, 1692, 231 
    f; escriptures de Verges, 1647-1650, fasc. <br>
    </p>
  <p>Administració de 
    la fundació <br>
    Despeses 1736-1769, 289 f; comptes 1736-1740; 1741, 55 f; ingressos 1736-1762, 
    215 p; llevador 1741-1766, 210 f; comptes 1768-1769; 1770-1772, 69 f; 1773-1774, 
    68 f; 1775-1780; 1781-1800 (ingressos), 145 f; 1781-1793 (despeses), 273 f; 
    1803-1855 (ingressos); 1803-1855 (despeses). <br>
    Llibre dels càrrecs (censos a satisfer per la fundació, 1783-1800, 
    298 f; Misses celebrades pels agustins de Girona, 1758-1850. Dipòsits 
    dels ploms de Roca, 1805-1806. <br>
    Escriptures de Jaume Nonell, ciutadà de Barcelona, 1682, 170 f; correspondència 
    de Joan Montaner i de Francesc Roca i Sitjar, 1698-1732, escriptures i plets, 
    12 llig. <br>

    </p>
  <p>Obra</p>
  <p>Despeses, 1348, llig.; 
    1351-1356, llig; 1355-1365, ingressos i despeses, 53 i 32 f; 1365-1369 i 1385-1391, 
    ingressos i despeses, 68 i 49 f; 1374-1384, 94 i 75 f. <br>
    Obra eclesiàstica, comptes 1603-1628, 505 f; 1728-1823, 269 f; 1823-1904; 
    llevador, 1755-1845, 105 p; escriptures, un llig. <br>
    Obra laica; acords, 1828-1840, 43 f; ; repertori, s. XVII-XIX, 469 f; Comptes, 
    1813-1821, 131 f; Fundació de la prèdica quaresmal, 1745; Rebuts, 
    1862-1883, llig; escriptures, 2 llig. <br>
    Fàbrica de la capella de S. Narcís; comptes 1782-1792; sortides, 
    1782-1792 (gran part, en blanc). <br>

    Ofici del Comú i Gironí (abans, ofici de la Porta) <br>
    Llevador, 1666-1775, ca 200 f; 1762, 116 f; 1773-1842, ca 150 f. <br>
    Comptes, 1377-1424, 67 f;1557-1587, 99 f; 1803-1818. <br>
    Comú o ploms canonicals, 1583-1613, 293 f; 1613-1655, 205 f. Misses 
    conventuals, 1769-1836, ca 200 f (distribucions). <br>
    Administració de la prèdica, 1797-1825. <br>
    2 llig. <br>

    </p>
  <p>Pabordies</p>
  <p>Pabordia de Juny o Girona 
    (Aiguaviva, Campdorà, Celrà, Flaçà, S. Llorenç 
    de les Arenes, Palol d'Onyar, Marenyà, Verges, La Tallada, Sant Daniel, 
    Palau Sacosta, i, dins de Girona, Mercadal, Draperia, Rossinyol, Vilanova, 
    la Tallada, burg de Sant Feliu i horta d'Algivira que és al present 
    la devesa de la ciutat. <br>
    Capbreu de la ciutat de Girona (canalars), ca. 1380, 110 f.; <br>
    C. de l'horta d'Algivira, 1431, 43 f, perg.; C. s. XV, amb comptes de jueus, 
    64 f; C. d'Algivira, s. XVI, ca. 40 f.; C. 1592-1601, 141 f. <br>
    Canalars d'escriptures, 1774, 751 p.; escriptures de Flaçà i 
    Rupià, còpies s. XVIII, 382 p. <br>

    Llevadors: 1574, 65 f; 1673-1674, 224 f.; 1695, 163 f.;, 4º; 1744, ca. 
    150 f. 4º; 1746, 354 p. <br>
    Comptes: 1577-1584, 52 f; 1765-1797, ca 130 f; 1797-1841, ca 150 f. <br>
    Plets, 1 llig. Escriptures, 6 llig. <br>
    Pabordia de Setembre o Xungla (Girona, Montjuic, Sant Julià de Ramis, 
    Domeny, Palol, Salt, Sant Gregori, Sarrià, Sant Jordi Desvalls, S. 
    Llogaia de Terri, Vilaroja, Vilablareix, Juià, Cistella, Riudellots 
    de la Creu, Aiguaviva, Taialà.)</p>
  <p>Speculum instrumentorum, 
    s. XVII-XVIII, ca. 300 f.; canalars d'escriptures, s. XVII, 484 p.; "Notas 
    de Sarrià", 1778, 160 p. <br>
    Capbreu, 1606 i 1626, 151 f. <br>

    Llevadors; 1597-1681, 86 ps; 1580-1619, 25 f.; 1640; 1657, 78 f.; 1659, ca. 
    50 f, 4º; 1671, 78 f; 1757-1853, 658 f. <br>
    Comptes: 1443-1482, 243 f.; 1766-1803, ca 200 f.; 1804-1841, ca. 150 f. <br>
    Escriptures vàries, 6 llig. <br>
    Pabordia de Desembre o Mieres (Girona, Palol d'Onyar, Quart, Salt, Canet d'Adri, 
    Montcal, S. Martí de Llèmena, Cors, Miànigues, S. Iscle 
    de Colltort, S. Miquel de Campmajor, Madremanya, Celrà, St. Medir). 
    <br>
    Canalars d'escriptures, 1470, 12 f.; Aranzel (canalars), s. XVIII, 193 f; 
    Recopilació de actes y noticias..., 1768, 1.178 p. <br>
    Capbreu de Salt i Celrà, 1388, 93 f.; C. de Canet d'Adri, 1388, ca. 
    50 f. 4º; procures de cabrevació, 1685, 47 f.; casa i forn de 
    Quart, 1771, 99 f. <br>

    Llevadors: 1473, ca. 30 f.; 1488, ca 100 f, 4º; 1523, 46 f.; 1538, 30 
    f, 4º; 1574, 40 f.; 1604, 146 p., 4º; 1614, 54 f. 4º; 1619 
    (amb canalars), 249 p.; 1710, 56 f, 4º; 1744, 195 f, 4º. <br>
    Comptes; 1628-1638, 43 f. 4º; 1747-1779, 210 f. 4º; 1747-1782, ca 
    150 f; 1783-1841, ca 200 f. <br>
    Plets: sobre el delme de S. Medir, 1426, 24 f.; amb Serra de S. Pellaia, sobre 
    censal, 1531, 145 f, 4º. <br>
    Escriptures, 5 llig. <br>
    Pabordia de Març o Tordera (Girona, Sant Daniel, Salt, Montfullà, 
    Aiguaviva, Vilablareix, Estanyol, S. Andreu Salou, Campllong, Franciac, Domeny, 
    Taialà, Cartellà, Fornells, Sarrià, Llagostera, Romanyà, 
    Cassà de la Selva, Caldes, Tordera, Blanes, Maçanet i Palafolls).</p>
  <p>Codern de calendaris de 
    escripturas, 1648, 276 p; Arxivació de Tordera, Maçanet, Palafolls 
    i Blanes, 1688, ca. 300 f; Arxivacions dels altres pobles, 1688, 801 p. <br>

    Capbreus: 1315, 102 f, 4º; 1315 (Sant Dalmai), 25 f; 1316 i 1588, 44 
    i 48 f; 1356, 49 f; 1527, 28 f; 1678, 204 f; 1745, 205 f; 1765, 474 f. <br>
    Llevadors: 1362, ca. 50 f, 4º; 1524, 63 f; 1681, 37 f; 1687, 209 i 68 
    f; 1757, 134 f, 4º. <br>
    Comptes; 1751-1782, ca 200 f; 1782-1840, ca 200 f. <br>
    Escriptures: 6 llig. <br>
    Pabordies unides: causa de la unió, 1732-1735, 209 f; 1744, ca. 250 
    f; 1744-1763, 151 f; 1743-1777 (despeses de la causa), 477 f. Presa de posessió 
    de les pabordies unides, 1767, ca. 50 f. <br>
    Llibre dels foriscapis, 1785, 368 f; llevador, 1832, 554 i 381 f; comptes 
    1800-1808, ca. 50 f. <br>

    Sedes o distribucions d'escudelles procedents de les pabordies, a administració 
    del beneficiat refectorer; 1493-1501; 1565-1625; 1626-1666; 1666-1691, ca. 
    200 f; 1691-1723, ca. 200 f; 1723-1755, ca. 200 f; 1755-1770; 1770-1780, 256 
    p; 1814-1837. <br>
    Distribucions de porcions antigues i d'augments, 1775-1837. <br>
    </p>
  <p>-----------------------------------------</p>
  <p>5.4.3. Prebendes, càrrecs 
    i beneficis</p>
  <p>Abadia <br>

    Capbreus: "Actes autèntics", còpies, 1767, ca 300 
    folis; capbr. 1574-1624, 57 f; 1670-1709, llig.; 1785-1788, núms 1-82, 
    llig.; cabrevacions soltes, llig. <br>
    Llevadors: 1624, 141 f; 1663, 90 f; 1745, 57 f; 1799, 52 f; s. XVIII, 89 f. 
    4º. <br>
    Plets; 1680-1692, ca 300 f; contra els terratinents de la parròquia 
    de Sant Feliu, per delmes, 1687-1698, ca. 200 f; plets diversos, 3 llig. <br>
    </p>
  <p>Capellà major <br>
    Escriptures; llibre I, 1520-1774, 427 f; II, 1782, 461 f; III, s. XVIII, 139 
    f; IV, 1678-1820, 269 f; escriptures 1783, 260 f. Llibre de la dècima 
    i primícia del Pont Major etc., 1783, 190 p. Consueta i llevador, 1776-1819, 
    132 f;. <br>

    Plets, 3 vols; escriptures, 1 llig. <br>
    </p>
  <p>Cabiscol major <br>
    Escriptures, 1672-1710, 219 f; llevador, 1677-1681, 80 f; llevador 1833-1851. 
    <br>
    </p>
  <p>Cabiscol segon <br>
    Llevador, 1765-1808, 63 f; escriptures, 1 llig. <br>

    </p>
  <p>Sagristà major 
    <br>
    Llevador, 1799-1832, 64 f; comptes 1623, 79 f; escriptures, 1 llig. <br>
    </p>
  <p>Sagristà segon 
    <br>
    Capbreu, 1833, 403 f; llevador 1730-1838, 130 p; llevador s. XIX, 95 f; causa 
    contra el rector de Sarrià sobre primícia, 1703, 50 p. Escriptures, 
    6 llig. <br>
    </p>

  <p>Claver <br>
    Escriptures, llibre I, 530 f; II, 157 f; III, 189 f, tots tres amb pergamins 
    relligats, s. XIII-XVIII. Llevador, 1746. <br>
    </p>
  <p>Beneficis <br>
    Capella de cant de l'Orgue, 1703. Mestre de cerimònies, 1797, comptes. 
    Benefici del Corpus, fundat per B. Guixar; escriptures, 1385-1425, 180 f: 
    comptes 1385-1410, 132 f; comptes 1687; administració del Corpus, 1797-1817. 
    Benefici de Sant Joan, llevador, 1681-1711. Benefici de les Onze mil Verges, 
    1343. Benefici de sant Esteve, cabrevacions, llig. Benefici de St. Llorenç 
    i Cecília, llevador 1739-1755. Benefici de St. Jaume, llig. Benefici 
    de Sant Narcís; Llevador, 1730, ca 50 f, 4º i un llig. <br>
    Oposicions a beneficis, 1764-1833, ca 100 f. <br>

    Causa del col·legi de beneficiats sobre ser grup col·legial, 
    1636, ca. 80 f.; 1727, 158 f; 1744, 63 p; 1760-1766, ca. 300 f. <br>
    Almoina del Vestuari, fundada per Pere de Prat, canonge (1247). <br>
    Escriptures, 1247-1430, 77 f; canalars d'escriptures ("Llevador"), 
    1690, ca. 200 f; capbreu de l'horta de Girona, Taialà i Salitja, 1321, 
    95 f, 4º. <br>
    Llevador 1763-1851, 81 f. <br>
    Comptes: 1597-1698, 127 f; 1696-1841, ca. 250 f; 1797-1827. <br>
    Escriptures, 2 llig.. <br>

    </p>
  <p>Causes Pies <br>
    Jeroni, 1611, 69 f; Duró, 1706, 229 f; Masó, 1740, 71 f; Feliu, 
    1744, 108 f; Pou de la Palanca, 1746; Olmera, llevador, 1666, 149 f; Falgons, 
    1750; Carbó, 1608, 174 p; Agullana, comptes 1756-1758, 290 p; Brandia 
    i Font, 1819; Enfermería, 1819-1821; 161 p; Fundació Andreu 
    (predicació) 1753, 405 f; altres causes pies, 3 llig. <br>
    </p>
  <p>-----------------------------------------</p>
  <p>5.4.4. Confraries </p>
  <p>Sant Narcís <br>

    Ordinacions, confrares 1307-1324 i comptes 1345-1394, 130 f. <br>
    Comptes i elecció de pabordes, 1390-1423, 142 f. <br>
    Llevador, inventari, comptes i elecció de pabordes, 1423-1430, 190 
    f. <br>
    Confrares: Dones, 1400, 48 f; Dones 1667-1701, 51 p; Homes, 1715-1790, ca 
    80 f; Homes, 1715-1790 (ordre alfabètic), ca. 200 f; Homes 1790-1839, 
    ca 100 f; Dones 1790-1839, ca. 100 f; Homes, 1790-1850, ca. 300 f; Dones, 
    1790-1850, ca. 300 f. <br>
    Llevadors: 1706, 129 f, 4º; 1714, 97 f, 4º; 1710-1742, 176 f; Ll. 
    de censals, 1741-1754, 166 f; 1757-1849, ca 200 f; Ll. de rendes, 1757-1848, 
    271 f. <br>
    Comptes: 1507-1569, 294 f; 1569-1609, 309 f; 1599-1640, ca. 100 f; Entrades 
    i sortides, 1566-1631, 192 f; Entrades 1696-1741, ca. 150 f; Sortides 1699-1741, 
    ca 150 f; Comptes del mas Bofill de Martís, 1733-1751, ca. 100 f.; 
    ingressos 1813-1834, ca 150 f; despeses 1815-1834, ca. 150 f; Comptes 1885-1909, 
    143 f. <br>

    Biennals del procurador de la confraria; 1619-1621, 103 f; 1622-1623 i 1633-1635, 
    73 f; 1629-1630, 48 f; 1631-1632, 41 f; 1635-1637, 39 f; 1641-1642, 190 f; 
    1643-1644, 88 f; 1650-1651, 188 f; 1657-1658, 59 f; 1659-1660, 44 f; 1661-1662, 
    64 f; 1663-1664, 47 f; 1669-1671, 99 f; 1670-1671, 89 f; 1672-1673, 132 f; 
    1674-1675, 98 f; 1677-1679, 100 f; 1679-1680, 86 f; 1687-1688, 94 f; 1690-1691, 
    97 f; 1692-1693, 123 f; 1695-1697, 58 f; 1697-1698, 45 f; 1699-1701, 72 f; 
    1701-1702, 99 f; 1703-1704, 73 f; 1706-1707, 94 f; 1709-1711, 114 f; 1711-1712, 
    49 f; 1713-1714, 182 f; 1715-1716, 66 f; 1717-1718, ca 50 f; 1719-1720, 48 
    f; 1721-1723, 113 f; 1723-1724, 69 f; 1727-1729, 78 f; 1729-1730, 116 f; 1731-1733, 
    60 f; 1733-1735, 118 f; 1735-1737, 116 f; 1737-1739, 123 f; 1739-1741, 58 
    f; 1741-1743, 115 f; 1743-1745, 112 f; 1745-1747, 194 f; 1747-1749, 91 f; 
    1749-1751, 147 f; 1751-1753, 98 f; 1753-1755, 181 f; 1757-1759, 194 f; 1759-1761, 
    150 f; 1761-1762, 147 f; 1766-1767, 148 f; 1767-1769, 40 i 95 f; 1771.1773, 
    67 f; 1773-1775, 73 f; 1775-1777, 103 f; 1777-1779, 77 f; 1779-1781, 133 f; 
    1782-1783, 88 f; 1784-1785, 105 f; 1786-1787, 122 f; 1788-1789, 162 p; 1790-1791, 
    90 f; 1792-1793, 163 p; 1794-1795, 133 p; 1796-1797, 198 p; 1798-1799, 171 
    p; 1800-1801, 185 p; 1802-1803, 133 p; 1804-1805, 189 p; 1806-1807, 129 p; 
    1808-1812, 143 p; 1813-1814, 116 p; 1815-1816, 156 p; 1817-1818, 118 p; 1819-1820, 
    287 p; 1821-1822, 254 p; 1823-1826, 167 p; 1827-1828, 147 p; 1829-1830, 162 
    p; 1831-1832, 189 p; 1837-1838, 174 p; 1839-1840, 190 p; 1841-1844, 186 p; 
    1845-1846, 184 p; 1847-1848, 171 p; 1847-1848 bis, 175 p; 1849-1850, 193 p; 
    1851-1852, 148 p; 1853-1854, 151 p; 1855-1856, 152 p; 1857-1858, 150 p; segueixen, 
    sense foliar, ca 30 ff cada un, 1859-1860; 1861-1862; 1863-1864; 1865-1866; 
    1867-1868; 1869-1870; 1871-1872; 1873-1874; 1875-1876; 1877-1878; 1881-1884. 
    <br>
    </p>
  <p>Confraria dels Desemparats 
    </p>
  <p>Escriptures, 1657-1773, 
    60 p; confrares 1657-1797, 98 f; Homes, 1797-1929, 62 f; Dones, 1797-1929, 
    109 f; index de confrares, 1798, ca. 50 f; index de confraresses, 1798, ca 
    50 ff; Entrades, 1657-1794, ca 100 f; 1795-1869, (amb despeses) ca 50 f; sortides 
    1657-1794, ca 100 f; 1795-1813, ca 100 f. </p>
  <p> </p>
  <p>Confraria de la Passió 
    i Mort, llig.</p>

  <p>-----------------------------------------</p>
  <p> </p>
  <p>5.4.5.Escriptures, comptes 
    i plets</p>
  <p>Atesa la dificultat de 
    precisar a quina administració concreta pertanyen certes peces, n'hem 
    fet una tria sumària i les hem agrupades almenys per la seva tipologia. 
    <br>
    Escriptures; 8 lligalls. <br>
    Comptes i rebuts, 15 lligalls. <br>

    Plets, 22 lligalls. <br>
    Miscel·lània, 30 lligalls. <br>
    <br>
    						
		</p></div>