<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">2.2 Beneficis</h1>
				El sosteniment dels ministres 
    de l'Església ha estat assegurat gairebé fins als nostres dies 
    per mitjà de la figura jurídica del benefici eclesiàstic. 
    Es tracta d'uns béns, les rendes dels quals són assignades a 
    la persona que acompleix dins l'Església un ofici determinat (rector 
    de parròquia, encarregat d'una església, membre d'una comunitat 
    amb responsabilitat de culte, etc.).<p></p>
  <p>Índexs. Es troben 
    a l'Arxiu uns índexs on es ressenyen els beneficis existents a cada 
    església; indiquen el nom del posseïdor i l'any de presa de posessió 
    dels s. XVI-XVIII. Un dels volums recull els de la Seu, un altre els beneficis 
    de Castellò i Peralada, i els tres restants corresponen a diverses 
    parròquies del bisbat. Cal advertir que la secció 1.3 conté 
    abundant informació sobre els obtentors de beneficis i sobre les seves 
    rendes.</p>
  <p>--------------------------------------------------------------------------------<a name="manualsbe"></a></p>
  <p> </p>

  <p>2.2.1 MANUALS DE COL.LACIONS 
    DE BENEFICIS<br>
    1338-1918 346 vv.</p>
  <p>Aquesta sèrie de 
    registres correspon, en principi a una de les notaries de la cúria 
    eclesiàstica, que s'ocupava preponderantment de matèria beneficial. 
    Al segle XIV els volums són designats com a Manuale de certs notaris 
    del bisbe i de la cúria; en alguns moments (1386, 1397), hom hi assenyalà 
    que la notaria que hi enregistrava actes era la Scribania sigilli. La relació 
    d'aquesta sèrie amb els Libri notularum s'haurà d'aclarir; volums 
    que haurien de trobar-se en aquella sèrie, com el 27 i el 38, han fet 
    cap ací. Ja al s. XV la majoria dels actes enregistrats són 
    compareixences davant el vicari general per a afers beneficials, o bé 
    disposicions del mateix oficial en aquesta matèria. La designació 
    dels volums com a Manual de colaciones y posesiones, utilitzada des de 1860, 
    descriu adequadament el contingut dels posteriors a l'any 1500; s'hi recullen 
    actes de provisió i de presa de posessió de beneficis. Els volums 
    dels s. XIV-XVI tenen una numeració especial, que comença a 
    1 en cada canvi de segle; la donem entre parèntesi després de 
    la numeració general de la sèrie.</p>
  <p>0 (1271-1276) (D-152), 
    69 f 4art. Es el registre en paper més antic de l'arxiu. 1 (1338-1339), 
    61 f, notaris Bernat de Verdaguer i Ramon Gil; 2 (1346-1347), 50 f; 3 (1347-1348), 
    34 f; 4 (1347), 55 f; 5 (1348-1349), 28 f; 6 (1348-1349), 28 f, n. Bernat 
    de Camps; 7 (1348), 35 f, n. Pere Miró; 8 (1360-1363), 246 f, n. Bernat 
    Verdaguer; 9 (1362-1365), 158 f; 10 (1365-1368), 204 f, n. Nicolau Figuera 
    i Vicenç Carbonell; 11 (1371), 63 f 4º; 12 (1371), 78 f, 4º; 
    13 (1379-1381), 147 f 4º; 144 (1372-1375), 321 f 4º, n. Nicolau 
    Figuera; 15 (1381-1386), 191 f, n. Lluís Carbonell; 16 (1386-1390, 
    170 f, n. Lluís Carbonell, Bernat Eiximenis, Joan de Bosc; 17 (1390-1391), 
    71 f; 18 1391-1393), 85 f; 19 (1393-1395), 100 f; 20 (1395-1397), 84 f; 21 
    (1397-1399), 86 f; 22 (1399-1401), 119 f; 23(1), (1401-1403), 134 f; 24(2) 
    (1403-1406), 136 f; 25(3) (1406-1409), 116 f; 16(4) (1409-1411), 89 f; 27(5) 
    (1411-1413), 113 f; 28(6) (1413-1416), 180 f; 29(7) (1417-1421), x f, n. Antoni 
    Mitjà; 30(8) (1421-1424), 168 f; 31(9) (1424-1427), 161 f; 32(10) (1428-1431), 
    168 f; 33 (1427-1434), 111 f 4º; 34(11) (1431-1435, 138 f; 35(12) (1434-1436, 
    153 f, n. Ponç Esteve; 36(13) (1436-1439), 180 f; 37(14) (1439-1441), 
    186 f; 38(15) (1442-1444), 169 f; 39(16) (1444-1447), 186 f; 40(17) (1447-1449), 
    172 f, n. Miquel Valls; 41(18) 1449-1452), 177 f, n. Miquel Cerdà; 
    42 (19) (1452-1455), 237 f, n. Pere Begudà, Miquel Cerdà; 43(20), 
    (1456-1459), 222 f, n. P. Begudà; 44(21) (1459-1461), 192 f, n. Joan 
    Fuyà, P. Begudà; 45(22) (1461-1466), 217 f, n. J. Fuyà, 
    P. Begudà; 46(23) 1466-1476), 291 f, n. P. Begudà, Pere Collell; 
    47 (24) (1469-1473), 129 f; 48(25) (1474-1481, 184 f, "Liber provisionum 
    beneficiorum"; 49(26) (1476-1480), 223 f, n. P. Collell; 50(27) (1481-1486), 
    369 f, n. Pere Collell, Joan Triter, Francesc Miralles; 51(28) (1487-1491), 
    263 f, n. F. Miralles, Miquel Pagès; 52(29) (1491-1494), 265 f. n. 
    Miralles, Pagès; 53(30) (1494-1497), 199 f, n. Miralles, Pagès; 
    54(31) (1497-1500), 190 f, n. F. Miralles, M. Pagès, Sebastià 
    Miralles; 55(1) (1500-1503), 200 f, n. Miralles, Pagès; 56(2) (1503-1506), 
    213 f; 57(3) (1506-1508), 202 f; 58(4) (1508-1511), 254 f; 59(5) (1511-1515), 
    297 f; 60(6) (1515-1519), 312 f, n. M. Pagès, Sebastià Camps); 
    61(7) (1519-1522), 305 f, n. S. Camps; 62(8) (1522-1528), 346 f; 63(9) (1528-1531), 
    232 f; 64(10) (1532-1533), 148 f; 65(11) (1534-1539), 165 f; 66(12) (1541-1543), 
    218 f, n. Miquel Riba; 67(12) (1538-1541), 387 f, 4º; 68(13) (1543-1546), 
    259 f; 69(14) (1546-1547), 246 f, n. M. Riba; 70(15) (1547-1549), 263 f, n. 
    M. Riba; 71(16) (1549-1551), 312 f, n. M. Riba; 72(17) (1551-1553), 336 f, 
    n. M. Riba; 73(18) (1553-1555), 278 f, n. M. Riba; 74(19) (1565-1566), 105 
    f, col.lacions i posessions; 75(20) (1556-1557), 306 f, n. M. Riba; 76(21) 
    (1557), 126 f; 77(22) (1558), 152 f, n. Llorenç Masó; 78 (23) 
    (1559-1563), 400 f; 79(1562-1564), 369 f; 80(25) (1565-1566), 184 f; 81(26) 
    (1566-1569), 390 f; 82(27) (1569-1572), 374 f; 83(28) (1572-1575), 304 f i 
    suplement; 84 (29) (1575-1576), 80 f; 85(30) (1576-1578), 245 f, n. Joan Figueras; 
    86(31) 1578-1579), 185 f; 87 (32) (1580-1581), 198 f; 88(33) (1581-1583), 
    185 f; 89(34) (1583-1584), 120 f, n. Joan Riurans; 90(35) (1584-1586), 166 
    f, n. Macari Jonama; 90a (1588), mig fol, s. foliar; 90b (1586-1587), mig 
    fol, s. foliar; 91(36) (1588-1590), 190 f; 92(37) (1590-1592), 195 f; 93(38) 
    (1592-1594), 190 f; 94(39) (1594-1595), 194 f; 95(40) (1595-1596), 152 f; 
    96(41) (1597-1598), 182 f' n. Francesc Planes; 97(42) (1598-1599), 199 f, 
    n. F. Planes; 98(43) (1599-1600), 195 f, n. F. Planes) 99(44) (1600-1601), 
    201 f; 100(45) (1601-1602), 202 f; 101 (1602-1603), 158 f; 102 (1604), 181 
    f, mig fol; 103 (1605), 214 f, mig fol; 104 (1606), 233 f, mig fol; 105 (1607), 
    230 f, mig fol; 106 (1608), 229 f, mig fol; 107 (1609), 221 f, mig fol; 108, 
    1610, div. numer. mig fol; 109 (1611), 219 f mig fol; 110 (1612), 432 f 4º; 
    111 (1613), 453 f 4º; 112 (1614), 418 f, 4º; 113 (1615), 467 f 4º; 
    114 (1616), 541 f, 4º; 115 (1617), 500 f 4º; 116 (1618) 441 f, 4º; 
    117 (1619), 445 f, 4º; 118 (1620), 495 f, 4º; 119 (1621), 235 f; 
    120 (1622), 207 f; 121 (1623), 276 f; 122 (1624), 209 f; 123 (1625), 205 f; 
    124 (1626, 201 f; 125 (1627), 259 f; 126 (1628), 206 f; 127 (1629), 200 f; 
    128 (1630), 169 f; 129 (1631), 217 f; 130 (1632), 206 f; 131 (1633), 188 f; 
    132 (1634), 195 f; 133 (1635), 184 f; 134 (1636), 189 f; 135 (1637, 179 f; 
    136 (1638), 189 f; 137 (1639), 207 f; 138 (1640), 144 f; 139 (1641), 228 f; 
    140 (1642), 193 f; 141 (1643), 193 f; 142 (1644), 188 f; 143 (1645), 185 f; 
    144 (1646), 181 f; 145 (1647-1648), 267 f; 146 (1648), protoc. s. fol, 4º; 
    147 (1649), protoc. s. fol. 4º; 148 (1650), 324 f, 4º; 149 (1651), 
    218 f; 150 (1652), 244 f; 151 (1653), , 184 f; 152 (1654), 293 f; 153 (1655), 
    208 f; 154 (1656), 162 f; 155 (1657), 165 f; 156 (1658), protoc s. fol, 4º; 
    157 (1659), 136 f; 158 (1660), protoc. s fol., 4º; 159 (1661), 217 f; 
    160 (1662), 284 f; 161 (1663), 189 f; 162 (1664), 234 f; 163 (1665), 202 f; 
    164 (1666), 229 f; 165 (1667), 221 f; 166 (1668), 248 f; 167 (1669), 289 f; 
    168 (1670), 339 f; 169 (1671), 368 f; 170 (1672), 331 f; 171 (1673), 259 f; 
    172 (1674), 253 f; 173 (1675), 296 f; 174 (1676), 343 f; 175 (1677), 283 f; 
    176 (1678), 242 f; 177 (1679), 277 f; 178 (1680) 273 f + suppl.; 179 (1681), 
    288 f; 180 (1682), 296 f; 181 (1683), 205 f; 182 (1684), 207 f; 183 (1685), 
    279 f; 184 (1686), 235 f; 185 (1687), 230 f; 186 (1688), 175 f; 187 (1689), 
    216 f; 188 (1690), s.f.; 189 (1691), s. f.; 190 (1692), s.f.; 191 (1693), 
    s.f.; 192 (1694), s.f.; 193 (1694-1697), s.f., not. Arenys; 194 (1695-1696), 
    s.f.; 195 (1698), s.f.; 196 (1699), 240 f; 197 (1700), s.f.;198 (1701), s.f.; 
    199 (1702), s.f.; 200 (1703), s.f.; 201 (1704), s.f.; 202 (1705), s.f.; 203 
    (1706), s.f.; 204 (1707), s.f.; 205 (1708), s.f.; 206 (1709), s.f.; 207 (1710), 
    389 f; 208 (1711), s.f.; 209 (1712), s.f.; 210 (1713), s.f.; 211 (1714), s.f.; 
    212 (1715), s.f.; 213 (1716), s.f.; 214 (1717), s.f.; 215 (1718), s.f.; 216 
    (1719), s.f.; 217 (1720), s.f.; 218 (1721), s.f.; 219 (1722), s.f.; 220 (1723), 
    s.f.; 221 (1724) s.f.; 222 (1725), s.f.; 223 (1726), s.f.; 224 (1727), 264 
    f; 225 (1728), 266 f; 226 (1729), 224 f; 227 (1730), 291 f; 228 (1731), 223 
    f; 229 (1732), 198 f; 230 (1733) 300 f; 231 (1734), 371 f; 232 (1735), 392 
    f; 233 (1736), 238 f; 234 (1737), 268 f; 235 (1738), 250 f; 236 (1739), 282 
    f; 237 (1740), 237 f; 238 (1741), 209 f; 239 (1742), 202 f; 240 (1743), 209 
    f; 241 (1744), 222 f; 242 (1745), 164 f; 243 (1746), 189 f; 244 (1747), 169 
    f; 245 (1748), 223 f; 246 (1749), 269 f; 247 (1750), 180 f; 248 (1751), 142 
    f; 249 (1752), 122 f; 250 (1753), 145 f; 251 (1754), 167 f; 252 (1755), 223 
    f; 253 (1756), 157 f; 254 (1757), 311 f; 255 (1758), 300 f; 256 (1759), s.f.; 
    257 (1760), 229 f; 258 (1761), 181 f; 259 (1762), 227 f; 260 (1763), 214 f; 
    261 (1764), 215 f; 262 (1765), 486 f; 263 (1766), 235 f; 264 (1767), 206 f; 
    265 (1768), 291 f; 266 (1769), 207 f; 167 (1770), 222 f; 268 (1771), 213 f; 
    269 (1772), 250 f; 270 (1773), 185 f; 271 (1774), 211 f; 272 (1775), 271 f; 
    273 (1776), 267 f; 274 (1777), 167 f; 275 (1778), 302 f, 4º; 276 (1779), 
    479 f, 4º; 277 (1780), 288 p; 278 (1780), 261 p; 279 (1781), 426 p; 280 
    (1782), 798 p; 281 (1783), 719 p; 282 (1784), 469 p; 283 (1785), 771 p; 284 
    (1786), 453 p; 285 (1787), 444 p; 286 (1788) 639 p; 287 (1789), 527 p; 288 
    (1790), 420 p; 289 (1791), 152 f; 290 (1792), 407 f i fasc.; 291 (1793), 332 
    f; 292 (1794) 293 (1795), 440 f; 295 (1797), 351 f; 296 (1798), 383 f; 297 
    (1799), 328 f; 298 (1800), 305 f; 299 (1801), 257 f; 300 (1802), 319 f; 301 
    (1803), 355 f; 302 (1804), 185 f; 303 (1805), 356 f; 304 (1806), 264 f; 305 
    (1807), 251 f; 306 (1808), 207 f; 307 (1809), 98 f; 308 (1810), 458 f; 309 
    (1811), 110 f; 310 (1812), 178 f; 311 (1813), 122 f; 312 (1814), 647 f; 313 
    (1815), 503 f; 314 (1816), 438 f; 315 (1817), 334 f; 316 (1818), 386 f; 317 
    (1819), 427 p; 318 (1820), 443 p; 319 (1821), 369 p; 320 (1823), 301 p; 321 
    (1824), 961 p; 322 (1825-1826), 378 p; 323 (1826), 409 f; 324 (1827), 409 
    f; 325 (1828), 298 f; 326 (1829), 253 f; 327 (1830), 266 f; 328 (1831), 334 
    f; 329 (1832), 291 f; 330 (1833), 346 f; 331 (1834), 291 f; 332 (1835), 259 
    f; 333 (1836-1847), 276 f; 334 (1848-1852), 542 f; 335 (1853-1855), 192f; 
    336 (1856-1859), 846 f; 337 (1860-1864), 471 f; 338 (1864-1875), 424 f; 339 
    (1876-1880), 850 f; 340 (1881-1885), 595 f; 341 (1886-1890), 642 f; 342 (1891-1894), 
    457 f; 343 (1895-1899), 602 f; 344 (1900-1909), 602 f; 345 (1910-1914), 535 
    f; 346 (1915-1918), 403 f.</p>
  <p>Inventaris: Llibre de 
    col.lacions de beneficis curats, 1761-1814, composat per Francesc Befaràs, 
    notari del Vicariat. </p>
  <p>Llibre de beneficis del 
    bisbat de Gerona escrit per mi lo Dr. Miquel Romaguera, s. XVII, recull fundadors 
    i titulars del dret de presentació.</p>

  <p>Repertoris de beneficis 
    i de les dates de posessió, s. XVI-XIX, 3 vols. Un volum recull els 
    de les esglésies de Girona, un altre els de Castelló d'Empúries 
    i Peralada, i el tercer, els de parròquies del bisbat.</p>
  <p>Josep M. Marquès, 
    Manuals 0-9 (1271-1365), 140 p.; Manuals 10-50 (1365-1486), 224 p., recull 
    principalment les escriptures no beneficials incloses als volums de manuals; 
    Manuals 1500-1564, 161 pp, segueix el mateix criteri de l'anterior. Els manuals 
    de 1600 a 1918 han estat sotmesos a una regestació exhaustiva, que 
    en set volums de 500-600 pàgines cada un, aplega els extractes d'uns 
    50.000 documents. </p>
  <p>--------------------------------------------------------------------------------<a name="dotaliesbe"></a></p>
  <p> </p>
  <p>2.2.2. DOTALIES<br>
    S. XII-1910 37 v.</p>

  <p>Amb el desig de tenir 
    còpia de totes les institucions de beneficis del bisbat, cap al 1470, 
    hom començà a transcriure en forma autèntica les escriptures 
    de fundació dels mateixos, sigui durant la visita pastoral, sigui arrel 
    de manaments donats en ella als beneficiats a fi que presentessin els corresponents 
    documents. Així hom n'obtingué una col.lecció força 
    completa, encara que no exhaustiva. L'ordre d'enregistrament, atesa la forma 
    d'obtenir les còpies d'escriptures, no fou pas el cronològic 
    de les fundacions i per aixó, dels primers volums donem només 
    la data del document més recent. A principis del s. XVIII la sèrie 
    enregistra les dotalies immediatament després de la seva institució, 
    però s'hi intercalaren encara documents antics.</p>
  <p>1 (-1470), 305 f; 2 (-1498), 
    294 f; 3 (-1530), 300 f; 4 (-1520), 410 f; 5 (1608), 366 f; 7 (-1586), 405 
    f; 7 (-1604), 313 f; 8 (- 1628), 424 f; 9 (-1698), 345 f; 10 (1707-1724), 
    336 f; 11 (1723-1733), 208 f; 12 (1733-1740), 288 f; 13 (1740-1748), 356 f; 
    14 (1748-1752), 195 f; 15 (1752-1756), 314 f; 16 (1756-1760), 349 f; 17 (1760-1765), 
    439 f; 18 (1766-1771), 406 f; 19 (1771-1775) 420 f; 20 (1776-1780), 419 f; 
    21 (1781-1785), 464 f; 22 (1785-1787), 411 f; 23 (1787-1790), 283 f; 24 (1790), 
    197 f; 25 (1791), 283 f; 26 (1791-1792), 327 f; 27 (1793-1794), 203 f; 28-29 
    (1795-1802), 393 f; 30 (1803-1806), 312 f; 31 (1807-1814), 236 f; 32 (1815-1819), 
    457 f; 33 (1819-1827), 508 f; 34 (1828-1835), 321 f; 35 (1881-1910), 289 f. 
    </p>
  <p>Repertori. Josep M. Marquès, 
    Dotalies de beneficis a la diòcesi de Girona, mecanografiat, 1987, 
    216 pàgs i 84 d'índexs.</p>
  <p>Dotalies de la Seu. Dos 
    volums de còpies autèntiques de fundacions de la Catedral, especialment 
    de llànties i aniversaris, que eren a cura del sagristà i del 
    claver del mateix temple, composats el 1335 i anys posteriors, per Berenguer 
    Roig i altres notaris de la cùria eclesiàstica.</p>
  <p>Vol 1, ff 1-195; vol 2, 
    f 196-414.</p>
  <p>Repertori. Index cronològic 
    i índexs de noms de persona i de lloc composats per Josep M. Marquès, 
    80 p., 1987.</p>

  <p>--------------------------------------------------------------------------------<a name="expedientsbe"></a></p>
  <p> </p>
  <p>2.2.3.EXPEDIENTS D'ADJUDICACIÓ 
    DE BENEFICIS<br>
    1711-1925 122 vv.</p>
  <p>Sovint, el dret d'assenyalar 
    la persona que podia ocupar un benefici concret pertocava a una família, 
    a una persona o a l'ocupant d'un càrrec, i no al superior eclesiàstic 
    del benefici. Es l'anomenat "dret de patronat". La sèrie 
    aplega processos sobre verificació del dret de patronat, sobre constatació 
    de la suficiència de les rendes beneficials per al sosteniment del 
    seu obtentor (amb dades sobre els ingressos), i sobre els concursos d'adjudicació 
    de beneficis no parroquials. La majoria dels volums són sense foliar. 
    Els del s. XVIII porten el nom de Patronatos; els posteriors, el de Expedientes 
    de adjudicación de beneficios.</p>
  <p>1 (1711), 567 f; 2 (1712), 
    485 f; 3 (1713), 706 f; 4 (1714), 292 f; 5 (1715), 318 f; 6 (1716), 473 f; 
    7 (1717), 189 f; 8 (1718), 206 f; 9 (1719), 344 f; 10 (1720), 274 f; 11 (1721); 
    12 (1722); 13 (1723); 14 (1724); 15 (1725); 16 (1726); 17 (1727); 18 (1728); 
    19 (1729); 20 (1730); 21 (1731); 22 (1732); 23 (1733); 24 (1734); 25 (1735); 
    26 (1736); 27 (1737); 28 (1738); 29 (1739); 30 (1740); 31 (1741); 32 (1742); 
    33 (1743); 34 (1744); 35 (1745); 36 (1746); 37 (1747); 38 (1748); 39 (1749); 
    40 (1750); 41 (1751); 42 (1752); 43 (1753); 44 (1754); 45 (1755); 46 (1756); 
    47 (1757); 48 (1758); 49 (1759); 50 (1760); 51 (1761); 52 (1762); 53 (1763); 
    54 (1764); 55 (1765); 56 (1766); 57 (1767); 58 (1768); 59 (1769-1770); 60 
    (1771-1772); 61 (1773-1774); 62 (1775-1776); 63 (1777); 64 (1778); 65 (1779-1780); 
    66 (1781); 67 (1782); 68 (1783); 69 (1784); 70 (1785); 71 (1786); 72 (1787); 
    73 (1788); 74 (1789); 75 (1790); 76 (1791); 77 (1792); 78 (1793); 79 (1794); 
    80 (1795); 81 (1796); 82 (1797); 83 (1798); 84 (1799, 324 f; 85 (1800), 775 
    f; 86 (1801), 539 f; 87 (1802), 315 f; 88 (1803), 469 f; 89 (1804), 484 f; 
    90 (1805), 348 f; 91 (1806), 474 f; 92 (1807), 378 f; 93 (1808), 424 f; 94 
    (1810), 1028 f; 95 (1811), 536 f; 96 (1812), 509 f; 97 (1813), 499 f; 98 (1814), 
    440 f; 99 (1815), 1099 f; 100 (1816-1817), 1055 f; 101 (1818-1819), 1285 f; 
    102 (1820-1823), 1547 f; 103 (1824-1825), 1324 i 619 f; 104 (1826), 989 f; 
    105 (1827), 613 f; 106 (1828-1829), 1212 f; 107 (1830), 650 f; 108 (1831), 
    764 f; 109 (1832), 737 f; 110 (1833), 910 f; 111 (1834), 601 f; 112 (1835-1846), 
    1011 f; 113 (1849-1852), 959 f; 114 (1853), 893 f; 115 (1854), 724 f; 116 
    (1855-1856), 608 f; 117 (1857-1858), 917 f; 118 (1859-1864), 987 f; 119 (1883-1896), 
    436 f; 120 (1896-1903), 473 f; 121 (1910-1918), 472 f; 122 (1919-1925), 353 
    f.</p>

  <p>--------------------------------------------------------------------------------<a name="unionsbe"></a></p>
  <p> </p>
  <p>2.2.4 UNIONS I REDUCCIONS 
    DE BENEFICIS<br>
    1569-1919 23 llibres i llig. </p>
  <p>Les unions de beneficis 
    incongrus i la reducció de les càrregues dels beneficiats a 
    causa de la disminució de rendes es realitzaren sempre en forma de 
    procés.</p>
  <p>Reduccions: 1 (1596-1713), 
    llig; 2 (1716-1723); 3 (1713-1722), 532 f; 4 (1719), ca 500 f; 5 (1722-1723), 
    545 f; 6 (1725), 612 f; 7 (1738-1750), 386 f; reducció de la Seu; 8 
    (1733-1734, 697 f; 9 (1735), 363 f; 10 (1736-1737), ca. 600 f; 11 (1738-1740), 
    417 f;12 (1741-1743, 554 f; 13 (1744-1751), 546 f; 14 (1760-1769), 470 f; 
    15 (1772-1777, 404 f; 16 (1778-1782), 571 f; 17 (1783-1785), 654 f; 18 (1730-785), 
    llig; 19 (1785-1800), llig; 20 (1801-1824), llig; 21 (1825-1919), llig.</p>

  <p>Processos d'unions; 1 
    (1569-1599); 2 (1600-1705); 3 (1776-1781); 4 (1782), 647 f; 5 (1783-1785), 
    356 f; Pla de reducció de canongies de la Seu, 1770, 225 f; unió 
    de les pabordies de Sant Feliu de Girona a la mensa capitular, 1744, 455 f. 
    Unions de rectories, s XVII-XIX, 2 llig.</p>
  <p>--------------------------------------------------------------------------------<a name="concursosbe"></a></p>
  <p> </p>
  <p>2.2.5 CONCURSOS A PARRÒQUIES<br>
    1650 ... 10 vv, 26 llig</p>
  <p>Des del concili de Trento 
    esdevingué obligatori de proveïr els beneficis curats a través 
    de concurs-oposició. En els llibres hom recull les llistes d'opositors 
    a cada vacant. Eventualment s'indica a qui ha estat adjudicada. Volums sense 
    foliar.</p>

  <p>1 (1577-1594); 2 (1598-1609); 
    3 (1609-1620); 4 (1627-1640); 5 (1650-1673); 6 (1673-1687); 7 (1687-1703); 
    8 (1704-1756); 9 (1757-1773); 10 (1775-1790).</p>
  <p>Lligalls: Llistes d'opositors 
    i qualificacions; 1622-1705; 1711-1733; 1783-1805; 1808-1830; 1832-1854; 1857-1860; 
    1882; 1888; 1893; 1896; 1903; 1945-1966.</p>
  <p>Instàncies d'opositors: 
    1791-1828; 1835-1845; 1849; 1851, 2 llig.; 1896; 1910, A-P; 1910 Q-X; 1916, 
    A-M; 1916, N-X; 1925, A-G; 1925, J-X; 1955.</p>
  <p>Exercicis, 1833, 2 llig.</p>
  <p>Expedients de les oposicions 
    1925-1956, 2 llig.</p>
  <p>--------------------------------------------------------------------------------<a name="personatsbe"></a></p>

  <p> </p>
  <p>2.2.6 PERSONATS I PATRIMONIS 
    <br>
    Els personats són beneficis instituïts no perpètuament, 
    sinó per a un temps determinat, generalment dues o tres vides; el capital 
    havia de destinar-se més tart a causes pies. En els dos primers volums 
    de personats es transcriuen les escriptures de constitució; els següents 
    en contenen només extractes. Els patrimonis són titols de sustentació 
    instutuits mitjançant escriptura per a clergues.</p>
  <p>Personats: 1 (1576-1616, 
    295 f; 2 (1617-1685), 211 f; 3 (1600-1648), 406 f; 4 (1648-1677); 5 (1677-1699), 
    314 f; 6 (1700-1714), 400 f; 7 (1714-1740), 348 f; 8 (1741-1777), 235 f.</p>
  <p>Patrimonis: 1612-1947, 
    56 llig.</p>
  <p>--------------------------------------------------------------------------------<a name="diversosbe"></a></p>

  <p> </p>
  <p>2.2.7 DIVERSOS<br>
    Reials cèdules de provisió de beneficis, 1753-1851, 2 llig; 
    Causes beneficials, 1817-1906, 12 llig.; Dotacions i redotacions, 1717-1911, 
    1 llig.; Expedients de verificació de dret de patronat i d'adjudicació, 
    1606-1909, 4 llig; Expedients de presentació, 1833-1911, 1 llig.</p>
  <p>Administració de 
    beneficis incongrus. En esdevenir insuficients, ja al s. XVIII, però 
    molt més al s. XIX, les rendes de certs beneficis, especialment dels 
    dits "capellanies de sang" hom lliurà a la cúria els 
    seus llevadors i escriptures, en vista a administrar-los, complir parcialment 
    les seves càrregues i destinar un romanent a un "Fondo Pío 
    Beneficial", dit també "Acervo Pío". L'administració 
    fou confiada a procuradors, que presentaven els comptes, per a la seva aprovació, 
    al vicari general. Darrerament l'administració restà en mans 
    del secretari de causes pies. La documentació de beneficis incongrus 
    de la seu i Sant Feliu de Girona conservada a l'Arxiu Diocesà s'ha 
    integrat dins els fons d'aquestes esglésies.</p>
  <p>Beneficis incongrus, 23 
    llig.<br>
    						
		</p></div>