<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">2.3 Matrimonials</h1>
				La celebració del 
    matrimoni, així com la preparació dels documents necessaris 
    per a aquest acte, té lloc a les parròquies. Només quan 
    cal obtenir dispenses de normes establertes és necessari el recurs 
    a la cúria diocesana.<p></p>
  <p>--------------------------------------------------------------------------------</p>
  <p> </p>
  <p>2.3.1 DISPENSES D'IMPEDIMENTS</p>

  <p>1344-1940 232 llig.</p>
  <p>La dispensa d'impediments 
    es sol.licita a Roma (Penitenciaria, i més tard, Dataria), però 
    és l'autoritat diocesana que l'ha d'executar, rebent testimonis i documents 
    genealògics que acreditin la veritat d'allò que ha estat sol.licitat 
    a la Santa Seu. A mitjan s. XIX el promig era d'unes 50 dispenses anuals.</p>
  <p>Inventaris. Les dispenses 
    anteriors a 1500 es troben a Josep M. Marquès, Processos anteriors 
    al 1500. De les de 1501 a 1830 n'ha confeccionat un índex topogràfic 
    Josep Tremoleda.</p>
  <p>Josep Tremoleda, Les dispenses 
    matrimonials dela Selva a l'Arxiu Diocesà de Girona (1504-1980), dins 
    "Quaderns de la Selva", 6 (1993), 197-213.</p>
  <p>--------------------------------------------------------------------------------<a name="dispensesma"></a></p>
  <p> </p>

  <p>2.3.2 DISPENSES DE PROCLAMES 
    <br>
    1577-1804 92 vv, 10 llig.</p>
  <p>La publicació del 
    matrimoni durant la missa parroquial, prescrita pel concili de Trento, pot 
    suplir-se per la recepció de testimonis fidedignes sobre la solteria 
    dels contraients. Al principi, aquesta recepció de testimonis fou aplicada 
    als extrangers que desitjaven casar-se; d'aci que elss primers llibres tinguin 
    com a títol Llibre de informacions per casar-se francesos o similars. 
    Més tart, també els autòctons pugueren fer-ne ús 
    en determinades condicions. Aleshores els llibres es titularen Liber informationum 
    circa matrimonia fienda remissis monitionibus, i, de manera més elíptica, 
    Remissis monitionibus. Els testimonis adveren la solteria dels contraients, 
    i narren circumstàncies de la seva vida. Volums no foliats.</p>
  <p>1 (1577-1587); 2 (1593-1595); 
    3 (1598-1600); 4 (1601); 5 (1601-1603); 6 (1603-1604); 7 (1604-1605); 8 (1612-1615), 
    "Reg. licentiarum nubendi"; 9 (1615-1620), com l'anterior; 10 (1614-1615); 
    11 (1618-1621); 12 (1621-1624); 13 (1628-1629); 14 (1629-1630); 15 (1632-1633); 
    16 (1635-1636); 17 (1637); 18 (1638); 19 (1639-1640); 20 (1640-1641); 21 (1642-1643); 
    22 (1644-1646); 23 (1646-1647); 24 (1647-1650); 25 (1650-1654); 26 (1654-1656); 
    27 (1657-1658); 28 (1658-1660); 29 (1661-1662); 30 (1663-1665); 31 (1665-1666); 
    32 (1667-1668); 33 (1668-1670); 34 (1670-1672); 35 (1672-1673); 36 (1673-1675); 
    37 (1675-1676); 38 (1676-1678); 39 (1678-1679); 40 (1679-1681); 41 (1681-1682); 
    42 (1682-1684); 43 (1684-1686); 44 (1686-1687); 45 (1686-1688); 46 (1688-1689); 
    47 (1690-1691); 48 (1691-1693); 49 (1693-1696); 50 (1696-1698); 51 (1698-1702); 
    52 (1702-1707); 53 (1707-1709); 54 (1710-1712); 55 (1712-1715); 56 (1715-1718); 
    57 (1719-1726); 58 (1726-1731); 59 (1731-1736); 60 (1737-1741); 61 (1742-1745); 
    62 (1745-1748); 63 (1748-1751); 64 (1751-1753); 65 (1753-1754); 66 (1754-1755); 
    67 (1755-1756); 68 (1757-1758); 69 (1758-1759); 70 (1759-1760); 71 (1761-1762); 
    72 (1762-1763); 73 (1763-1765); 74 (1765-1766); 75 (1766-1767); 76 (1767-1768); 
    77 (1768-1770); 78 (1770-1771); 79 (1771-1772); 80 (1772-1773); 81 (1773-1774); 
    82 (1774-1775); 83 (1775-1776); 84 (1776-1777); 85 (1777-1778); 86 (1778-1780); 
    87 (1780-1781); 88 (1781-1782); 89 (1783); 90 (1783-1784); 91 (1784-1785); 
    92 (1785-1786).</p>
  <p>Lligalls; 1 (1786); 2 
    (1787-1790); 3 (1790-1791); 4 (1792-1793); 5 (1794); 6 (1795); 7 (1796-1797); 
    8 (1798); 9 (1799); 10 (1803).</p>
  <p>Llicències closes 
    i altres dispenses de proclames. Contenen certificacions de solteria i dispensa 
    de proclames. Comprenen el període 1732-1777, 1805-1821 (un i altre 
    amb llacunes) i 1857-1936. Lligalls trimestrals o mensuals, segons la quantitat 
    de dispenses, amb un total de 1.460 lligalls.</p>

  <p>Comptabilitat d'afers 
    matrimonials, 1939-1974, 26 llibres i llig.</p>
  <p> --------------------------------------------------------------------------------<a name="espedientsma"></a></p>
  <p> </p>
  <p>2.3.3 EXPEDIENTS EXTRADIOCESANS 
    <br>
    Pels matrimonis posteriors a 1942, quan un dels contraients era de fora diòcesi, 
    l'expedient no roman a la parròquia, sinó que és guardat 
    a la cúria diocesana.</p>
  <p>1942-1962, 40 llig.						
		</p></div>