<h4 style="margin-top:0px;">Continguts:</h4>

<ul style="float:left;">
    
    <li><a href="repertoris_anitcs">Repertoris antics</a></li>
 	<li><a href="actes_episcopals">Actes episcopals</a>
		<ul>
			<li><a href="actes_episcopals">Patrimoni de la Mitra</a></li>
			<li><a href="actes_episcopals#visites">Visites Pastorals</a></li>
			<li><a href="actes_episcopals#registres">Registres de lletres</a></li>
			<li><a href="actes_episcopals#protocols">Protocols de lletres</a></li>
			<li><a href="actes_episcopals#llicencies">Llic&egrave;ncies</a></li>
			<li><a href="actes_episcopals#ordenacions">Ordenacions</a></li>
			<li><a href="actes_episcopals#confirmacions">Confirmacions</a></li>
			<li><a href="actes_episcopals#sinodes">S&iacute;nodes diocesans</a></li>
		</ul>
	</li>
	<li><a href="notularum">Cúria i Vicariat general</a>
		<ul>
		<li><a href="notularum">Notularum</a>
			<ul>
				<li><a href="notularum#penesno">Penes</a></li>
				<li><a href="notularum#juramentsno">Juraments de veguers</a></li>
				<li><a href="notularum#registresno">Registres diversos</a></li>
			</ul>
		</li>
		<li><a href="beneficis">Beneficis</a>
			<ul>
				<li><a href="beneficis#manualsbe">Manuals de col-lacions</a></li>
				<li><a href="beneficis#dotaliesbe">Dotalies</a></li>
				<li><a href="beneficis#expedientsbe">Expedients d'adjudicació</a></li>
				<li><a href="beneficis#unionsbe">Unions i reduccions</a></li>
				<li><a href="beneficis#concursosbe">Concursos a parròquies</a></li>
				<li><a href="beneficis#personatsbe">Personats i patrimonis</a></li>
				<li><a href="beneficis#diversosbe">Diversos </a></li>
			</ul>
		</li>
		<li><a href="matrimonials">Matrimonials</a>
			<ul>
				<li><a href="matrimonials">Dispenses d'impediments</a></li>
				<li><a href="matrimonials#dispensesma">Dispenses de proclames</a></li>
				<li><a href="matrimonials#expedientsma">Expedients extradiocesans</a></li>
			</ul>
		</li>
		<li><a href="testaments_causes">Testaments i causes pies</a>
				<ul>
					<li><a href="testaments_causes#registreste">Registres i marmessories</a></li>
					<li><a href="testaments_causes#definicionste">Definicions</a></li>
					<li><a href="testaments_causes#subrogacionste">Subrogacions</a></li>
					<li><a href="testaments_causes#institucionste">Institucions</a></li>
					<li><a href="testaments_causes#resolucionste">Resolucions</a></li>
					<li><a href="testaments_causes#decretste">Decrets de testaments</a></li>
					<li><a href="testaments_causes#registreste">Registres de testaments</a></li>
					<li><a href="testaments_causes#diversorumte">Diversorum</a></li>
					<li><a href="testaments_causes#processoste">Processos</a></li>
					<li><a href="testaments_causes#expedientste">Expedients</a></li>
					<li><a href="testaments_causes#herencieste">Herències</a></li>
				</ul>
		</li>
		<li><a href="tribunal_eclesiastic">Tribunal eclesi&agrave;stic</a>
				<ul>
					<li><a href="tribunal_eclesiastic#firmestri">Firmes de Dret</a></li>
					<li><a href="tribunal_eclesiastic#llibrestri">Llibres judicials</a></li>
					<li><a href="tribunal_eclesiastic#lletrestri">Lletres</a></li>
					<li><a href="tribunal_eclesiastic#sentenciestri">Sentències</a></li>
					<li><a href="tribunal_eclesiastic#processostri">Processos, sèrie general</a></li>
					<li><a href="tribunal_eclesiastic#absolucionstri">Absolucions de juraments</a></li>
					<li><a href="tribunal_eclesiastic">Processos diversos</a></li>
					<li><a href="tribunal_eclesiastic#tribunaltri">Tribunal del Breu</a></li>
				</ul>
		</li>
		<li><a href="expedients_correspondencia">Expedients i correspond&egrave;ncia</a>
				<ul>
					<li><a href="expedients_correspondencia#correspondenciaex">Correspondència</a></li>
				</ul>
		</li>
		<li><a href="registre_segell">Registre i segell</a></li>
		</ul>
	</li>
	<li><a href="secretaria_cambra">Secretaria de cambra</a>
		<ul>
			<li><a href="secretaria_cambra#comunicacionsse">Comunicacions i registres</a></li>
			<li><a href="secretaria_cambra#organismesse">Organismes diocesans</a></li>
			<li><a href="secretaria_cambra#immoblesse">Immobles</a></li>
			<li><a href="secretaria_cambra#institucionsse">Institucions i activitats</a></li>
			<li><a href="secretaria_cambra#religiososse">Religiosos</a></li>
			<li><a href="secretaria_cambra#informesse">Informes, estad&iacute;stiques i comptabilitat</a></li>
		</ul>
	</li>
	<li><a href="administracio_economica">Administració econòmica</a>
		<ul>
			<li><a href="administracio_economica#depositaad">Deposita</a></li>
			<li><a href="administracio_economica#taxesad">Taxes de beneficis</a></li>
			<li><a href="administracio_economica#cultead">Culte i clerecia</a></li>
			<li><a href="administracio_economica#fundacionsad">Fundacions</a></li>
			<li><a href="administracio_economica#comptesad">Comptes de parr&ograve;quies</a></li>
		</ul>
	</li>
	<li><a href="arxius_incorporats">Arxius incorporats</a>
		<ul>
			<li><a href="arxius_incorporats">Pia Almoina de la Seu</a></li>
			<li><a href="arxius_incorporats#casaar">Casa Carles</a></li>
			<li><a href="arxius_incorporats#seminariar">Seminari</a></li>
			<li><a href="arxius_incorporats#santar">Sant Feliu de Girona, col-legiata</a></li>
			<li><a href="monestirs_esglesies">Monestirs, esgl&eacute;sies i confraries</a></li>
		</ul>
	</li>
	<li><a href="arxius_dipositats">Arxius dipositats</a></li>
	<li><a href="manuscrits_impresos">Manuscrits i impresos</a></li>
    
</ul>