<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">5.5 Monestirs, esglésies i confraries</h1>
				5.5.1 AMER I ROSES, abadies 
    unides<br>
    1. Capbreu de Fontclara, 1338, 39 ff <br>
    2. Capbreu de la vall d'Amer, 1392, 91 ff. <br>
    3. Capbreu de Sant Climent, Sant Julià del Llor, Les Serres, Anglès 
    i Constantins, 1397, 78 ff. <br>
    4. Capbreu del priorat del Coll a Anglès, 1393, 5 f. <br>

    5. Capbreu de Colomers, Jafre, Camallera, Garrigoles, Pins i Sant Jordi Desvalls, 
    1320-1321, 96 ff, perg. <br>
    6. Capbreu de Ginestar, Adri, Montbó, Cartellà, Sant Medir, 
    Sant Gregori i Sant Andreu del Terri, 1399, 105 ff. <br>
    7. Capbreu de la vall d'Amer, 1444, 98 ff. <br>
    8. Capbreu de Sant Andreu de Terri, Medinyà, Rupià, Flassà 
    i Sant Esteve de Guialbes, 1449, ca. 30 ff. <br>
    9. Capbreu de la vall d'Amer, 1503, 107 ff. <br>
    10. Capbreu de Sant Esteve de Llèmena i La Barroca, 1341-1343, 32 ff, 
    4º. <br>

    11. Capbreu de la Cellera i Anglès, 1538, 73 ff, còpia de 1832. 
    <br>
    12. Capbreu i precaris de Colomers, 1563, ca. 100 ff. <br>
    13. Capbreu de Granollers de Rocacorba i Sant Esteve de Llèmena, 1566, 
    59 ff, còpia de 1829. <br>
    14. Capbreu de la Vall d'Amer i Torroella de Montgrí, 1567, 105 i 47 
    ff. <br>
    15. Capbreu de Fontclara, 1567, 66 ff. <br>
    16. Precaris de Fontclara, 1567, 55 ff, còpia de 1826. <br>

    17. Capbreu de Fontclara, Pantaleu i Sant Feliu de Boada, 1567, 35 ff. <br>
    18. Capbreu de la cambreria d'Amer a Sant Esteve de Bas, 1581, foliat 159-191. 
    <br>
    19. Capbreu de Colomers, 1593, 126 ff. <br>
    20. Capbreu de la vall d'Amer, Sant Climent, Sant Julià del Llor i 
    Constantins, 1597, 607 ff. <br>
    21. Capbreu de Santa Coloma de Farners, el Castellar, Vidreres i Joanet, 1598, 
    40 ff. <br>
    22. Capbreu de la vall d'Amer, 1598, 155 ff. <br>

    23. Capbreu de Sant Esteve de Llèmena, Granollers, Les Serres i La 
    Barroca, 1598, 77 ff. <br>
    24. Capbreu de Fontclara, 16455, 54 ff, 4º. <br>
    25. Capbreu de la vall d'Amer, 1646, 257 ff. <br>
    26. Capbreu de la vila d'Amer, 1646, 79 ff. <br>
    27. Capbreu de Sant Esteve de Llèmena, Granollers, La Barroca, Les 
    Serres, Sant Martí Sacalm, Susqueda i mas Negre de Llorà, 1646-1647, 
    61 ff. <br>
    28. Capbreu de Sant Medir, Sant Gregori, Ginestar i Montbó, 1649, ca. 
    50 ff. <br>

    29. Capbreu de Santa Coloma de Farners, 1649, 15 ff. <br>
    30. Capbreu de Castellar de la Selva, 1649, 31 ff. <br>
    31. Capbreu de senyories directes a Santa Coloma de Farners, 1649, 16 ff. 
    <br>
    32. Capbreu de Colomers, Jafre, Pins i Rupià, 1646, 15 ff. <br>
    33. Llibre de donacions que la abadia de Amer té ... en Colomers, 1666, 
    68 ff. <br>
    34. Capbreu de Colomers, 1678-1685, 129 ff. <br>

    35. Còpia simple de 1826 del n. 34, 137 ff. <br>
    36. Cabrevacions de Sant Medir, la Mota, Montbó, Cartellà, Estanyol, 
    Salt, Sant Gregori, Castellar, Fornells, Sant Andreu de Terri, Canet i Ginestar, 
    1401-1748, ca 150 ff. <br>
    37. Privilegia regalis monasterii S. Mariae villae de Amer, s. XVII, 16 ff. 
    <br>
    38. Escriptures de la cambreria d'Amer, s. XVII, 131 ff. <br>
    39. Capbreu de Santa Coloma de Farners i Riudarenes, 1719, 108 ff. <br>
    40. Cabrevacions dels dominis directes de Torroella de Montgrí, 1728, 
    18 ff. <br>

    41. Capbreu de Fontclara, 1728-1729, 86 i 27 ff. <br>
    42. Capbreu del mas Pagès del Castellar de la Selva, 1734, amb executorials 
    de la Rota, ca 25 ff. <br>
    43. Capbreu de Tonyà a l'abadia de Roses, 1737, 182 ff. <br>
    44. Capbreu de la vila d'Amer, 1738, ca. 50 ff. <br>
    45. Reduccions de tasques de Tonyà, 1738, 36 f. <br>
    46. Capbreus de Tonyà, 1738 i 1763, 68 i 123 ff. <br>

    47. Capbreu de la vall d'Amer, 1742-1744, 201 ff. <br>
    48. Capbreu de Colomers, 1497, 235 ff, còpia de 1751. <br>
    49. Provisió reial a favor de l'abadia d'Amer, sobre molins de Begur, 
    1758, 7 ff. <br>
    50. Concòrdia entre l'abat d'Amer i la família Rich de Girona, 
    1763, 6 f. <br>
    51. Cabrevacions d'Amer, La Cellera, S. Coloma de Farners i altres llocs, 
    1816-1831, 67 i 90 ff. <br>
    52. Concòrdia entre el monestir d'Amer i la mateixa vila sobre el delme 
    dels raïms, 1820, ca. 100 ff. <br>

    53. Precaris de Colomers, 1564-1568, 104 ff, còpia de 1826. <br>
    54. Cabrevacions de llocs prop de Girona, 104 ff, còpia de 1826. <br>
    55. Recopilació ... de actes ... per los molins de la abadia de Amer, 
    s. XVIII, ca 100 ff. <br>
    56. Capbreu de la cambreria d'Amer, 1581, 30 i 25 ff. <br>
    57. Cabrevacions de la Vall d'Hostoles, s. XVIII, ca. 100 ff. <br>
    58 Llevador de les rendes de l'abadía d'Amer a Flassà, s. XV, 
    23 ff. <br>

    59. Llevador del priorat del Camp, de Garriguella, s. XVIII, 137 ff, 4º. 
    <br>
    60. Escriptures de fundacions fetes a Amer, s. XVIII, llig. <br>
    61 Capbreu de senyories de l'abat de Roses a Castelló d'Empúries, 
    1349, 20 ff, còpia de 1833. <br>
    62. Capbreu de Roses, 1304, 69 ff, perg. <br>
    63. Capbreu de la vila i terme de Roses, 1361, 95 ff, perg. <br>
    64. Capbreu de la vila i terme de Roses, 1362, 104 ff, perg. <br>

    65. Capbreu de Roses, 1500-1501, 204 ff <br>
    66. Capbreu de Roses, 1565, 123 ff. <br>
    67. Capbreu de la vila de Roses, 1565, 113 ff. <br>
    68. Capbreu de Roses, 1598, 17 ff. <br>
    69. Resum o notes dels capbreus de Roses, s. XVII, 280 ff. <br>
    70. Capbreu de Roses, 1692, 73 ff. <br>

    71. Col·lecció de documents sobre el delme del peix a Roses, 
    s. XVIII, ca. 150 ff. <br>
    72. Notes de cabrevacions de Peralada a favor de l'abadía de Roses, 
    s. XVIII, 107 pp. <br>
    73. Capbreu de Tonyà, 1802, i de Roses, 1736, 55 i 29 ff. <br>
    74. Capbreu de les rendes de l'abadía de Roses, 1772-1788, 302 ff. 
    <br>
    75. Capbreu de l'abadía de Roses, 1786, 150 ff. <br>
    76. Llevador de l'abadía d'Amer i Roses a Roses i Castelló, 
    1787, 41 ff. <br>

    77. Capbreu de l'abadía de Roses, 1798-1802, 254 ff. <br>
    78. Escriptures de la cambreria de Roses, 1379-1819, ca 100 ff. <br>
    79. Concòrdia de l'abadia de Roses amb els veïns de la vila sobre 
    el delme de les olives, 1820, 36 ff. <br>
    80. Precaris de Roses, 1609-1617, 101 ff, còpia de 1828. <br>
    81. Llibre de actes de donacions ... de la abadia de Rosas, s. XVII, 86 ff. 
    <br>
    82. Capbreu d'Osor i Susqueda, 1342, 112 ff, 4º. <br>

    83. Capbreu del priorat del Coll, 1622 i 1731, 41 ff. <br>
    84. Capbreu del priorat del Coll, 1560, 46 ff, còpia de 1830. <br>
    85. Capbreu de Susqueda i Osor, 1562, 56 ff, còpia de 1831. <br>
    86. Llevador del benefici de les Onze Mil Verges d'Amer, 156 ff 4º. <br>
    87. Fundacions d'aniversaris i misses d'estaca a Amer, 1680, 207 pp. <br>
    88. Comptes del procurador dels aniversaris i misses d'estaca del monestir 
    d'Amer, 1737-1780, 492 ff. <br>

    89. Fundacions de misses i aniversaris a Amer, 1747-1749, ca. 30 ff. <br>
    90. Capbreu del monestir d'Amer a Cassà de la Selva, Castellar, Cladells, 
    Cartellà, Constantins, Estanyol, Flassà, Fornells, Girona, Ginestar, 
    Sant Gregori, Sant Esteve de Guialbes, Llorà, Sant Julià del 
    Llor, Medinyà, Sant Medir, Montbó, la Mota, Montnegre, Montfullà, 
    Palol d'Onyar, Sant Julià de Ramis, Riudarenes, Rabós, Sant 
    Andreu de Terri, Vidreres i Vilamarí, 1680, 227 ff. <br>
    91. Llevador de censals dels aniversaris d'Amer, 1769-1770, 36 ff. <br>
    92. Llevador del procurador dels aniversaris 1771-1772, 36 ff. <br>
    93. Llevador del procurador dels aniversaris, 1801-1823, 216 pp. <br>
    94. Llevador de les rendes de l'abadia a Amer, 1820, 77 i 52 ff. <br>

    95. Quadern d'escriptures diverses, s. XVII, ca. 50 ff. <br>
    96. Cabrevacions del priorat del Camp de Garriguella, 1583-1619. <br>
    97. Llevador del priorat del Camp, 1752, 80 ff. <br>
    98. Plet de l'abat d'Amer contra Bernat de Senesterra, senyor de Palau Sator 
    sobre drets a Fontclara, 1338, ca. 50 ff. <br>
    99. Cabrevacions d'Amer, 1821-1833, carpeta. <br>
    100. Cabrevacions de Santa Coloma i Riudarenes, 1828-1833, carpeta. <br>

    101. Cabrevacions de Foixà i Rupià, 1829, carpeta. <br>
    102. Cabrevacions de Flassà, Sant Andreu de Terri i Medinyà, 
    1828-1833, carpeta. <br>
    103. Aniversaris i misses d'estaca; reducció de 1750, 231 pp. <br>
    104. Cartoral de Santa Maria de Roses, 898-1252, 18 ff, perg. <br>
    105. Resum del capbreu de llocs propers a Girona, 1680, ca. 100 ff. <br>
    106. Capbreu de Tonyà, 1628, 43 ff, 4º. <br>

    107. Cúria de l'abat d'Amer. Fragments de registres, 1361-1381, ca. 
    200 ff. <br>
    108. Cúria de l'abat d'Amer. Fragments de registres, 1382-1486, ca. 
    200 ff. <br>
    109. Enfermeria i aniversaris d'Amer i Roses. s. XVIII. Llig. <br>
    110. Enfermeria i aniversaris d'Amer i Roses. s. XVIII. Llig. <br>
    111-113. Escriptures de creació de censals. s. XVIII. Llig. <br>
    El núm. 104 ha estat editat per Josep Mª Marquès, El Cartoral 
    de Santa Maria de Roses (Segles X-XIII), Barcelona, 1986 (Institut d'Estudis 
    Catalans. Memòries de la secció Històrico-Arqueològica, 
    XXXVII). <p></p>

  <p> </p>
  <p>5.5.2 BANYOLES, Monestir<br>
    Llevador de l'Almoina, 1760 i 1829, ca. 100 f, 4º. <br>
    Fundacions de misses (calendari de misses fundades), 1806, ca 300 f. <br>
    Aniversaris, llibre segon de les terres, 1817, 248 f <br>
    Almoina, s. XVIII-XIX, un lligall. <br>

    Escriptures i correspondència, s. XVIII-XIX, 11 lligalls. <br>
    18 pergs. <br>
    Cf. Lluís Constans-Josep M. Marquès "L'arxiu del monestir 
    de Banyoles" dins Quaderns del Centre d'Estudis Comarcal de Banyoles 
    1980-1984, p 9-25. </p>
  <p> </p>
  <p>5.5.3. BELL-LLOC, monestir 
    de Peralada<br>
    93 pergs. del monestir i dels de Pedardell i Sant Nicolau de Camprodon que 
    li foren units.</p>

  <p> </p>
  <p>5.5.4. BESALÚ, 
    Sant Pere, monestir<br>
    160 pergs. del monestir i dels de Sant Quirze de Colera i Sant Llorenç 
    de Sous, que li foren units. Dels anteriors a 1300 n'hi ha regest elaborat 
    per J. M. Marquès.</p>
  <p> </p>
  <p>5.5.5 BESALÚ, Santa 
    Maria, col·legiata<br>
    Capbreu del priorat. Còpies de 1653 de cabrevacions de 1385-1630, 399 
    f. <br>

    Llevador, 1710, 125 f. <br>
    Llevador mestre, 1731, 552 p. <br>
    "Llevador fet del capbreu" s. XVIII, extractes de documents 1385-1393, 
    133 f. <br>
    Confraria de Sant Antoni de Pàdua, 1715, confrares i comptes, ca 100 
    f. <br>
    Escriptures, plets i comptes, 13 llig. fol i 11 llig. 4º. <br>
    967 pergs. Un altre grup de pergamins es conserva a la Biblioteca de Catalunya. 
    Els 294 anteriors a 1300 han estat regestats per J. M. Marquès; "Pergamins 
    de Santa Maria de Besalú a l'Arxiu Diocesà de Girona", 
    dins Patronat d'Estudis Històrics d'Olot i Comarca. Annals 1990-1991, 
    pp 239-310 <br>

    </p>
  <p>5.5.6 BESALÚ, Sant 
    Vicenç, comunitat de preveres<br>
    Llevador, 1574, 261 f. <br>
    Llibres del bosser, 1711; 1714-1718; 1720-1731, s.f.. <br>
    Benefici de la Mare de Déu de Sant Romans. Capbreu 1557 i escriptures, 
    llig. <br>
    </p>
  <p>5.5.7 BREDA, monestir<br>

    Capbreu del benefici de S. Pere i Pau, 1400-1409, còpia del s. XVII, 
    90 ff. <br>
    Capbreu i distribucions de la Cambreria, 1718, 413 i 41 p. <br>
    Llibre de l'administració de ploms, misses i aniversaris, 1748-1834, 
    ca. 300 f. <br>
    Llevador de misses i aniversaris, 1750, 189 f.; 1826, 301 f. <br>
    Resum de fundacions de misses i aniversaris, 1799, 64 f. <br>
    Escriptures de censals, s. XVIII, 3 llig. <br>

    10 pergs. <br>
    </p>
  <p>5.5.8 CADINS, monestir<br>
    Llibres de comptes; 1484-1504, ca. 250 f; 1576, 16 f; 1669-1675, 98 f; 1675-1681, 
    96 f; 1681-1684, 96 f; 2685-1691, 108 f; 1691-1700, 96 f; 1700-1708, 96 f; 
    1709-1715, 48 f; 1715-1719, 48 f; 1724-1726, 30 f; 1727-1729, 30 f; 1730-1731, 
    24 f; 1732-1733, 24 f; 1734, 24 f; 1736, 12 f; 1743-1744, 24 f; 1745-1746, 
    20 f; 1747-1748, 24 f; 1749-1750, 24 f; 1753-1754, 24 f; 1755-1756, 24 f; 
    1757-1758, 24 f; 1759-1760, 24 f; 1763-1766, 48 f; 1767-1768, 24 f; 1769-1770, 
    24 f; 1771-1772, 24 f; 1773-1774, 24 f; 1777-1778, 24 f; 1779-1780, 24 f; 
    1785-1788, 48 f; 1792-1796, 48 f; 1824-1834, 36 f.</p>
  <p>Capbreus; de Vilamalla, 
    1610, 40 f; 1724, 60 i 16 f; del Pla de Llers, 1727-1732, 84 f; de rendes 
    de l'Empordà, 1827, ca 400 f. <br>
    Escriptures de senyories directes de Santa Coloma de Queralt i Llers, 1760, 
    776 p. <br>

    Llevadors: dels censals, 1782, 145 f; de rendes de l'Empordà, 1827, 
    162 f.; 1832, 157 f. <br>
    Reducció d'aniversaris i fundacions, 1782, 124 p. <br>
    Llibre de notes (esdeveniments de la comunitat) 1665-1830, ca. 100 f. <br>
    Professions i defuncions de monges, 1818-1936, 185 p. <br>
    Lligalls: 2 de plets i 2 de comptes i escriptures (s. XVIII). <br>
    Pergamins; 751. Hi ha regesta dels 177 anteriors a l'any 1300, realitzada 
    per J. M. Marquès. <br>

    </p>
  <p>5.5.9 CAPUTXINES, convent 
    de Girona<br>
    Llevador de censals, 1637-1644, 138 f. <br>
    Comptes del procurador, 1600-1678, ca. 100 f. <br>
    Ingressos i despeses, 1812-1877, 239 p. <br>
    Comptes del convent, 1878-1893, 72 p. <br>

    Llibreta de recibos, 1811-1853, ca 100 f., 8o. <br>
    </p>
  <p>5.5.10. CARME, convent 
    de Girona<br>
    Repertori de las cosas tocants a la heretat o castell de Biure, de Caixàs, 
    1775, 3 vv., 345, 552 i 179 ff. <br>
    Llevador de censals, s. XVIII, 163 f. <br>
    Canalar de censals, s. XVII, 195 f. <br>

    Canalar de censals, 1676, 217 f. <br>
    Fundacions de Pere de Prats i de Batlle, 1753, ca 100 f. <br>
    Consolidació i extinció de Vales Reales, 1802, ca. 50 f. <br>
    Cobraments de censals, 1734-1830, 247 f. <br>
    Rebuts, 1787-1835, 141 f., 4º. <br>
    Inventaris, 1734-1829, ca. 150 f., 4º. <br>

    Confraria del Carme. Entrades i professions, 1814-1922, ca. 200 f. <br>
    Terç orde. Inventari. Òbits 1814-1862, p. 1-18 i 257-272. Inscripcions, 
    1851-1911, 682 p. <br>
    Confraria de terrissers de l'església del Carme, 1581-1831, 21 f.; 
    1787-1814, 25 f. <br>
    Reducció de misses, 1750, 262 p. <br>
    Cases del carrer de la Barca de Girona, llig. <br>
    Escriptures de censals, llig. <br>

    </p>
  <p>5.5.11 CASTELLÓ 
    D'EMPÚRIES, Comunitat de preveres<br>
    Llevador major, 1717, gener-abril, 418 ff; maig-setembre, 540 ff; octubre-desembre, 
    400 f. <br>
    Ingressos per censals, 1609-1851, 365 f. Sortides per censals, 1609-1851, 
    383 f. <br>
    Tresoreria, ingressos i despeses, 1576-1698, 112 f. <br>
    Procura major; 1720, 1793, 1794, 1796, 1797, 1798, 1799, 1801, 1802, 1803, 
    1805, 1806, 1807, 1808, 1815, 1816, 1817, 1818, 1820-1823, 1824-1831, llibres 
    de ca. 150 f. <br>

    Llibre de censos, 1792, ca. 50 f. <br>
    Llevador, 1792, ca. 200 f. Llevador 1818, 27 f. <br>
    Calendari de celebracions, 1676, 279 f. <br>
    Reducció de càrregues, 1716, ca. 200 f. <br>
    Speculum" de misses, 1716, 530 i 394 f; d'aniversaris, 1716, 399 f. <br>
    Consueta i completum de sufragis, 1717-1786, 424 f. <br>

    Llicències de substitució de beneficiats absents, 1548-1577, 
    ca. 100 f. <br>
    Aniversaris, 1748, ca. 100 f. <br>
    Llibre de memòries; admissió de comunitaris i canalars d'escriptures, 
    s. XIX, ca. 200 f. <br>
    Causapia Andreu, 1673, 130 f. <br>
    Confraria de Santa Maria. Inscripcions. 5 grans llibres, s. XVIII. <br>
    Lligalls. Inventari en procès d'elaboració. <br>

    Pergamins, 110. <br>
    </p>
  <p>5.5.12 CASTELLÓ 
    D'EMPÚRIES, Mercedaris<br>
    Comptes, 1816-1835, ca. 100 f. <br>
    Conductes d'apotecari, 1765, 269 f. <br>
    Plet contra Rubiès, 1777, ca. 200 f. <br>

    </p>
  <p>5.5.13 CERVIÀ, 
    Priorat benedictí<br>
    Capbreus: del monestir, 1315, 54 f, perg., 4º; de Raset, 1315, resum 
    de 1743, 109 p.; de Cervià, 1567-1584, 77 f., 4º.; de fora Cervià, 
    1568, còpia de 1760, 88 f.; de 1572, còpia de 1758, 219 p.; 
    de 1667, 151 f. de Montnegre, 1744, 70 f.; de Pontós, 1742, 46 f. de 
    fora Cervià, 1760, 144 f.; de 1761, 751 p.; de 1763, 362 f.; de Santa 
    Maria de Camós, 95 f.</p>
  <p>Llevadors: 1721, 156 f., 
    4º; 1643, 20 f.; de censos, 1727, 53 f., 4º.; Llevador primer, (de 
    fundacions), 1731, 138 f.; Llevador segon, 1731, 136 f.; Llevador de 1735, 
    182 f., 4º.; Llevador mestre de Montnegre, 1744, 54 f. Llevador mestre 
    de Pontós, 1744, 36 f. Llevador, 1753, 207 f.; Llevador de fora Cervià, 
    1752-1775, 136 f. Llevador dels aniversaris, 1760, 150 f.; Llevador, 1792-1816, 
    218 f.</p>
  <p>Speculo de notes, o canalars 
    d'escriptures, s. XVII, 301 f. <br>
    Llibre de fundacions, s. XVIII, 287 f. <br>

    Sentències i concòrdies, s. XVIII, ca. 100 f. <br>
    Reducció de misses, 1800, 38 f. Celebracions de misses, 1800, ca. 200 
    f., 4º. <br>
    Comptes de fra Salvador Marunys, 1686-1712, 188 f. <br>
    Consueta, 1712, 228 f. Inventari de la sagristia, 1745-1818, 189 f.</p>
  <p>Lligalls miscel·lanis: 
    5. <br>
    Pergamins: 1. <br>

    </p>
  <p>5.5.14 COLLELL, santuari<br>
    Entrades i eixides, (comptes), 1534-1537, 198 i 45 f. Entrades i eixides, 
    1549-1554, 175 f. <br>
    Despeses, 1626-1641, 189 f; 1641-1648, 169 f.; 1648-1664, 192 f; 1664-1675, 
    141 f; 1676-1697, 113 f; 1711-1735, 477 f; 1736-1858, 426 f. <br>
    Ingresos (Entrades), 1644-1663, 157 f; 1663-1698, 146 f;1698-1730, 309 p.; 
    1735-1852, 274 f. <br>
    Comptes del molí i manaments de visita pastoral, 1591-1628, 149 f. 
    <br>

    Comptes personals de Joan Codinach, prevere, 1931-1940, ca. 100 f., 4º. 
    <br>
    Rebuts, 1685-1706, ca. 100 f. 4º. <br>
    "Rebuts vells", 1747-1801, 50 f., 8o. <br>
    Fundacions, 1694-1705, ca. 100 f., 4º. <br>
    Llibre de contractes (còpies d'escriptures), 1722, 162 f. <br>
    Llibre de fundacions, 1722, 210 f. <br>

    Arrendaments, 1777-1805, ca. 150 f., 4º <br>
    Llibre de notes (actes de compra de béns i censos), 1732, <br>
    184 f. <br>
    Sumari de fundacions, 1745, ca. 50 f., 4º. <br>
    Llibre de conductes (contractes de personal), 1643-1667, ca. 100 f.; 1667-1729, 
    169 f. <br>
    <br>

    Llevadors: de censals, s. XVI, 118 f; de censals, 1668, 265 f; d'aniversaris 
    i misses d'estaca, 1693, 98 f., 4º; llevador, 1729, 190 f; llevador de 
    censos de l'Hospital de Sta. Caterina de Girona, 1764-1863, ca. 70 f., 4º. 
    <br>
    <br>
    Ingressos de l'ardiaca de Besalú, 1776-1803, ca. 100 f., 4º. <br>
    Calendari d'aniversaris i misses fundades, s. XVIII, ca. 70 f., 4º. <br>
    Completum de misses, 1780-1819, 105 f., 4º. <br>
    Extraccions de pabordes, 1702-1830, 106 f. <br>

    Confraria del Nom de Jesús. Inscripcions, 1612 ss, ca. 150 f. <br>
    Confraria del Roser, confrares, s. XVI-XVII, ca 200 f. <br>
    <br>
    Quadern de les curiositats del Collell, 1690-1697, 32 f. <br>
    <br>
    Escriptures, plets i diversos, 11 lligalls. <br>
    Pergamins: 207. <br>

    </p>
  <p>5.5.15 DOLORS, confraria 
    de Girona<br>
    Llibre d'homes, 1687-1730, 78 i 15 f.; 1751-1813, 68 f.; 1813-1934, 56 f. 
    <br>
    Llibre de dones, 1699-1755, 95 f; 1751-1812, 77 f.; 1813-1927, 139 f. <br>
    Llista de congregants dits "de nunci", 1820-1859, 24 f. <br>
    Confraria de N. S. de Loreto de l'església dels Dolora; confrares, 
    1810-1920, 73 i 62 f. <br>

    Llibre de fundacions, 1727-1805, 103 p., 4º. <br>
    Actes de la junta secreta, 1687-1762 i 1784-1791, 584 i 34 p. <br>
    Comptes, 1732-1863, 191 f; Comptes de la sagristia, 1799-1892, ca. 150 f, 
    4º. <br>
    Llibre de receptoría, 1796-1917, 197 f. <br>
    Llibre de la sagristia, 1823-1825, ca. 100 f, 4º. <br>
    Consueta de la sagristia, 1789, 25 f. <br>

    Rebuts, 1845-1849, ca 100 f., 4º. <br>
    Despeses del temple, 1845-1870, ca. 100 f., 4º. <br>
    Despeses de la sagristia, 1871-1885, ca. 100 f. 4º. <br>
    Comptes de la congregació, 1868-1920, ca. 100 f. <br>
    Ingressos de la congregació, 1866-1889, ca. 100 f., 4º. <br>
    Comptes del temple, 1871-1885, ca. 100 f., 4º. <br>

    Conferències de Sant Vicenç de Paul, 1911-1927, ca. 300 f., 
    4º <br>
    <br>
    Lligalls, 5. <br>
    </p>
  <p>5.5.16 ESCOLA DE CRIST, 
    de Girona<br>
    Actes i avisos rebuts, 1666-1777, 188 f; 1777-1793, 273 f. <br>
    Actes i definicions de comptes, 1725-1793, 172 f. <br>

    Completum de sufragis, 1770-1781, ca. 50 f. <br>
    </p>
  <p>5.5.17 DOMINICS, de Girona<br>
    </p>
  <p>Cabrevacions, 1684-1709, 
    46 f. <br>
    Terç orde. Inscripcions de confrares, 1850ss, ca. 200 f., 4º. 
    <br>
    </p>

  <p>5.5.18 FRANCISCANS, de 
    Girona<br>
    </p>
  <p>Llibre del Terç 
    Orde. Inscripcions de confrares, 1817-1889, 356 f. <br>
    </p>
  <p>5.5.19 JONQUERES, priorat 
    de Maià de Montcal<br>
    </p>
  <p>Pergamins: 59</p>

  <p> </p>
  <p>5.5.20 LLADÓ, Priorat 
    de Santa Maria<br>
    </p>
  <p>Pergamins: 789. Hi ha 
    regesta dels 119 anteriors al 1300 a Josep M. Marquès, "Documents 
    de Santa Maria de Lladó, anteriors al s. XIV, conservats a l'Arxiu 
    Diocesá de Girona", dins Annals de l'Institu d'Estudis Empordanesos, 
    1989, 271-291. Alguns foren editats per P. VAYREDA, El priorat de Lladó 
    i les seves filials, Barcelona, 1930 i reproducció facsímil, 
    Girona 1989.</p>
  <p> </p>
  <p>5.5.21. PURISSIMA SANG, 
    confraria de Girona<br>

    </p>
  <p>Confrares. Dones, 1751-1871, 
    50 f. <br>
    Confrares, homes, 1664-1756, amb sentenciats, 170 f; 1751-1826, 38 f; 1771-1884, 
    amb sentenciats, 126 f. <br>
    Sentenciats, 1749-1844, quadern. <br>
    Juntes, 1838-1886, amb confrares, 1829ss, 334 f. <br>
    Confrares i actes, 1866-1887, 376 f. <br>

    Index de confrares, s. XIX, ca. 50 f. <br>
    Registre de censals i rendes, 1771, 168 f.; 1790, 80 f. <br>
    Ordinacions. Comptes 1690-1719, ca. 100 f. <br>
    Comptes; ingressos, 1722-1782, ca. 30 f.; 1862-1885, 25 f. Despeses, 1746-1848, 
    124 f.; 1848-1886, ca 50 f. Comptes, 1886-1896, 400 p. <br>
    Vetlla de malalts. Homes, 1876-1887, 198 f.; dones, 1881-1888, 183 f.; 1887-1910, 
    193 p. <br>
    Recomanació de l'ànima, s. XIX, 15 f. <br>

    Meditacions, s. XVIII, ca 50 f. <br>
    <br>
    Correspondència i escriptures, s. XVIII-XIX, 6 lligalls. <br>
    </p>
  <p>5.5.22 SANT DANIEL, monestir<br>
    </p>
  <p>Pergamins: 4.</p>

  <p> </p>
  <p> </p>
  <p>5.5.23 SANT ELOI, confraria 
    de Girona<br>
    </p>
  <p>Llibre d'exàmens, 
    1731-1815, 172 f.; 1815-1836, 27 f. <br>
    Llibre d'actes, 1746-1835, 96 f. <br>

    Comptes de la missa setmanal i llàntia, 1604-1654, 74 f; 1680-1725, 
    ca. 100 f.; 1726-1801, 199 f. <br>
    </p>
  <p>5.5.24 SANT FELIU DE GUÍXOLS, 
    monestir<br>
    </p>
  <p>Capbreu de Cassà 
    i Santa Pellaia, 1664, 106 f. Capbreu de Cassà de la Selva, 1773, 140 
    f. <br>
    <br>
    Pergamins, 20. <br>

    </p>
  <p>5.5.25 SANT MIQUEL DE 
    FLUVIÀ, monestir<br>
    </p>
  <p>Manuals de la notaría 
    del monestir: 1337 i 1350-1352, 109 f.; 1384-1389, foliat 1-19, 8-12 i 30-68; 
    1429-1433, 149 f; 1594-1598, 222 f.; 1595-1596, f 112-194. </p>
  <p>Llevador d'aniversaris, 
    1636, ca. 75 f.</p>
  <p> </p>
  <p> </p>

  <p>5.5.26 SANT PERE DE GALLIGANTS, 
    monestir <br>
    </p>
  <p>Capbreu del Cambrer, (Anglès, 
    La Cellera, Amer), 1576-1676, 207 f. <br>
    Llevador de la sagristia, 1733, 175 f.; dels aniversaris, 1796, ca. 300 f.; 
    de la fundació Camps i Llupiana, 1815-1828, ca. 80 f. <br>
    Comptes de la sagristia, 1745-1835, 200 f. 4º; del procurador de l'abat, 
    1803-1808, ca. 80 f.; de l'enfermeria, 1818 i 1823, 24 f. 4º. <br>
    </p>
  <p>5.5.27 SANT TOMÀS 
    DE FLUVIÀ, Priorat<br>

    </p>
  <p>Plet contra l'abat de 
    Sant Pere de Rodes, s. XVII.</p>
  <p> </p>
  <p>5.5.28 SERVITES, convent 
    d'Empúries<br>
    </p>
  <p>Professions, 1697-1834, 
    ca. 100 f., 4º. <br>
    Resolucions capitulars 1751-1833, ca. 100 f. <br>

    Visites, 1797-1832, 15 f. <br>
    Fundacions, 1750-1823, 181 p. <br>
    <br>
    Escriptures, 2 llig. <br>
    </p>
  <p>5.5.29 SEU DE GIRONA<br>
    </p>

  <p>Capítol</p>
  <p>Concòrdia amb la 
    vila de Lloret, 1807, ca. 100 f. <br>
    Plet sobre delmes de novals amb S. Pere Pescador; al·legacions de l'advocat 
    Codolar, 1780, ca. 70 f. <br>
    Memòries de cultes i esdeveniments, 1803-1911, 41 p. <br>
    Pabordía de maig; capbreu S. Julià de Ramis, 1760, ca 50 f. 
    <br>
    Pabordía d'agost; capbreu de Foixà, 1755-1769, 114 f. <br>

    Ferial</p>
  <p>Capbreu del mas Síbils 
    de Fornells, 1683, 24 f, 4º. <br>
    Administració del Ferial, 1683-1684, 104 f. <br>
    Aniversaris presbiterals. Comptes, 1602-1603, ca 100 f. <br>
    Pios Sufragios: ingressos 1764-1769, 341 f; 1804-1809, 214 f; despeses 1804-1809, 
    247 f; ingressos i despeses 1813-1815, 296 f.</p>
  <p>Dignitats.</p>

  <p>Llevador de les dignitats, 
    1825, 52 p. <br>
    1 llig. <br>
    Ardiaca major <br>
    Priorat de S. Miquel del Fai. Capbreu de La Garriga, Llorona, Corró 
    de Vall, Vilamajor, Sentmenat, Teià, Premià i Cabrera, 1756, 
    ca. 300 f. <br>
    Lligalls; 4. <br>
    Ardiaca d'Empordà <br>

    Cabrevacions d'Aiguaviva, Pont Major, Pedret i Montjuïc, s. XV-XVI, còpies 
    del s. XVII, 201 p. Capbreu de 1667, 65 f. <br>
    Lligalls; 1. <br>
    Ardiaca de Besalú <br>
    Plet sobre jurisdicció a Palau Sardiaca i Estanyet, 1505, ca. 300 f., 
    4º. <br>
    Lligalls, 5.</p>
  <p>Sagristà major 
    <br>

    Capbreu de Solius, 1394, 67 f.; 1592, 55 f.; 1668, 141 f; C. de Llambilles 
    i Girona, 1665, 21 f; C. del benefici de N. S. dels Angels del Sagristà 
    Major, 1593, 46 f. <br>
    Llevador de Solius, 1676, 173 f.; de la sagristia d'Agullana, 1817-1837, 42 
    f. 4º.; de Solius i Sta. Ceclina, 1652-1702, ca. 50 f., 4º. de Solius 
    i Llagostera, 1754, 124 f.; de Girona i el seu pla, 1769, 345 f.; de Sta. 
    Ceclina, s. XVIII, ca. 40 f. <br>
    Indexs o arxivació de documents (s. XVIII); patronats, preeminències 
    i prerrogatives (calaix 2), 68 f.; Llambilles (calaix 3), 86 f.; Solius i 
    Llagostera (calaix 4), 163 f.; Santa Ceclina (calaix 5), 40 f.; Sant Daniel, 
    Sant Feliu de Girona i Pla de Girona (calaix 8), 52 f.; Mercadal i Forn de 
    la sagristia (calaix 9), 82 f.; Salt (calaix 11), 51 f.; Galliners, Fornells 
    i Sant Feliu de la Garriga (calaix 12), 36 f. <br>
    <br>
    Cabiscol Major <br>
    Capbreu de Campllong, Sant Daniel i St. Amanç, 1517-1611, 64 f.; de 
    Cassà de la Selva i Riudellots, 1687-1691, 78 f. <br>

    Llevador 1738, 92 f.; 1794, 129 f. <br>
    Speculum o calendaris d'escriptures, 1687, 85 f. <br>
    2 lligalls. <br>
    <br>
    Sagristia segona <br>
    Consueta dels ornaments se dehuan parar en la iglesia de la Seu, s. XVIII, 
    ca. 50 f. <br>

    <br>
    Claveria <br>
    Actes autèntics i inventari de l'arxiu, 1698, ca. 100 f. <br>
    Llevador 1648, 156 f. 4º; 1698, 76 f. <br>
    2 lligalls. <br>
    Beneficis</p>

  <p>Santa Anastàsia 
    o pabordia de l'Almoina; Cabrevacions de Riudellots de la Selva, Vilablareix, 
    Camós, Vilademí, etc, s. XVII-XVIII, 356 f. (Vegi's altres materials 
    corresponents a aquest benefici a la Pia Almoina del Pa de la Seu) <br>
    Almoina del Pa. Llevadors; 1392-1395, ca. 30 f; 1731-1732, 184 p., 4º; 
    Borgonyà-Camós, ca. 1800, 166 p., 4º. <br>
    Procés sobre el dret del sagristà major a nomenar el paborde 
    de l'Almoina, 1702-1728; 1, ca. 120 f; 2, 265 f; 3, 116 f; 4, 138 f; 5, 141 
    f; 6, 110 f.; 7, 233 f; 8, 173 f.; 9, 191 f.; 10, 222 f. <br>
    <br>
    Sant Antoni Abat. Llevador 1728, 102 f. 4º. <br>
    Sant Bartomeu. Capbreu de Vallcanera i Riudarenes, 1764, 159 f.; capbreu de 
    1791, 99 f.;llibre mestre del benefici, 1761, 348 p.; llevador, (post 1791), 
    287 f., 4º. <br>

    Santa Creu. Llevador, 1740, 195 f., 4º. <br>
    Santa Anna. Llevador, 1809-1832, 156 f. 4º. <br>
    Santa Caterina. Un llig. <br>
    Sant Dalmau i Jordi. Llevador, 1739-1797, 48 f. <br>
    Sant Jaume. Llevador, 1805, 78 f. 4º. Un llig. <br>
    Sant Joan primer. Llibre de notas del benefici de Sant Joan, rectoria nomenat 
    (Vall d'Aro, Sant Feliu de Guíxols, Girona, Fornells, Celrà, 
    Bordils, Flaçà, Seguerò, Brunyola i Madremanya, 1736, 
    294 f. Un llig. escriptures. <br>

    Sant Joan, dit de Bordils. Canalars de les escriptures, s. XVIII, 211 f.; 
    145 p., 4º. <br>
    Sant Llorenç. Capbreu 1389, 124 f.; còpies de les escriptures, 
    1389, 142 f; capbreu de Franciac, 1587-1682, 170 f.; cabrevacions 1757-1772, 
    176 f. <br>
    Sant Llorenç i Joan units. Canalars de les escriptures, 1773, ca 200 
    f. Dos llig. <br>
    Sant Miquel. Llevador, 1677, 52 f., 4º; 1748-1803, 89 p., 4º; l852-l858, 
    197 p., 4º. <br>
    Sant Nicolau. Canalars, 80 f. Un llig. <br>
    Sants Pere i Pau. Llevador, s. XV, 25 f; 1585, 93 f; llevador mestre, 1749, 
    65 f.; resum del capbreu de 1321, s. XVIII, 103 f.. Un llig. <br>

    Sant Salvador. Canalars d'actes, 1773, 265 p. <br>
    Sant Tomàs. Llevador, 1741, 334 p., 4º. <br>
    Confraria de Santa Maria. Confraresses, ca. 1372-ca.1415, ca. 40 f. <br>
    </p>
  <p>Pergamins.</p>
  <p>Ardiaca Major (Sant Julià 
    de Ramis, Palol de Revardit, Rabòs de Terri, Santa Llogaia, Vilanna. 
    Priorat de Sant Miquel del Fai): 199. <br>

    Ardiaca de Besalú (Palau Sardiaca): 89. <br>
    Ardiaca de la Selva (Estanyol, Girona, Salt, Vilablareix, Montfullà): 
    34 <br>
    Sagristà Major (Mercadal, Llambilles, Bordils, Salt, Santa Ceclina, 
    Solius, Llagostera, Biert, Sant Medir, Riudarenes): 220. <br>
    Claver (Montnegre, Sant Daniel, Sant Martivell): 109. <br>
    Cabiscol (Riudellots de la Selva. Sant Mateu de Montnegre): 33 <br>
    Beneficis: Sants Bartomeu i Nicolau: 60. Sant Benet: 28. Sant Domènec: 
    93. Sant Joan: 76. Sant Llorenç i Joan, units: 60. Altres beneficis: 
    77. <br>

    </p>
  <p>5.5.30 ULLÀ, col·legiata<br>
    Capbreu del priorat, 1702-1755, 114 f.; 1739-1746, 392 f.; 1779-1785, 392 
    f.; de la candela vella, 1745, 171 f., 4º; de la sagristia, s. XVIII, 
    ca. 100 f.; de la cambreria, s. XVIII, 251 f.; 1777-1799, 113 f. <br>
    Llevador del priorat, 1779, 171 f. <br>
    Escriptures, 1 llig. <br>
    Pergamins, 3. <br>

    </p>
  <p>5.5.31. VILABERTRAN, col·legiata.<br>
    Capbreus de Figueres; 1343, 45 i 15 f.; 1366, 67 f.; 1508, 104 f.; còpia 
    del de 1508, 58 i 57 f.; 1524-1569, 88 f.;1594-1624, amb Vilamalla i el Far, 
    72 f.; 1624, 130 f.; 1642-1645, 161 f.; 1714-1729, 125 f.;1735-1736, 154 f.;1741-1768, 
    167 f.</p>
  <p>Capbreus de Vilabertran, 
    1511-1517, 83 f.; 1566, 127 f.; 1601, 181 f.; 1605-1607, 155 f.; 1605-1612, 
    102 f.; 1623-1624, 105 f.; 1685, 62 f.</p>
  <p>Capbreus de Rabós 
    i Dalfià, 1547-1606, ff 146-201; Espolla i Rabós, 1548, 96 f. 
    </p>
  <p>Capbreus de Cabanes, 1437, 
    1594, 1626, 105 f.; de Cabanes, Peralada, Espolla i Capmany, 1595, ca 100 
    f.; 1642-1645, 104 f.; 1757, 91 f.</p>

  <p>Capbreu de Terrades i 
    Cistella, 1594-1624, 118 f.</p>
  <p>Cabrevacions de St. Pere 
    dels Vilars, Costoja, Tapis, Maçanet de Cabrenys, Terrades, Capmany, 
    Perelada, Llers i Cabanes, 1609 i 1625, 35 i 43 f.</p>
  <p>Capbreu de Navata, 1779, 
    148 f.; de Capmany, 1779, 105 f.</p>
  <p>Capbreu de l'Almoina, 
    1587-1592, 42 f.; de la sagristia, s. XVI, 43 f.</p>
  <p>Memorial de capbreus de 
    l'abadia, 1585, ca. 50 f., 4º.; resums de cabrevacions, s. XVII, 174 
    f.</p>
  <p>Notas tretas dels manuals 
    de la notaria de Vilabertran, 1401-1441, 406 p.; 1511-1516, 276 f.; 1500-1546, 
    204 f.; 1601-1675, 641 f.</p>

  <p>Nota de les terres de 
    S. Pau de la Calçada, ca. 1780, 82 f.</p>
  <p>Establiments, 1514-1549, 
    26 f.; 1502-1757, 109 f; precaris de Dalfià i Cabanes, 1595-1601, 72 
    f.; contractes, 1561-1568, ca. 50 f.</p>
  <p>Llevador, ca. 1490, 99 
    f.; id. d'aniversaris i misses, s. XVI-XVII, 171 f.; 1646, 290 f.; 1660, 90 
    f. 4º.; 1800-1810, ca. 100 f.; 1812-1832, ca. 130 f.</p>
  <p>Censals de la Bossa Comuna, 
    1720, ca. 80 f.</p>
  <p>Causapia de Morer, comptes, 
    1699-1833, 172 f.</p>
  <p>Entrades per foriscapis, 
    1639-1691, 386 p.; 1730-1759, p. 307-681; cobrament de lluïsmes, 1826-1833, 
    308 p.</p>

  <p>Procura, ingressos, 1758-1759, 
    202 f.; 1780-1782, 107 f.; 1786-1787, incomplet.; 1792-1801, 80 f.; 1804, 
    amb despeses, 189 f.</p>
  <p>Caixa de dipòsits. 
    Ingressos i sortides, 1672-1784, 199 f.</p>
  <p>Fundacions, 1541, 203 
    f; 1718, 430 f. </p>
  <p>Reducció de càrregues, 
    1720, ca. 50 f.</p>
  <p>Resolucions capitulars, 
    1528-1539 i 1633-1685, 196 f.; 1649-1737, 277 f.; 1690-1726, 201 f; 1737-1779, 
    236 f; 1796-1824, 250 f.</p>
  <p>Notaría; manuals 
    d'aprísies de 1567, 1666, 1681, 1733, 1738, 1740, 1741, 1742, 1745, 
    1747, 1751, 1752, 1753, 1755, 1756, 1757, 1758, 1759, 1761, 1763, 1764, 1765, 
    1766, 1771, 1773, 1776, 1777, 1779, 1784, 1785, 1786, 1789, 1790. Quaderns 
    de ca. 50 f., 4º.</p>

  <p>Lligalls de plets, escriptures 
    i comptabilitat, 57. En procés d'ordenació.</p>
  <p>Pergamins; 73, anteriors 
    al 1300, i un nombre indeterminat dels anys següents, molt deteriorats. 
    El conjunt principal dels pergamins de Vilabertran es conserva a Barcelona, 
    a la Biblioteca de Catalunya.						
		</p></div>