<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">2.7 Registre i segell</h1>
				1347-1596 105 vv. <p></p>
  <p>La major part dels volums, 
    que tenen la característica forma de mig foli vertical, porta el títol 
    de Libri receptarum et expensarum emolumentorum iuris sigilli. No així 
    els tres primers, que són ordres d'expedir documents dels que es donen 
    les dades essencials. Pot considerar-se que la sèrie continúa 
    en els registres de lletres del Vicariat (2.6.2). Volums sense foliar.</p>
  <p>1 (1347-1349); 2 (1354-1357); 
    3 (1365-1366); 4 (1435); 5 (1436); 6 (1437); 7 (1438); 8 (1439); 9 (1440); 
    10 (1443); 11 (1444); 12 (1450); 13 (1454); 14 (1456-1457); 15 (1458-1460); 
    16 (1473-1474); 17 (1474-1475); 18 (1475-1476); 19 (1477); 20 (1478); 21 (1479); 
    22 (1481); 23 (1482); 24 (1483); 25 (1484); 26 (1485); 27 (1486); 28 (1488); 
    29 (1489); 30 (1490); 31 (1491); 32 (1492); 33 (1493); 34 (1494); 35 (1495; 
    36 (1496; 37 (1497); 38 (1498); 39 (1499); 40 (1500); 41 (1501); 42 (1502); 
    43 (1503); 44 (1504); 45 (1505); 46 (1506); 47 (1507); 48 (1508); 49 (1509); 
    50 (1510); 51 (1511); 52 (1512); 53 (1513); 54 (1514); 55 (1515); 56 (1516); 
    57 (1520); 58 (1521); 59 (1522); 60 (1523); 61 (1524); 62 (1525); 63 (1526); 
    64 (1527); 65 (1528); 66 (1529); 67 (1530); 68 (1531) 69 (1532); 70 (1533); 
    71 (1534); 72 (1535); 73 (1536); 74 (1537); 75 (1538); 76 (1539); 77 (1540); 
    78 (1541); 79 (1542); 80 (1543); 81 (1544); 82 (1545); 83 (1546); 84 (1547); 
    85 (1548); 86 (1550); 87 (1551); 88 (1552); 89 (1553); 90 (1554); 91 (1555); 
    92 (1556); 93 (1557); 94 (1558); 95 (1559); 96 (1560-1561); 97 (1562); 98 
    (1563); 99 (1564); 100 (1565); 101 (1569-1570); 102 (1570-1571); 103 (1572); 
    104 (1573); 105 (1577-1582); 106 (1589-1596); 107 (1600); 108 1601); 109 (1602); 
    110 (1603).						
		</p></div>