<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">Repertoris antics</h1>
				    Tot i que la majoria dels 
    repertoris seran esmentats als fons que il.lustren, sembla oportú d'assenyalar 
    al principi els d'interès més general, i particularment els 
    antics. <p></p>
  <p>1. Recull d'Antic Onofre 
    Steldat (ca. 1600). Segons Pons Guri, tenia el nom de Molassa (sic). Conté: 
    Collationes dignitatum infrascriptarum, índex de patronats actius, 
    1576, ff 1-11; llista de beneficis del bisbat, amb nota de fundació 
    i nom del patró, f 12-186; Flores omnium quae expediri solent in Vicariatu 
    Gerundensi, (formulari, amb models de redacció de documents presos 
    dels llibres "Litterarum" i "Manualium", f 187-211; Memorial 
    dels beneficis del senyor Rey d'Aragó, o beneficis de patronat reial, 
    f 213-219; Taula de cabrevacions de delmes fetes al bisbe de Girona, 1480-1530, 
    f 220-227; Sumari de constitucions sinodals, f 229-236; Usatica et consuetudines 
    civitatis et dioecesis Gerundensis (en matèria senyorial), ff 252-304; 
    Sinodals de 1362 a 1475, f 328-366; Perceptors de delmes del bisbat, s. XVI, 
    f 378-742; Constitucions de la Seu de Girona i costumari de la mateixa, del 
    temps del bisbe Berenguer de Pau (1486-1506), f 750-917; Ordre de la Taula 
    de Testaments del bisbat de Barcelona, s. XV, amb documents sobre la Cúria 
    de Testaments i Causes Pies de Girona, f 937-948; Almoines fundades al bisbat 
    de Girona, s. XVI, per ordre alfabètic de llocs, f 953-993.</p>
  <p>2. Inventari de l'Arxiu 
    Major de la Dignitat Episcopal, ca. 1600, 2 vv. Cf. ressenya a p. 13.</p>
  <p>3. Indexs de Notularum 
    i Manuals. Existeixen quatre índexs, començats per l'arxiver 
    Narcís Nadal i continuats per Francesc Befaràs, que contenen 
    una selecció dels documents d'aquests dos fons. a) Notularum 1320-1388 
    i 1423-1508, i Manuals 1338-1500. b) Notularum 1508-1723: hi ha dues còpies, 
    una en format foli i l'altra en format quart. c) Indexs dels Manuals 1400-1698. 
    d) Indexs de manuals 1400-1723 i de Notularum 1423-1475.</p>

  <p>4. Repertorium collationum 
    a 1600 et aliarum notitiarum super beneficiis et oratoriis huius dioecesis 
    Gerundensis, iniciat per Narcís Nadal i continuat per Francesc Befaràs 
    i altres, 380 ff. Agrupa per parròquies brevíssimes referències 
    arxivístiques a dotalies i posessions de beneficis i a llicències 
    d'erecció de capelles.</p>
  <p>5. Index de visites pastorals. 
    522 f. Vegeu-ne la descripció a 1.1, p. 154.</p>
  <p>6. Inventaris antics de 
    processos. 41 fascicles. El més antic data de 1648, i divideix els 
    processos resenyats en Informacions per entrar al Seminari, Sants, promocions 
    de bisbes i abats, Commutacions de llegat, Establiments enfitèutics, 
    Concessions i revocacions de llicències, Causes de visita, Segrestaments, 
    Causes feudals i enfiteuticàries, Unions i desunions de beneficis, 
    i Drets de Patronat. Els altres inventarien els processos pels noms dels pledejants, 
    sense indicació de la matèria litigiosa.</p>
  <p>7. Repertoris de Causes 
    Pies. Per ordre alfabètic de causants. El més antic data de 
    1660-1669, 198 ff, i contè notes de definicions, 1669-1703. Hi ha un 
    Repertorium novum, format per Cristòfol Cabirol, 1757, 334 ff, i un 
    Repertorio nuevo, de Narcís Riambau, 1826, 276 i 297 ff.</p>						
</div>