<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">3. Secretaria de cambra i govern</h1>
				La secció conté 
    gairebé exclussivament lligalls, que fins fa poc es trobaven de<p></p>
  <p>sordenats; un inventari 
    topogràfic permetia de localitzar-los. El desordre era també, 
    en alguns casos, intern; abundaven els lligalls miscel·lanis, dels 
    que només amb ajut de l'esmentat inventari es podia saber el contingut. 
    La feina d'ordenar i inventariar la secció ha estat de les més 
    llargues que s'han dut a terme recentment. Hem procurat de conservar les signatures 
    antigues, quan ha estat possible, perquè havien estat utilitzades en 
    publicacions.</p>
  <p>Inventari. Inventari de 
    la secció S, Anàlisi de 539 lligalls elaborat per Tomàs 
    Noguer, arxiver, ca. 1960, 252 f. </p>
  <p></p>

  <p>--------------------------------------------------------------------------------<a name="comunicacionsse"></a></p>
  <p><br>
    3.1 COMUNICACIONS REBUDES I REGISTRES DE SORTIDA<br>
    La correspondència rebuda s'arxivà segons pautes diferents en 
    distintes èpoques. De vegades la de parròquies s'agrupava per 
    arxiprestats, i d'altres en sèrie única. Quan les cartes responen 
    a enqüestes de caràcter general, les hem inclós a l'apartat 
    3.6.</p>
  <p>Butlles i cèdules, 
    1753-1755; 1777-1786; 1794-1834 (C-82). Comunicacions de la Reial Cambra, 
    1623-1793. Del Consejo Real i del govern francès, 1749-1813 (C-129). 
    Amb correspondència entre el bisbe Lorenzana i el seu agent a Madrid</p>
  <p>Reials Ordres 1853-1859 
    (S-10); Id.,1860-1865 (S-11); Id. 1869-1883 (S-12). Id. 1879ss (T. 537).</p>

  <p>Comunicacions del Govern 
    i ministeris, 1812-1854 (S-251); 1828-1872 (S-252); 1879ss (T-538); decrets 
    del ministeri de Gràcia i Justícia 1843-1852 (S. 241); cartes 
    del mateix ministeri, 1879-1893 (S-331); d'altres ministeris, 1902-1924; disposicions 
    oficials sobre religioses, 1855-1858 (S-14).</p>
  <p>Circulars i disposicions 
    gubernatives, 1870-1914 (S-402); jurament de la constitució, 1870 (S-530); 
    rectors expulsats per les juntes revolucionàries, 1868-1874 (S-444); 
    afers polítics 1915-1919 (S-7).</p>
  <p>Comunicacions del Govern 
    Civil, 1821-1840 (S-72) 1834-1849 (T-478); 1850-1856 (T-479); 1858-1861 (T-480); 
    1862-1867 (T-481); 1868-1878 (T-482); 1879-1906 (T-483); comunicacions de 
    la intendència de la província 1835-1849 (T-486)</p>
  <p>Correspondència 
    d'autoritats militars, 1824-1833 (T-484); 1828-1884 (T-485); 1879-1933, (S-313); 
    d'autoritats provincials, 1824-1867 (S. 526); d'autoritats judicials (T-487).</p>
  <p>Correspondència 
    de l'Ajuntament de Girona, 1836-1921 (S-311); d'altres alcaldes, 1863-1917 
    (S-527).</p>
  <p>Documents papals i de 
    la nunciatura, 1764-1879 (S-399); documents apostòlics 1883-1893 (S-366); 
    Id., 1870-1903 (S-367). Dispenses, 1844-1928 (S-257). Facultats de la S. Seu 
    1875-1926 (S-258). Rescriptes 1870-1936 (S-259). Encícliques i similars, 
    1862-1903 (S. 280). Concili Vaticà II 1959-1963 (S-483). Altra correspondència 
    amb la nunciatura i Roma, T. 539.</p>

  <p>Sagrades congregacions 
    i conferència episcopal Tarraconense, 1929-1963 (S-475-477); concili 
    provincial Tarraconense (projecte) 1949 (S-467).</p>
  <p>Nunciatura apostòlica, 
    1851-1932 (S. 459; Id., 1861-1874 (S-445); Id., 1923-1963 (S-484).</p>
  <p>Correspondència 
    amb prelats, 1867-1876 (T-550); 1880-1888 (T-551); 1895-1913 (T-549); 1896-1904 
    (T-552); id. i autoritats civils 1921-1963 (S-474).</p>
  <p>Correspondència 
    del capítol catedral 1860-1873 (T-488); 1879-1902 (T-530).</p>
  <p>Correspondència 
    parroquial 1849-1850 (T-540); 1851-1853 (T-541); 1852 (T-542); 1854-1855 (T-543); 
    1856-1857 (T-544); 1858-1862) (T-545).</p>
  <p>Correspondència 
    parroquial, per arxiprestats; </p>

  <p>Arxiprestat d'Arenys de 
    Mar, 1863-1879 (T-489); 1880-1886 (T-490); 1886-1891 (T-491); 1892-1900 (T-492).</p>
  <p>Arxiprestat de Figueres, 
    1863-1871 (T-493); 1872-1876 (T-494); 1877-1880 (T-495); 1881-1883 (T-496); 
    1884-1886 (T-497); 1887-1889 (T-498); 1890-1894 (T-499); 1895-1899 (T-500); 
    1900-1904) T-501)</p>
  <p>Arxiprestat de Girona, 
    1863-1875 (T-502); 1876-1879 (T.503); 1879-1882 (T-504); 1883-1885 (T-505); 
    1886-1888 (T.506); 1889-1891 (T-507); 1892-1895 (T-508); 1896-1900 (T-509); 
    1900-1904 (T-510).</p>
  <p>Arxiprestat de la Bisbal 
    1863-1873 (T-511); 1874-1877 (T-512); 1878-1881 (T-513); 1882-1886 (T.514); 
    1886-1890 (T-515); 1891-1895 (T-516); 1896-1900 (T-517); 1901-1907 (T-518).</p>
  <p>Arxiprestat d'Olot 1863-1873 
    (T 519); 1874-1877 (T-520); 1877-1881 (T-521); 1882-1883 (T-522); 1884-1886 
    (T-523); 1887-1889 (T-524); 1890-1893 (T-525); 1894-1896 (T-526); 1897-1900 
    (T-527); 1901-1904) (T-528).</p>
  <p>Arxiprestat de Santa Coloma 
    de Farners 1863-1875 (T-529); 1883-1888 (T-531); 1889-1895 (T-532); 1895-1902 
    (T-533).</p>

  <p>Correspondència 
    de parròquies: 1907-1910 (T-546); 1912 (T-547); 1912-1914 (S-405); 
    1915-1922; 1919-1929 (S-77); 1920-1922 (T-548); de l'arxiprestat d'Arenys 
    1887-1907 (S-407); de Figueres 1893-1913 (S-417); de l'arxiprestat de S. Coloma, 
    1893-1907 (S-408); del d'Olot 1905-1907 (S-322); de la parròquia d'Arenys 
    de Mar, 1853-1878 (S-330). Cf. 3-4 "Afers de parròquies".</p>
  <p>Correspondència 
    vària; extradiocesana i d'entitats civils 1862-1922 (S-453);1862-1875 
    (S-528-529); extradiocesana 1900-1906 (T-476); 1906-1912 (S-453); 1876-1881 
    (T-471); 1882-1886 (T-472); 1887-1890 (T-473); 1891-1895 (T-474; 1896-1899 
    (T-475): altra correspondència, 1889-1908 (S-319); 1899-1932 (S-271). 
    Juntes de Beneficència, Ensenyament i Instrucció Pública 
    1899-1930 (S-28). Educació Nacional i Acció Catòlica 
    1946-1956 (S-482).</p>
  <p>Altra correspondència 
    extradiocesana, 1876-1881 (T-471); 1882-1886 (T-472); 1887-1890 (T-473); 1891-1895) 
    (T.474); 1896-1899 (T-475).</p>
  <p>Circulars impreses, 1731-1914 
    (S-348); 1878-1879 (S-402); circulars reservades, 1870-1875 i 1912. </p>
  <p>Registres de correspondència 
    sortida i altres documents expedits; 1850-1851; 1852-1860 (C-162); 1883-1891 
    (S-44); 1886-1890 (S-51) 1891-1901 (S-45); 1902-1907 (S-52); 1907-1913 (S-53); 
    1923-1930; 1929-1963.</p>
  <p></p>

  <p>--------------------------------------------------------------------------------<a name="organismesse"></a></p>
  <p><br>
    3.2 ORGANISMES DIOCESANS. PERSONAL<br>
    Comissió Diocesana d'art: Actes, 1939-1943; 1944-1947. Correspondència, 
    1928-1963. Imatges autoritzades, 1939 ss. Projectes, 1939-1967: parròquies 
    A-G; parròquies H-V.</p>
  <p>Comissió Diocesana 
    de Música, 1964-1967, 1 llig.</p>
  <p>Secretariat de Catequesi: 
    Confraria de la Doctrina Cristiana, Actes 1909-1936; Index de parròquies 
    que tenen erigida la confraria de la Doctrina Cristiana, 1942; Memòries 
    d'activitats de parròquies, 1940-1945; estadístiques de catequesi, 
    1945-1946; informes d'activitats de parròquies, 1946-1950; Concurs 
    catequístic, 1954.</p>

  <p>Servei de Colònies 
    de Vacances, 1974-1988, 95 lligs.</p>
  <p>Centre Eucarístic 
    Diocesà. 1 capsa, 1925-1990</p>
  <p>Expedients d'ordes. Cf. 
    sèrie 1.4. La seva gestió corresponia a la Secretaria de Cambra, 
    des de la creació d'aquesta oficina.</p>
  <p>Conferències eclesiàstiques, 
    organització i dispenses d'assistència, 1833-1958 (S-312); actes 
    de celebració, 1902-1906 (S-73); 1907-1910 (S-452); 1911-1922 (S-245); 
    1925-1929 (S-369).</p>
  <p>Registres de sacerdots 
    que practiquen exercicis espirituals, 1918-1940.</p>
  <p>Concursos-oposició 
    a parròquies. Cf. sèrie 2.2.5. Durant els segles XIX-XX hi tingué 
    intervenció decisiva la secretaria. </p>

  <p>Incardinacions, 1889-1951; 
    Admissió de sacerdots extradiocesans, 1874-1911 (S-293 i 400); expedients 
    d'excardinació, 1854-1931 (S-74); excardinacions temporals, 1903-1952 
    (S-359); Obra de Cooperació Sacerdotal Hispanoamericana, 1957-1976; 
    Servei militar de sacerdots, 1954-1984.</p>
  <p>Nomenaments de càrrecs 
    de cúria, 1924-1980; registre de nomenaments de càrrecs diocesans, 
    1922-1978.</p>
  <p>Exàmens sinodals, 
    1870-1875; 1907-1936 (S-370); 1940-1961. Eren la base per concedir les llicències 
    ministerials que s'enregistren a la sèrie 1.7.</p>
  <p>Llicències ministerials, 
    1911-1917; 1918-1926.</p>
  <p>Afers de canonges de la 
    seu, 1861-1932 (C-175); afers de beneficiats, 1860-1935.</p>
  <p>Renúncies de càrrecs 
    parroquials, 1833-1930 (S-19, 21 i 247). Provisions de parròquies de 
    patronat, 1893-1927.</p>

  <p>Vicaris i ecònoms, 
    1790-1829 (C-169); 1829-1873; 1875-1922, amb llistes per parròquies 
    i d'altres per noms de persones. Clergat parroquial, destins 1907-1915. </p>
  <p>Nomenaments diversos, 
    1881-1981. Destins parroquials de religiosos secularitzats, 1822-1824.</p>
  <p>Oficis de presa de possessió, 
    1853-1864 (S-20); 1865-1869; 1870-1875; 1876-1880; 1920-1922 (S-455).</p>
  <p>Comunicacions de defunció, 
    1855-1875; 1876-1878; 1908-1914.</p>
  <p>Professions de fe, 1934-1968. 
    Testimonials de mèrits, 1786-1816. Expedients de sacerdots absents 
    i exclaustrats, 1840. Rectors que fan de mestre a les seves parròquies, 
    1857-1868. Professors de religió i de primària, 1940.</p>
  <p>Baptismes d'adults, 1904-1936; 
    1939-1975; abjuracions amb baptisme, 1904-1972.</p>

  <p>Matrimonis reservats, 
    1847-1919 (S-464).</p>
  <p>Diferències amb 
    autoritats civils en nomenaments d'obrers i pabordes, 1860-1884 (S-283).</p>
  <p>Causes de beatificació 
    i canonització, 1939-1973. Llicències amb rescriptes de la Santa 
    Seu, 1939 ss. Permisos de treballar en dies de festa, 1912-1980.</p>
  <p>Afers particulars de sacerdots, 
    1940-1970.</p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="immoblesse"></a></p>

  <p><br>
    3.3 IMMOBLES<br>
    Temples. Junta de reparació de temples, actes, 1861-1882 (S-54); correspondència 
    1857-1882 (S-393); 1866-1880 (S-316); registre de correspondència, 
    1884-1891 (S-44)); normativa 1852-1894 (S-394); expedients, 1831-1928 (S-248); 
    1849-1881 (S-314); diversos, 1848-1851 (S-392); L'Escala, Juià, Sant 
    Daniel, Sant Feliu de Girona, les Planes, 1848-1860 (S-318); 1850-1880 (S-317); 
    1852-1882 (S-291); 1859-1888 (S-298); 1861-1872 (S-315); Palau episcopal i 
    Sant Daniel, 1859-1866 (S-57); Maçanet de la Selva (S-43); Sant Genís 
    de Palafolls 1867 (S-55); La Cellera, 1868 (S-59); Vilajuïga, 1868 (S-56); 
    Serinyà 1871 (S-58); expedients de 1882 (S-39); 1883 (S-40); Maçanet 
    de la Selva, s.a. (S-43); Colomers, Canelles, St. Jaume de Llierca, Cabanelles, 
    1882-1885 (C-98). Obres a temples 1923-1934 (S-448).</p>
  <p>Reconstruccions, 1939 
    (S-535-537); 1941-1963 (S-481); correspondència amb la Junta Nacional 
    i les parròquies, i factures, 12 llig.; Sant Josep de Girona, 1951-1954; 
    Seminari, 1942-1947; Bancs d'esglésies i campanes. </p>
  <p>Cementiris, 1848-1875 
    (S-302); 1878-1893 (S-303); 1894-1897 (S-304); 1898-1904 (S-305); 1900-1939 
    (S-357). Incautacions 1932-1933 i reconciliacions 1939 (S-358).</p>
  <p>Cementiris d'Arenys de 
    Mar i Tortellà, (S-306). Cementiri de Girona, 1929-1932 (S-498); comptes 
    1830-1869; 1915-1928; actes de la Junta del cementiri de Girona, 1829-1925; 
    1927-1932.</p>

  <p>Cases rectorals, obres 
    necessàries, 1860-1861 (S-345); Obres 1861-1866 (S-277). Horts de rectories, 
    1860; visures 1851-1927, parròquies lletres A-C (S-63); 1838-1921, 
    lletres F-M (S-67); 1835-1920, lletres N-S (S-68). Altres visures 1852-1930 
    (S-329). Obres a cases rectorals i santuaris, 1733-1936 (S-361). Reparacions 
    a cases rectorals, llibre 1912-1924 (C-179). Expedients i factures, 7 capses.</p>
  <p>Santuaris, s. data (S-75); 
    1836-1890 (S-301); 1767-1919 (T-66);. Església del Pilar de Pedret, 
    1862 (S-512); Temple diocesà del Sagrat Cor de Jesús, 1886-1932 
    (S-511). Béns i càrregues de parròquies, 1838. Finques 
    del clergat, 1850-1852 (S-507).</p>
  <p>Seminari, edifici, 1845-1928 
    (S-30); reconstrucció, 1941-1948 (S-481); Collell, obres, 1933-1956 
    (S-478); 1956-1962 (S-479);</p>
  <p>Propietats de parròquies 
    (i annexos parroquials) 1834-1919 (S-360); finques de la clerecia, 1850-1852 
    (S-507). Mines d'Anglès, propietat de la Santa Seu, 1872-1951 (S-260-261).</p>
  <p>Contenciosos; El bisbe 
    contra l'ajuntament de Sant Feliu de Guíxols sobre la propietat de 
    la capella de Sant Joan, 1912; Sant Antoni de Puigpardines, 1941.</p>
  <p>Diversos; Lloret de Mar, 
    cinema parroquial, 1953-1954; Comtat de Sant Jordi, 1909-1963; vendes de propietats 
    eclesiàstiques, 1916-1943; projectes d'edificis 1939 ss.</p>

  <p></p>
  <p>--------------------------------------------------------------------------------<a name="institucionsse"></a></p>
  <p><br>
    3.4 INSTITUCIONS I ACTIVITATS<br>
    Catedral, estatuts, edictes i correspondència, 1835-1919 (S-254). Construcció 
    de l'orgue i altres obres, 1941-1965 Expedients de llicències per a 
    actrivitats diverses i nomenament de canonges honoraris, 1939-1972; Oposicions 
    a canongies, 1788-1948; 1889-1942; expedients de provisió de canongies 
    i beneficis, 1947-1979; nomenaments de beneficiats, 1863-1909; Defundions 
    de canonges i beneficiats, 1854-1939; nomenaments de capitulars de designació 
    reial, 1860-1931; oposicions a beneficis, 1888-1927.</p>
  <p>Seminari. Beques, 1830-1906 
    (S-248). Instàncies d'alumnes sobre estudis eclesiàstics 1860-1930 
    (S-29, 32, 33). Documentació diversa, 1772-1923 (S-249); comunicacions 
    de la secretaria de cambra al seminari, 1939-1958; Dispenses d'estudis, 1923-1925 
    (S-250).</p>
  <p>Seminari Sivilla</p>

  <p>Casa Missió de 
    Banyoles, documents antics, 1842-1850 (S-297); correspondència, 1846-1913; 
    Reglament, edifici i predicacions, 1842-1920.</p>
  <p>Col·legi del Collell, 
    docència i comptes, 1851-1922; correspondència 1852-1927 (S-31). 
    </p>
  <p>Museu Diocesà. 
    Projecte i comptes 1943-1957 (S-502)</p>
  <p>Parròquies. Modificacions 
    de límits, 1842-1929 (S-242); reorganització 1863-1864 (S-272); 
    1864-1929 (S-244); projecte de reorganització, 1898 (S-243); 1878-1906 
    (S-515); reorganització d'arxiprestats, 1964; torns de parròquies 
    1852-1901 (S-284); 1902-1933 (S-285). Creació de coadjutories 1863-1924 
    (S-289)</p>
  <p>Afers de parròquies, 
    1908-1980; lletres A-C (S-519); lletres E-G (S-520); lletres G-LL (S-521); 
    lletres M-Q (S-522); lletres R-V (S-523); lletres A-D (S-524). Altres afers, 
    1923-1924 (S-448).</p>
  <p>Hospitals 1794-1931 (S-398).</p>

  <p>Erecció de confraries 
    i congregacions, 1900-1936; associacions catòliques, 1876-1915, segons 
    E. Vivas; associacions diverses, 1894-1936 (S-508); Associació de caritat 
    entre la clerecia diocesana, actes i comptes, 1882-1965 (S-491-495); Germandat 
    de sufragis de la clerecia 1912-1913 (S-391); Escuela de Cristo, 1953-1964 
    (S-489). Estatuts i reglaments d'associacions 1882-1905 (S-371) </p>
  <p>Comunitats de preveres 
    i col·legiates 1835-1880 (S-505); Sant Lluc de Girona, actes 1904-1951; 
    Olot, 1828-1863 (S-296); Torroella de Montgrí 1790-1867 (S-300)</p>
  <p>Confraries 1881-1942 (S-362).</p>
  <p>Sindicats agrícoles 
    catòlics, 1907-1927 (S-269).</p>
  <p>Càritas Nacional 
    espanyola 1957-1963 (S-480). Patronat de socors d'Arenys de Mar 1893-1926 
    (S-26). </p>
  <p>Llicències i activitats:</p>

  <p>Reduccions de misses i 
    fundacions 1905-1922 (S-273); elevació d'estipendis 1926 (S-288); Butlla 
    de Creuada 1864-1889 (S-325); Id., 1914-1923 (S-328); Permisos de recaptar 
    almoines 1880-1913 (S-299). Butlla de Creuada, correspondència, 1939-1963; 
    Aprovació d'aranzels parroquials, 1838-1924 (S-268).</p>
  <p>Oratoris privats 1741-1923 
    (S-469); Relíquies de sants s.d. (S-513); Llicències per bancs 
    a esglésies 1863-1903 (S-24); Id., 1872-1900 (S-25).</p>
  <p>Censura de llibres i impresos 
    1854-1933 (S-255); 1865-1907 (S-450); 1889-1930 (S-64); id. de revistes 1892-1913 
    (S-456); Consell de vigilància contra el modernisme i censures 1904-1913 
    (S-413); censura de goigs, 1939-1982; censura d'escrits, 1939-1982; permisos 
    de predicació, 1917-1919 (S-454); Santes missions 1904-1934 (S-463). 
    Tandes exercicis espirituals, 1942-1963; llicències per sorteigs, 1940-1962; 
    campaments, 1947-1968.</p>
  <p>Recollida de donatius 
    per al papa 1862-1919 (S-49); congressos catòlics i catequètics 
    1900-1934 (S-414); jubileu sacerdotal de Pius X 1908 (S-281). manifestacions 
    d'adhesió a la S. Seu, 1910 (S-372).</p>
  <p>Peregrinatges i romeries, 
    1882-1914 (S-279).</p>
  <p>Permisos per presentar-se 
    candidats a eleccions, 1890-1905 (S-27); 1915-1919 (S-7).</p>

  <p>Processó de Corpus 
    a Girona, 1921-1977; Processons al bisbat i consagració dels sants 
    Olis, 1909-1968; Quaranta Hores i predicació quaresmal, 1930-1964; 
    Any Sant, 1983; Dispenses de dejuni eucarístic, 1947-1953; Hospitalitat 
    de Lourdes, 1932-1936; Obra d'Exercicis, 1925-1929; Sagraris Calvaris, 1939; 
    Unió Apostòlica, 1943-1967; Quaranta Hores a Girona, administració, 
    1848-1968; campanya per l'ensenyament del catecisme a les escoles, 1913 (S-308). 
    </p>
  <p>Cf. també sobre 
    llicències la sèrie 1.5.</p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="religiososse"></a></p>
  <p><br>
    3.5 RELIGIOSOS<br>
    Testimonials 1860-1875 (S-9); 1875-1886 (S-3) id. i llicències ministerials 
    1885-1904 (S-458); testimonials per a ingressar al Cor de Maria i Escolapis, 
    1887-1904 (S-4); testimonials 1923-1929 (S-365). Peticions de testimonials 
    per a ingressar en religió, 1939-1972</p>

  <p>Registre dels religiosos 
    establerts a la diòcesi 1909-1923 (S-253)</p>
  <p>Agustins de Calella, 1866-1931 
    (S-412); Benedictins de Besalú, 1908-1928 (S-374); Caputxins, Escoles 
    cristianes i Maristes, 1891-1964; Escolapis 1871-1926 (S-376); id. ordenació 
    a Terrassa, 1913 (S-428); Gabrielistes 1903-1922 (S-406); Maristes 1887-1936 
    (S-375); Maristes de Malgrat 1908-1920 (S-396); Sagrada Família 1876-1907 
    (S-410); altres religiosos 1816-1906 (S-373); 1892-1930 (S-415-416); 1932-1936 
    (S-9). </p>
  <p>Religioses; vesticions 
    i professions. </p>
  <p>Les vesticions i professions 
    de religioses són autoritzades pel bisbat, previ informe, que acompanya 
    documentació sobre la seva naturalesa i baptisme. Lligalls.</p>
  <p>1, (1848-1883); 2,(1883-1885); 
    3, (1886-1887); 4 (1888-1889); 5 (1890-1891); 6 (1892-1893); 7 (1894-1895); 
    8, (1896-1897); 9 (1898-1899); 10 (1900-1901); 11 (1902-1903); 12 (1904-1905).</p>
  <p>Religioses Germanes de 
    Sant Josep: 13 (1906-1920); 14 (1917-1925); 15 (1925-1936).</p>

  <p>Religioses Filles de Sant 
    Josep: 16 (1907-1915); 17 (1915-1920); 18 (1920-1925); 19 (1926-1933); 20 
    (1933-1936).</p>
  <p>Carmelites de la caritat, 
    1906-1936 (S-419).</p>
  <p>Cor de Maria, 1906-1916 
    (S-379); 1917-1925 (S-380); 1926-1932; 1933-1936 (S-381).</p>
  <p>Germanes de Sant Josep; 
    1906-1920 (S-229); 1917-1925 (S-230); 1926-1932 (S-231).</p>
  <p>Cistercenques i benedictines 
    (1908-1936) (S-389).</p>
  <p>Ensenyança de Calella 
    (1907-1935) i Canonesses de Peralada (1906-1936) (S-390).</p>

  <p>Vots perpetus de claresses 
    i caputxines (1899-1922) (S-404).</p>
  <p>Vots perpetus diversos 
    (1939-1940) (S-69).</p>
  <p>Elecció d'abadesses 
    i superiores 1879-1914 (S. 354)</p>
  <p>Fundacions de cases d'instituts 
    extrangers 1865-1925 (S-395 i 397).</p>
  <p>Beates, 1800-19xx; Benedictines 
    de Pont-Bou 1905-1920 (S-294); Bon Pastor, Servei Domèstic, 1929-1935 
    (S-409); Carmelites de la Caritat 1868-1939 (S-420); Carmelites Descalces 
    1901-1933 (S-431); Caputxines 1827-1933 (S-432); Clarisses de Girona, 1837-1936 
    (S-421); Id. de Castelló i Arenys 1851-1935 (S-422); Id. de Figueres, 
    1861-1934 (S-423); Id. de Torroella 1865-1935 (S-424); Id. d'Olot i Banyoles, 
    1870-1934 (S-425); Companyia de Maria de Calella 1861-1900 (S-517); Concepcionistes 
    de Lloret 1903-1936 (S-430); Cor de Maria 1853-1966 (S-426 i 514); Divina 
    Pastora (S-433); Divina Providència de Banyoles (S-425); Dominiques 
    de l'Anunciata 1880-1936 (S-401); Esclaves del Cor de Maria (S-435); Escolàpies 
    1855-1875 (S-65); 1874-1966 (S-66); Filles de la Caritat 1889-1935 (S-490); 
    Filles de Jesús 1894-1933 (S-434); Filles de Sant Josep 1879-1934) 
    (S-447); Missioneres Evangèliques 1940-1951 (S-486); Ursulines 1904-1916 
    (S-412)</p>
  <p>Religioses, professions, 
    1939-1974; Adoratius, 1 llig.; Beates, 1 llig; Benedictines, 1 llig; Bernardes, 
    1 llig; Canonesses de Peralada, 1 llig; Caputxines, 1, llig; carmelites calçades, 
    1 llig; Carmelites de la caritat, 1 llig; carmelites descalces, 1 llig; Clarisses 
    d'Arenys, 1 llig; Clarisses de Banyoles, 1 llig; Clarisses de Castelló, 
    1 llig; Clarisses de Figueres, 1 llig; Clarisses d'Olot, 1 llig; Clarisses 
    de Salt (després, Vilobí), 1 llig; Clarisses de Torroella de 
    Montgrí, 1 llig; Companyia de Maria, 1 llig; Concepcionistes de Lloret, 
    3 lligs; Dominiques, 1 llig; Esclaves del Cor de Maria, 1 llig; Esclaves del 
    Santíssim, 2 lligs; Escolàpies, 1 llig; Filles del Cor de Jesús, 
    1 llig; Filles de Sant Josep, 18 lligs; Germanetes dels Pobres, 1 llig; Missioneres 
    del Cor de Maria, 15 lligs; Missioneres Evangèliques i Casa Nostra, 
    1 llig; Presentació, 1 llig; Vetlladores, 34 lligs; Altres, 1 llig; 
    afers d'instituts, 25 lligs.</p>

  <p>Miscel·lànies 
    de religioses 1851-1917 (S-334); 1876-1907 (S-373); 1907-1934 (S-378); 1866-1910 
    (S-415); 1925-1935 (S-409); s. data (S-436, 437, 438, 439, 440, 441, 442, 
    443).</p>
  <p></p>
  <p>--------------------------------------------------------------------------------<a name="informesse"></a></p>
  <p><br>
    3.6. INFORMES, ESTADÍSTIQUES I COMPTABILITAT<br>
    La segretaria de cambra ha demanat sistemàticament informació 
    sobre diversos aspectes de la vida de les parròquies. La mateixa oficina 
    ha gestionat la comptabilitat de la col·lecturía de misses, 
    el Full Parroquial i la Butlla de la Creuada.</p>
  <p>Beneficis de la diòcesi, 
    1761-1865 (S-403).</p>

  <p>Ànimes de les parròquies, 
    1852 (S-461); 1861 (S-282) nascuts i morts de la diòcesi, 1856 (S-344); 
    estadística diocesana, 1927 (S-449).</p>
  <p>Estadístiques de 
    parròquies i personal, 1856-1865 (S-290); 1865-1924 (S-339); de clerecia 
    i religiosos 1822-1886 (S-368); de clergues diocesans, 1836-1872 (S-363; 1907 
    (S-36); fitxes personals dels preveres, 1865; 1876.</p>
  <p>Inventaris de parròquies 
    1817-1830 (S-62); 1830-1912 (S-61); 1860-1868 (S-460); 1909-1910 (S-60); 1913-1914 
    (S-76); 1939 (S-496). Robatoris a esglésies 1830-1905 (S-509); 1899-1928 
    (S-510).</p>
  <p>Secretaria de Cambra, 
    comptes 1887-1907 (S-35); fons de reserva del bisbat 1887-1927 (S-504); col·lecturía 
    de misses 1890-1909 (S-46).</p>
  <p>Butlla de Creuada, 1909 
    i 1939-1963, 26 llibres</p>
  <p>Full Parroquial, 1939-1971, 
    11 llibres. Comptes del Butlletí del bisbat, 3 llig.</p>

  <p>Suscripcions i col·lectes 
    diocesanes, 1887-1907 (S-35), llibre.</p>
  <p>Col·lecturía 
    de mises: 1889-1909 (S-46); 1909-1925 (C-65); 1925-1936; 1942-1946; 1946-1950; 
    1950-1954; 1954-1958; 1958-1962; 1962-1967; 1968-1971; 1972-1979.</p>
  <p>Revisió de comptes 
    de parròquies, 1930-1936.</p>
  <p>Comnptes amb l'Agència 
    de precs de Roma; Comptes amb el Col·legi Espanyol de Roma; Comptes 
    amb la nunciatura.						
		</p></div>