<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">2.4 Testaments i causes pies</h1>
				 L'existència als 
    testaments de clàusules pietoses i llegats destinats al culte i a la 
    caritat és constant als testaments medievals. La intervenció 
    dels prelats en la seva execució s'institucionalitza des de mitjan 
    s. XIV, per mitjà d'un "procurador de les ànimes" 
    nomenat pel bisbe. Hom controla sistemàticament els testaments dels 
    clergues. Entre els dels laics, són objecte de revisió i aprovació 
    especial aquells que institueixen fundacions de caràcter permanent; 
    les causes pies. Encara que les més abundants fossin les destinades 
    a dotar donzelles i finançar estudis, n'hi havia de fundades amb altres 
    objectes. Al segle XVI hom organitza una veritable Cúria de testaments 
    i Causes pies, amb funcions administratives i judicials (erecció: Notularum 
    1508-1532, f 273), que produeix la major part de la documentació inclosa 
    en el present epígraf.<p></p>
  <p>--------------------------------------------------------------------------------<a name="registreste"></a></p>
  <p> </p>
  <p>2.4.1 REGISTRES I MARMESSORIES<br>

    1330-1365 10 vv. </p>
  <p>Agrupem en un unic conjunt 
    els registres del s. XIV referents a les causes pies. Cal afegir-hi els processos 
    d'execució de marmessories que es recullen a la sèrie de Processos.</p>
  <p>1 Registre de notes de 
    definicions i altres escriptures referents a l'execució de testaments, 
    1330-1356. s.f. <br>
    2 Extractes de testaments amb llegats per bé d'ànima. Notaries 
    de Girona, 1340-1347, 83 i 47 f. <br>
    3 Extractes ... Girona, 1349, 129 f. <br>
    4 Extractes ... Camprodon, 1348-1353, s.f. <br>

    5 Extractes ... diverses poblacions, 1349-1361, s.f. <br>
    6 Extractes ... diverses poblacions, 1349-1357, s.f. <br>
    7 Liber marmessoriarum primus. Reg. de lletres de l'Oficial ordenant complir 
    disposicions testamentàries, 1348-1352, s.f. <br>
    8 Liber marm. secundus, 1352-1358, s.f. <br>
    9 Liber marmessoriarum, 1363-1365, 50 f. <br>
    10 Registre d'àpoques d'execució de marmessories, 1364, s.f. 
    <br>

    Hom trobarà les marmessories individuals dins de la sèrie de 
    processos anteriors al 1500.</p>
  <p>--------------------------------------------------------------------------------<a name="definicionste"></a></p>
  <p> </p>
  <p>2.4.2 DEFINICIONS<br>
    1419-1928 250 vv </p>
  <p>La sèrie bàsica 
    de l'arxiu i notaría de Causes Pies es composa en realitat de dos conjunts 
    una mica diferents. A l'inici la integren registres notarials. Les escriptures 
    contingudes en ells són d'actes del vicari general que aprova marmessories, 
    els comptes dels quals es transcriuen. Entre 1571 i 1640, cada mar-messoria 
    fou transcrita en forma notarial a la sèrie de Definicions, (Notularum 
    Definitionum) i, en forma més clara i en llengua vernacla, a una sèrie 
    paral·lela, de Resolucions. Gradualment hom s'adonà de que no 
    tenia sentit de continuar la sèrie notarial; aleshores sovint les planes 
    dels manuals corresponents resten en blanc després d'haver-les donat 
    el títol d'una marmessoria determinada, mentre que el vicari general 
    decreta la Resolució. Així, durant el s. XVII, els manuals porten 
    el nom de Definicions, però cada un dels actes és anomenat Resolució 
    de marmessoria. Gairebé tots els manuals tenen índex, sovint 
    doble, que recull per una banda les marmessories i per altra les causes pies, 
    i institucions permanents, com són almoines fundades i similars. </p>

  <p>1 (1419-1423), 238 f; 
    2 (1423-1425), 2020 f; 3 (1434-1437), s.f.; 4 (1458-1469), 262 f; 5 (1477-1487), 
    251 f; 6 (1487-1497), 244 f; 7 (1497-1505), 256 f; 8 (1505-1527), 307 f; 9 
    (1510-1512), 42 f; 10 (1527-1534), 331 f, not. Joan Pagès; 11 (1534-1547), 
    224 f; 12 (1538-1567), 237 f; 13 (1547-1556), 140 f; 14 (1556-1569, 180 f, 
    not. Miquel Vilosa; 15 (1566-1573), 268 f, not. A. O. Steldat; 16 (1573-1579), 
    300 f; 17 (1582-1584), 115 f, not. F. Planes; 18 (1584-1587), 155 f; 19 (1588-1590), 
    164 f; 20 (1593-1594), 165 f; 21 (1596-1597), 61 f; 22 (1598), s.f.; 23 (1599-1604), 
    348 f, not. Pere Joan Roca i Rafael Puig; 24 (1600-1601), 147 f; 25 (1605 
    gener-maig), 334 f; 26 (1605, juny des.), 210 f; 27 (1605, esborrany), 198 
    f; 28 (1606, gener-maig), 322 f; 29 (1606, juny-agost), 165 f; 30 (1606, agost-des.), 
    195 f; 31 (1608-1609), s.f; 32 (1609-1610), s.f.; 33 (1610-1611), s.f.; 34 
    (1611-1612), s.f.; 35 (1612-1613), s.f.; 36 (1615-1616), 158 f; 37 (1616-1617), 
    197 f; 38 (1617-1618), 196 f; 39 (1618-1619), 198 f; 40 (1619-1620), 196 f; 
    41 (1620-1621), 187 f; 42 (1621-1622), 185 f; 43 (1622), 186 f; 44 (1622-1624), 
    197 f; 45 (1624-1625), 146 f; 46 (1627-1628), 148 f; 47 (1628-1629), 207 f; 
    48 (1629-1630), 103 f; 49 (1630-1631), 195 f; 50 (1630-1631, esborrany), s.f.; 
    51 (1631), 241 f; 52 (1632-1633), 194 f; 53 (1633-1634), 193 f; 54 (1634-1636), 
    248 f; 55 (1636-1638), 243 f; 56 (1638-1640), 247 f; 57 (1640-1641), 314 f; 
    58 (1640-1643, esborrany), s.f.; 59 (1642), 85 f; 60 (1642-1644), 310 f; 61 
    (1643-1646, esborrany), s.f.; 62 (1647-1649), 212 f; 63 (1650-1652), 316 f; 
    64 (1653-1657), 250 f; 65 (1658-1660), 296 f; 65b (1660-1662), 144 f; 66 (1663), 
    129 f; 67 (1664), 185 f; 68 (1665-1668), 144 f; 69 (1667-1669), 210 f; 70 
    (1669-1670), 196 f; 71 (1671-1673), 189 f; 72 (1673), 198 f; 73 (1673-1674), 
    204 f; 74 (1674-1676), 191 f; 75 (1676-1678), 246 f; 76 (1678), 250 f; 77 
    (1679-1680), 247 f; 78 (1680-1683), 362 f; 79 (1683-1685), 256 f; 80 (1685-1686), 
    198 f; 81 (1686-1687), 328 f; 82 (1687-1688), 227 f; 83 (1689-1691), 304 f; 
    84 (1691-1694), 389 f; 85 (1694-1698), 389 f; 86 (1698-1699), 372 f; 87 (1699-1701), 
    342 f; 88 (1701), 205 f; 89 (1702), 274 f; 90 (1703), 283 f; 91 (1704), 215 
    f; 92 (1705), 229 f; 93 (1706), 193 f; 94 (1707), 209 f; 95 (1708), 202 f; 
    96 (1709), 166 f; 97 (1710), 197 f; 98 (1711-1712), 182 f; 99 (1713-1714), 
    340 f; 100 (1715), 194 f; 101 (1716-1717), 261 f; 102 (1718-1719), 316 f; 
    103 (1720), 159 f; 104 (1721), 168 f; 105 (1722), 279 f; 106 (1723), 227 f; 
    107 (1724), 161 f; 108 (1725), 183 f; 109 (1726), 257 f; 110 (1727), 282 f; 
    111 (1728), 270 f; 112 (1729), 215 f; 113 (1730), 209 f; 114 (1731), 264 f; 
    115 (1732), 356 f; 116 (1733), 318 f; 117 (1734), 396 f; 118 (1735), 422 f; 
    119 (1736), 365 f; 120 (1737), 346 f; 121 (1738), 431 f; 122 (1739), 403 f; 
    123 (1740), 666 f; 124 (1741), 448 f; 125 (1742), 382 f; 126 (1743), 387 f; 
    127 (1744), 406 f; 128 (1745), 256 f; 129 (1746), 304 f; 130 (1747), 291 f; 
    131 (1748), 404 f; 132 (1749), 341 f; 133 (1750), 307 f; 134 (1751), 310 f; 
    135 (1752), 331 f; 136 (1753) 362 f; 137 (1754), 369 f; 138 (1755), 294 f; 
    139 (1756), 221 f; 140 (1757), 434 f; 141 (1758, 520 f; 142 (1759), 345 f; 
    143 (1760), 440 f; 144 (1761), 339 f; 145 (1762), 355 f; 146 (1763), 315 f; 
    147 (1764), 333 f; 148 (1765), 369 f; 149 (1766), 294 f; 150 (1767), 371 f; 
    151 (1768), 327 f; 152 (1769), 261 f; 153 (1770), 298 f; 154 (1771), 636 f; 
    155 (1772), 395 f; 156 (1773), 612 f; 157 (1774), 412 f; 158 (1775), 297 f; 
    159 (1776), 256 f; 160 (1777), 165 f; 161 (1778), 357 f; 162 (1779), 391 f; 
    163 (1780), 372 f; 164 (1781), 346 f; 165 (1782), 266 f; 166 (1783), 336 f; 
    167 (1784), 397 f; 168 (1785), 413 f; 169 (1786), 332 f; 170 (1787), 307 f; 
    171 (1788), 235 f; 172 (1789), 390 f; 173 (1790), 417 f; 174 (1791), 411 f; 
    175 (1792), 326 f; 177 (1794), 287 f; 178 (1795), 236 f; 179 (1796), 368 f; 
    180 (1797), 298 f; 181 (1798), 289f; 182 (1799), 328 f; 183 (1800), 248 f; 
    184 (1801), 264 f; 185 (1802), 349 f; 186 (1803), 248 f; 187 (1804), 253 f; 
    188 (1805), 236 f; 189 (1806), 263 f; 190 (1807), 269 f; 191 (1808-1809), 
    99 f; 192 (1810-1813), 350 f; 193 (1814), 194 f; 194 (1815), 297 f; 195 (1816), 
    244 f; 196 (1817), 265 f; 197 (1818), 375 f; 198 (1819), 268 f; 199 (1820), 
    523 f; 200 (1821), 250 f; 201 (1822-1824), 117 f; 202 (1825), 124 f; 203 (1826), 
    370 f; 204 (1827), 382 f; 205 (1828), 360 f; 206 (1829), 330 f; 207 (1830), 
    252 f; 208 (1831), 422 f; 209 (1832), 446 f; 210 (1833), 419 f; 211 (1834), 
    367 f; 212 (1835), 307 f; 213 (1836-1838), 399 f; 214 (1839-1841), 434 f; 
    215 (1842), 248 f; 216 (1843-1844), 362 f; 217 (1846-1846), 347 f; 218 (1847), 
    302 f; 219 (1848-1849), 458 f; 220 (1850), 279 f; 221 (1851) 194 f; 222 (1852), 
    412 f; 223 (1853), 336 f; 224 (1854), 296 f; 225 (1855), 389 f; 226 (1856-1857), 
    367 f; 227 (1858), 199 f; 228 (1858), 199 f; 229 (1859), 197 f; 230 (1860-1861), 
    428 f; 231 (1862-1864), 417 f; 232 (1865-1867), 286 f; 233 (1868-1870), 359 
    f; 234 (1871-1877), 326 f; 235 (1878-1880), 377 f; 236 (1881-1883), 463 f; 
    237 (1883-1885), 354 f; 238 (1886-1889), 228 f; 239 (1890-1895), 452 f; 240 
    (1896-1899), 227 f; 241 (1900-1915), 407 f; 242 (1904-1923), 293 f; 243 (1924-1928), 
    243 f; 244 (1929-1935), 411 f.</p>
  <p>Repertoris. Existeix un 
    índex de definicions, 1587-1611. El Repertori de Causes Pies 1757, 
    recull definicions per ordre alfabètic de causants. Hi ha un Repertorio 
    Nuevo de 1826, 2 vv. estructurat de manera anàloga a l'anterior.</p>
  <p>--------------------------------------------------------------------------------<a name="subrogacionste"></a></p>
  <p> </p>
  <p>2.4.3 SUBROGACIONS<br>
    1404-1953 40 vv. </p>

  <p>Nomenaments fets pel Vicari 
    general a fi de subrogar marmessors i assegurar així la continuitat 
    de les causes pies després de la defunció dels executors testamentaris 
    assenyalats pels fundadors.</p>
  <p>1 (1404-1458), 127 f; 
    2 (1458-1570), 251 f; 3 (1572-1598), 268 f; 4 (1598-1604), 78 f; 5 (1605-1620), 
    194 f; 6 (1616-1631), 112 f; 7 (1630-1635), 235 f; 8 (1636-1643), 190 f; 9 
    (1643-1660), 327 f; 10 (1660-1667), 189 f; 11 (1667-1675), 199 f; 12 (1675-1680), 
    196 f; 13 (1680-1693), 245 f; 14 (1693-1705), 336 f; 15 (1706-1717), 297 f; 
    16 (1717-1732), 409 f; 17 (1732-1739), 352 f; 18 (1739-1746), 391 f; 19 (1746-1753), 
    379 f; 20 (1753-1760), 377 f; 21 (1761-1768), 427 f; 22 (1769-1773), 382 f; 
    23 (1773-1779), 374 f; 24 (1779-1796), s.f; 25 (1796-1804), 171 f; 26 (1805-1819), 
    369 f; 27 (1820-1825), 98 f; 28 (1826-1830), 201 f; 29 (1831-1833), 113 f; 
    30 (1834-1842), 264 f; 31 (1843-1848), 298 f; 32 (1849-1852), 231 f; 33 (1853), 
    265 f; 34 (1854-1858), 273 f; 35 (1859-1863), 314 f; 36 (1864-1867), 261 f; 
    37 (1868-1882), s.f.; 38 (1883-1895), 307 f; 39 (1895-1914), 318 f; 40 (1924-1953), 
    s.f.</p>
  <p>--------------------------------------------------------------------------------<a name="institucionste"></a></p>
  <p> </p>
  <p>2.4.4 INSTITUCIONS<br>
    1568-1911 29 vv. </p>

  <p>Per cada causa pia es 
    recull ací l'extracte de clàusules testamentàries, la 
    compareixença dels marmessors davant la Cúria i el decret de 
    fundació, emanat del Vicari General. Poden constar, en resum, els censals 
    que constitueixen el capital. Els volums, sobretot els més antics, 
    poden recollir documents anteriors als límits cronològics que 
    ací assenyalem, basant-nos en els decrets que institueixen les fundacions. 
    </p>
  <p>1 (1568-1590), 494 f; 
    2 (1590-1598), 392 f; 3 (1598-1605), 366 f; 4 (1605-1622), 390 f; 5 (1622-1653), 
    337 f; 6 (s. XVI), 359 f; 7 (1636-1672), 321 f; 8 (1672-1690), 400 f; 9 (1690-1701), 
    254 f; 10 (1681-1710), 299 f; 11 (1711-1723), 412 f; 12 (1724-1732), 473 f; 
    13 (1733-1735), 364 f; 14 (1735-1738), 351 f; 15 (1608-1739), 348 f; 16 (1739-1743), 
    426 f; 17 (1743-1747), 346 f; 18 (1748-1754), 372 f; 19 (1755-1759), 393 f; 
    20 (1759-1762), 380 f; 21 (1762-1766), 396 f; 22 (1766-1771), 393 f; 23 (1771-1773), 
    358 f; 24 (1773-1774), 360 f; 25 (1774-1792), 430 f; 26 (1792-1806), 147 f; 
    27 (1806-1820), 144 f; 28 (1826-1851), 356 f; 29 (1851-1911), 167 f.</p>
  <p>Repertoris. Josep M. Marquès 
    ha elaborat un índex topogràfic de cada volum, i un altre cronològic 
    de les 1.599 fundacions amb 178 pp i 84 d'índex toponomàstic.</p>
  <p>--------------------------------------------------------------------------------<a name="resolucionste"></a></p>
  <p> </p>
  <p>2.4.5 RESOLUCIONS<br>

    1571-1647 30 vv. </p>
  <p>La sèrie de "Resolucions 
    de comptes" fou iniciada per l'arxiver de causes pies Antic Onofre Steldat, 
    segons que diu en el primer llibre, a fi de donar comptes al bisbe. En realitat, 
    sovint els informes es limiten a traduir al català els documents corresponents 
    de la sèrie de Definicions, i, per aquest motiu, alguns volums foren 
    intercalats en aquesta darrera. Des de 1647 els actes de resolució 
    són inclosos dins la sèrie de Definicions, com expliquem a la 
    introducció de la mateixa.</p>
  <p>1 (1571-1576); 2 (1576-1578); 
    3 (1579-1581), 219 f; 4 (1584-1587), 231 f; 5 (1587-1590), 238 f; 6 (1590-1592), 
    151 f; 7 (1592-1593), 97 f; 8 (1593-1594), 158 f; 9 (1595-1597), 165 f; 10 
    (1598-1599), 130 f; 11 (1599-1600), 136 f; 12 (1600-1601), 121 f; 13 (1602-1603), 
    203 f; 14 (1603), 259 f; 15 (1604), 350 f; 16 (1606-1607), 199 f; 17 (1608-1609), 
    175 f; 18 (1609-1610), 199 f; 19 (1610-1611), 188 f; 20 (1611-1612), 177 f; 
    21 (1612-1613), 192 f; 22 (1614), 199 f; 23 (1615), 198 f; 24 (1631-1632, 
    167 f; 25 (1632-1633), 151 f; 26 (1633-1634), 151 f; 27 (1634-1637), 221 f; 
    28 (1640), 176 f; 29 (1645-1647), 310 f; 30 (1647), 99 f.</p>
  <p>--------------------------------------------------------------------------------<a name="registreste"></a></p>
  <p> </p>
  <p>2.4.6 REGISTRES DE DECRETS 
    DE TESTAMENTS<br>

    1662-1809 9 vv. </p>
  <p>Els testaments amb fundació 
    de causes pies solen incloure el prec al Vicari General que "decreti" 
    la fundació. Ho executa fent publicar la darrera voluntat i ratificant 
    els marmessors escollits pels testadors.</p>
  <p>0 (1605-1613), s. f.; 
    1 (1662-1684), 136 f; 2 (1680-1716), 189 f; 3 (1717-1738, 197 f; 4 (1738-1748), 
    192 f; 5 (1748-1764), 232 f; 6 (1764-1773), 241 f; 7 (1773-1787), 239 f; 8 
    (1788-1809), 216 f.</p>
  <p>--------------------------------------------------------------------------------<a name="registrestee"></a></p>
  <p> </p>
  <p>2.4.7 REGISTRES DE TESTAMENTS<br>

    1564-1898 30 vv. </p>
  <p>Sèrie que sembla 
    reiterar la d'Institucions, tota vegada que ací es transcriu, a més 
    de l'acte de darrera voluntat, el decret del Vicari general. Com a l'altra 
    sèrie, l'ordre de transcripció dels documents no és sempre 
    el cronològic.</p>
  <p>0 (1564), s.f.; 1 (17401-742), 
    527 f; 2 (1742-1744), 508 f; 3 (1744-1746), 369 f; 4 (1746-1750), 545 f; 5 
    (1750-1754), 421 f; 6 (1754-1755), 402 f; 7 (1754-1758), 464 f; 8 (1758-1760), 
    419 f; 9 (1760-1761), 431 f; 10 (1760-1763), 466 f; 11 (1763-1765), 502 f; 
    12 (1766-1769), 385 f; 13 (1767-1771), 375 f; 14 (1770-1773), 382 f; 15 (1773-1775), 
    381 f; 16 (1775-1779), 411 f; 17 (1775), 397 f; 18 (1780-1783), 442 f; 19 
    (1783-1788), 426 f; 20 (1786-1788), 442 f; 21 (1788-1794), 425 f; 22 (1794-1797), 
    449 f; 23 (1798-1804), 430 f; 24 (1805-1808), 99 f; 25 (1808-1820), 339 f; 
    26 (1821-1832), 405 f; 27 (1833-1847), 364 f; 28 (1848-1856), 326 f; 29 (1856-1898), 
    312 f.</p>
  <p>Repertoris. Existeix un 
    índex dels 11 primers volums de la sèrie.</p>
  <p>--------------------------------------------------------------------------------<a name="diversorumte"></a></p>
  <p> </p>

  <p>2.4.8 DIVERSORUM<br>
    s. XV-XVI 6 vv. </p>
  <p>A finals del s. XVI l'arxiver 
    de causes pies Antic Onofre Steldat aplegà comptes d'almoines de parròquies 
    i de causes pies, així com escriptures de fundació d'aquestes 
    institucions, que es trobaven solts al seu arxiu. S'hi troben documents sobre 
    caritats locals, que d'altra forma haurien romàs desconegudes.</p>
  <p>1 (1532-1533), 486 f, 
    (escriptures fundacionals); 2 (1538-1562), (definicions); 3 (s. XV-XVI), (comptes 
    i definicions); 4 (1504-1554), (fundacions i definicions); 5 (1427-1539), 
    370 f, 4º, (comptes); 6 (1453-1553), s.f. (comptes)</p>
  <p>--------------------------------------------------------------------------------<a name="processoste"></a></p>
  <p> </p>

  <p>2.4.9 PROCESSOS <br>
    s. XVI-XIX 111 llig.</p>
  <p>Actuacions de la cúria 
    de testaments en jurisdicció contenciosa sobre la matèria que 
    li és pròpia. Tenia competència sobre empares d'esponsals 
    i matèries matrimonials connexes.</p>
  <p>Lligalls per ordre alfabètic 
    d'actuaris; Alenyà (1670-1710), 1 llig; Pere Albareda (1718-1728), 
    1 llig; Ayral i altres, 1 llig.; Francesc Befaràs, 1740-1748, 2 llig; 
    Cabirol i altres, 1 llig; Espí, 1 llig; Estrader, 2 llig; Guerau, 1 
    llig; Guinart i Martorell, 1 llig; Causes matrimonials, 2 llig; Simó 
    Miquel, 2 llig; Moretó, 1 llig; Pouplana, 1 llig; Rafael Puig (1603-1605), 
    1 llig; Sarriera, 1 llig;</p>
  <p>Processos d'adjudicació 
    de causes, s. XVIII-XIX, 26 lligs.</p>
  <p>Altres lligalls miscel·lanis, 
    pendents d'ordenació.</p>

  <p>--------------------------------------------------------------------------------<a name="expedientste"></a></p>
  <p> </p>
  <p>2.4.10 EXPEDIENTS<br>
    S. XVIII-XIX 80 llig.</p>
  <p>Comptes de causes pies 
    modernes. Documents i llevadors de causes pies lliurats a la cúria 
    en ocasióde renunciar-ne l'administració en mans del vicari 
    general els marmessors. Disposats per ordre alfabètic de causes pies. 
    </p>
  <p>-------------------------------------------------------------------------------- 
    <a name="herencieste"></a> </p>

  <p> </p>
  <p>2.4.11 HERÈNCIES</p>
  <p>Grup de documentació 
    creat amb expedients de procedència diversa, de testamentaries dels 
    s. XIX-XX, l'execució de les quals fou encomanada al bisbe.</p>
  <p>Marmessories i causes 
    pies 1829-1900 (S-345+misc). Herència Gafarot de la Catedral, 1815-1862 
    (S-295); Herència Joaquima Comas 1839-1851 (S-307); Herència 
    Vinardell d'Arenys 1910-1943 (S-503); 1924 (S-352-353); Herència Pedro 
    Martín 1941-1954 (S-501); Herència Cairò 1942-1944 (S-506) 
    Herència Dispès 1952 (S-499).<br>
    						
		</p></div>