<div id="new_section_content">
						
				<h1 style="padding-top:0;margin-top:0;">2.5 Tribunal eclesiàstic</h1>
				L'oficialat eclesiàstic 
    tractava molts afers en forma de procés. De vegades el procés 
    era només de caràcter informatiu: presentació de testimonis 
    per adverar un fet. D'altres, el procés era contenciós: dues 
    parts demanaven justícia sobre les seves diferències. Quan el 
    procés es duia a terme per iniciativa del fiscal del tribunal mateix, 
    que inquiria sobre determinats fets punibles, el procés porta el nom 
    d'inquisitio, que no coincideix amb els processos de la Inquisició, 
    inexistents al nostre arxiu; són els processos d'enquesta. El contingut 
    de l'arxiu, pel que fa al tribunal de l'oficialat, pot dividir-se en registres 
    i peces de procés. <p></p>
  <p>En data de 1 juliol 1499 
    el bisbe Berenguer de Pau donà unes Constitutiones et ordinationes 
    curiae ecclesiasticae et eius stylus que foren norma vigent al tribunal fins 
    a principis del s. XIX; ed. Romaguera, Constitutiones synodales, (Girona, 
    1691) p 462-464.</p>
  <p>--------------------------------------------------------------------------------<a name="firmestri"></a></p>
  <p> </p>

  <p>2.5.1 FIRMES DE DRET</p>
  <p>1366-1429 i 1595-1735 
    50 vv.</p>
  <p>"Firmar dret" 
    equival, en vocabulari jurídic, a acceptar el fur competent i comparèixer 
    en una causa. Es tracta, per tant, de registres de compareixences.</p>
  <p>1 (1366-1369), 121 f; 
    2 (1385-1429), 121 f; 3 (1590-1591); 4 (1592); 5 (1593); 6 (1595-1596); 7 
    (1598-1600); 8 (1600); 9 (1601); 10 (1602); 11 (1602); 12 (1603); 13 (1604); 
    14 (1605-1606); 15 (1607-1608); 16 (1609-1610); 17 (1613-1615); 18 (1615), 
    133 f; 19 (1620); 20 (1622); 21 (1630-1631); 22 (1633-1635); 23 (1637); 24 
    (1638); 25 (1639-1640); 26 (1641); 27 (1642); 28 (1643); 29 (1644); 30 (1645-1646); 
    31 (1647-1648); 32 (1649-1651); 33 (1652-1655); 34 (1658-1659); 35 (1660-1661); 
    36 (1662-1664); 37 (1665-1668); 38 (1669-1673); 39 (1673-1677); 40 (1678-1681); 
    41 (1682-1685); 42 (1685-1688); 43 (1688-1692); 44 (1692-1699); 45 (1699-1704); 
    46 (1705-1709); 47 (1710-1715); 48 (1715-1717); 49 (1718-1724); 50 (1724-1735).</p>
  <p>--------------------------------------------------------------------------------<a name="llibrestri"></a></p>
  <p> </p>

  <p>2.5.2 LLIBRES JUDICIALS<br>
    1510-1755 36 vv. </p>
  <p>D'acord amb l'encapçalament 
    d'algun d'aquests registres, el seu contingut són litigis verbals, 
    amb les seves sentències; servia també de registre de citacions. 
    Volums sense foliar.</p>
  <p>1 (1510-1511); 2 (1518); 
    3 (1520-1523); 4 (1553-1562); 5 (1562-1567); 6 (1576-1577); 7 (1584-1586); 
    8 (1587-1589); 9 (1591-1594); 10 (1594-1596); 11 (1596-1598); 12 (1600-1602); 
    13 (1602-1603); 14 (1604-1605); 15 (1605-1606); 16 (1607-1609); 17 (1609-1611); 
    18 (1612-1614); 19 (1616-1618); 20 (1621-1625); 21 (1629-1631); 22 (1631-1634); 
    23 (1635-1638); 24 (1644-1657); 25 (1658-1660); 26 (1661-1663); 27 (1664-1667); 
    28 (1670); 29 (1677-1678); 30 1678-1680); 31 (1680-1683); 32 (1683-1687); 
    33 (1688-1697); 34 (1699-1706); 35 (1714-1736); 36 (1752-1755).</p>
  <p>--------------------------------------------------------------------------------<a name="lletrestri"></a></p>
  <p> </p>

  <p>2.5.3 LLETRES<br>
    1619-1768 13 vv. </p>
  <p>Registres de lletres citatòries, 
    subsidiàries, de resposta i d'altres menes, expedides, i algunes rebudes 
    pel tribunal. Volums sense foliar.</p>
  <p>1 (1619-1621); 2 (1621-1622); 
    3 (1637-1662); 4 (1663-1681); 5 (1681-1689); 6 1694-1702); 7 (1702-1713); 
    8 (1723-1728); 9 (1728-1737); 10 (1737-1744); 11 (1745-1750); 12 (1750-1755); 
    13 (1762-1768).</p>
  <p>--------------------------------------------------------------------------------<a name="sentenciestri"></a></p>
  <p> </p>

  <p>2.5.4 SENTÈNCIES<br>
    1704-1836 11 vv. </p>
  <p>Contenen no sols sentències 
    definitives, sinó també sentències interlocutòries 
    i altres provisions.</p>
  <p>1 (1704-1713); 2 (1713-1719); 
    3 (1724-1727); 4 (1727-1731); 5 (1731-1738); 6 (1738-1747); 7 (1747-1751); 
    8 (1751-1758); 9 (1760-1766); 10 (1766-1779); 11 (1800-1836).</p>
  <p>-------------------------------------------------------------------------------- 
    <a name="processostri"></a> </p>
  <p> </p>

  <p>2.5.5. PROCESSOS. SÈRIE 
    GENERAL<br>
    Els processos són agrupats pels noms dels actuaris, a les ordres dels 
    quals s'escrivien.</p>
  <p>Joan Basart i Josep Homs, 
    1631-1645, 82 processos. <br>
    Francesc Berga, 1745-1750, 32 p. <br>
    Felip Boixeda, 1818-1835, 2 llig. <br>
    Fèlix Brusi i Bernat Francesc Curús, 1626-1689, 53 p. <br>

    Domènec Buixons i Estela, 1773-1804, 380 p. i 166 p. beneficials. <br>
    Domènec Burch Sorís, 1750-1787, 819 p. i 166 p. beneficials. 
    <br>
    Francesc Burch Sorís, 1750-1787, 273 p. <br>
    Joan Francesc Burch Sorís, 1730-1736, 2 llig. <br>
    Dalmau Collferrer, 1628-1641, 55 p. <br>
    Josep Dedéu i Francesc Befaràs, 1721-1782, 65 i 35 p. <br>

    Rafael Durban, 1636-1669, 260 p. <br>
    Joan Espí, 1599-1609, 130 p. <br>
    Narcís Fàbrega, 1627-1628, 2 llig. <br>
    Miquel Garau, 1599-1628, 282 p. <br>
    Bartomeu Gaubert, Aleix Gaubert i Josep Pons, 1625-1672, 214 p. <br>
    Francesc Gelabert, 1631-1638, 93 p. <br>

    Josep Gilart i Rafael Tolsà, 1703-1721, 130 p. <br>
    Pere Guinau, Llorenç Estrader i Narcís Martorell 1627-1634, 
    69 p. <br>
    Sebastià Jonama (1585-1594), Narcís Nadal (1710-1731), Jaume 
    Guinart, Antoni Mestras (1664ss) i Francesc Vidal (1620), 74 p. <br>
    Francesc Lagrifa (1708-1745), 583 i 203 p. <br>
    Francesc-Ignasi Lagrifa (1796-1801), 93 p. <br>
    Manuel Lagrifa (1771-1780), 103 p. <br>

    Isidre Llauró, Manuel Nató i Francesc Serradell (1619-1714), 
    105 p. <br>
    Rafael Llampillas (1620-1635), 50 p. <br>
    Pere Lleó (1683-1690), 113 p. <br>
    Antoni Martí (1589-1649), 8 llig. <br>
    Narcís Mateu (1830-1864), 415 p. <br>
    Francesc Mestre i Corretger, 1608-1622, 230 processos. <br>

    Simó Miquel (1630-1657) i Jaume Casanovas i Morató (1698), 58 
    p. <br>
    Francesc Morató (1663-1685) i Narcís-Jeroni Puig (1630-1664), 
    91 i 60 p. <br>
    Francesc Planas (1598-1616) i Francesc Morató (1663-1690), 122 p. <br>
    Joan Rafael Prats, Narcís Moler, Joan Negre, Rafael Vilella, Rafael 
    Puig i Antoni Martí, (1591-1634), 85 p. <br>
    Cristòfor Riera (1685-1729), 260 p. <br>
    Pere Pau Santmartí, Miquel Pouplana, Pere Canals, Francesc Pujol, Valentí 
    Viguer, Nicolau Puig, Rafael Fuster i Salvi Mestres, (1600-1619) 72 i 98 p. 
    <br>

    Joan Serradell (1680-1688), 102 p. <br>
    Bernardí Soler (1733-1745), 31 p. <br>
    Narcís Soler (1773-1790), 372 p. <br>
    Ramon Soler (1736-1756), 202 i 118 p. <br>
    Joan Verdalet (1660-1710), 499 p. <br>
    Francesc Vilalba (1705-1740), 281 p. <br>

    Josep Xambó, (1672-1685), 103 p. <br>
    Jeroni Xifra (1665-1681), 247 p. <br>
    Actuaris diversos, 15 llig. <br>
    Inventaris. Pels 951 processos anteriors al s. XVI existeix un inventari: 
    Josep M. Marquès, Processos anteriors al s. XVI de l'Arxiu Diocesà 
    de Girona", amb una introducció de 40 pp., 117 de text i 38 d'índex 
    unificat de noms. El mateix ha elaborat Arxiu Diocesà de Girona. Processos, 
    s. XVI-XVIII. I. Inventari, que conté indicacions sumàries sobre 
    8.344 processos, i és consultable per mitjà d'uns índexs 
    de 234 pp.</p>
  <p> --------------------------------------------------------------------------------<a name="absolucionstri"></a></p>
  <p> </p>

  <p>2.5.6 ABSOLUCIONS DE JURAMENTS<br>
    1601-1751 31 llig.</p>
  <p>Processos per anul·lar 
    juraments -per exemple, de promesa de matrimoni o d'atorgació d'escriptures- 
    a causa d'haver estat prestats en circumstàncies invalidants. Peces 
    d'aquesta mena es troben també a la sèrie general de processos.</p>
  <p>--------------------------------------------------------------------------------<a name="processostrii"></a></p>
  <p> </p>
  <p>2.5.7 PROCESSOS DIVERSOS<br>

    S'agrupen ací algunes sèries de processos que el tribunal ordenava 
    -i així consta a inventaris antics- pel tema, més que no pas 
    per actuaris.</p>
  <p>Causes matrimonials i 
    criminals, 1656-1901, 9 llig. <br>
    Processos d'enquesta i criminals, s. XVI-XVII, 13 llig. <br>
    Causes de preveres i parròquies, 1610-1920, 20 llig.. <br>
    Causes matrimonials de separació i nulitat, 1841-1932, 44 llig. <br>
    Processos informatius, de beatificació i canonització etc. <br>

    Processos informatius sobre establiments i altres formes d'alienació 
    de béns eclesiàstics, 1600-1850, 6 lligs. <br>
    -------------------------------------------------------------------------------- 
    <a name="tribunaltri"></a> </p>
  <p>2.5.8 TRIBUNAL DEL BREU<br>
    1558-1835 4 llig. 1 vol.</p>
  <p>Cf. Josep M. Marquès, 
    "Tribunals peculiars eclesiàstics de Catalunya: les Contencions 
    i el Breu", dins Primer Congrés d'Història Moderna de Catalunya, 
    Barcelona 1984, II, pp 381-392.<br>
    						
		</p></div>