{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}Classificació{% endblock %}

{% block stylesheets %}
	{{ parent() }}
		<link href="{{ asset('bundles/adg/css/dtree.css') }}" rel="stylesheet"> 
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ADG/js/dtree.js') }}" type="text/javascript"></script>
	
{% endblock %}



{% block body %}

	<div class="page-header">
        <h1>Classificació de l'arxiu</h1>
	</div>

<div class="dtree">


	<script type="text/javascript">
		<!--

		d = new dTree('d');

		d.add(0,-1,'My example tree');
		d.add(1,0,'Node 1','example01.html');
		d.add(2,0,'Node 2','example01.html');
		d.add(3,1,'Node 1.1','example01.html');
		d.add(4,0,'Node 3','example01.html');
		d.add(5,3,'Node 1.1.1','example01.html');
		d.add(6,5,'Node 1.1.1.1','example01.html');
		d.add(7,0,'Node 4','example01.html');
		d.add(8,1,'Node 1.2','example01.html');
		d.add(9,0,'My Pictures','example01.html','Pictures I\'ve taken over the years','','','img/imgfolder.gif');
		d.add(10,9,'The trip to Iceland','example01.html','Pictures of Gullfoss and Geysir');
		d.add(11,9,'Mom\'s birthday','example01.html');
		d.add(12,0,'Recycle Bin','example01.html','','','img/trash.gif');

		document.write(d);

		//-->
	</script>

</div>
	
	

{% endblock %}
