{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}Fons i series{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.lateral{
			padding:2px 10px;
			text-align: center;
		}
	</style>	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="page-header">
        <h1>Cerca per fons i series</h1>
	</div>
	
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="row" style="margin-left:0px ">
			<div class="col-md-7 col-lg-7 " style="margin-left:-5px">
			    <div class="alert alert-success alert-dismissable" style="margin-left:-10px ">
			    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>{{ flashMessage }}</strong>
			    </div>
			</div>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="row" style="margin-left:0px ">
			<div class="col-md-7 col-lg-7" style="margin-left:-5px ">
			    <div class="alert alert-danger alert-dismissable">
			    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>{{ flashMessage }}</strong>
			    </div>
			</div>
		</div>
	{% endfor %}	

<div class="row" style="margin-left:0px;margin-right:10px">
	<div class="col-xs-11 col-sm-10 col-md-4 col-lg-4" style="margin-right:10px">
		{% include 'ArxiuBundle:Fons:menuLateral.html.twig' %}		
    </div><!--/menu-->
    
    <!--Cerca i taula-->
    
    <!--1 import per cada us de taula-->
    <!--paraules clau=cerca general de taules, si el selecionat te altres opcions de cerca. filtrar-->
    <!--fer servir substring en el sql per els camps de dades-->
    
{% if seleccio is not null %}
    <div class="col-xs-11 col-sm-11 col-md-8 col-lg-8" style="margin-right:-10px;margin-top:29px">
    	
    	<!--formulari amb submit cap a /cerca, on el controlador mirara a kina taula ha dentrar i retornara info + variable indicant taula-->
    	<!--Cerca-->
		<div class="row well">
			{% include 'ArxiuBundle:Fons:cerca.html.twig' %}
		</div><!--/Cerca-->
	
	
		<!--si cerca no esta buit llavors mostrar taula amb estructura feta i casos if segons la variable de la taula-->
		<!--Taula-->
		<div class="row alert alert-warning">
			taula
			{% if info is not null  %}
				bla
				<!--fer servir substring en el sql per els camps de dades-->
			{% endif %}
		</div><!--/Taula-->
	</div>   
{% else %}
	<div class="col-xs-11 col-sm-11 col-md-8 col-lg-8 alert alert-info" style="margin-right:-10px;margin-top:29px">
		Cal escollir el contingut de la cerca.
	</div>   
{% endif %}	
		
	
	

	
	<!--/info ampliada en modal-->
</div>
	
	

{% endblock %}