    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="color: #3a87ad">Informació completa</h4>
        </div>
      	<div class="modal-body">
      	
      		
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Tancar</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->