{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Autentificació{% endblock %}

{% block fos_user_content %}

	<div class="account-container">
	<div class="content-form">
      <form action="{{ path("fos_user_security_check") }}" method="post">
      
       <h1>Autentificació</h1>
       <p>Sisplau proporcioni les seves credencials, si no en té, <a href="javascript:history.back()" style="color: #999">torni enrere.</a></p>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        
        <label for="username">Nom d'usuari</label>
		<div class="input-group">
		  <span class="input-group-addon add-on"><i class="icon-user"></i> </span>
		  <input type="text" class="form-control" id="username" name="_username" required="required">
		</div>

        <div class="space10"></div>
        <label for="password">Contrasenya</label>
       	<div class="input-group">
		  <span class="input-group-addon add-on"><i class="icon-key"></i> </span>
		   <input type="password" class="form-control" id="password" name="_password" required="required" >
		</div>
        <div class="space10"></div>
         
        <label class="checkbox">
        	<input type="checkbox" value="remember-me" id="remember_me" name="_remember_me" checked>Recordar
        	<div class="btn-group pull-right">
	        	<button class="btn btn-lg btn-success" id="_submit" name="_submit" type="submit">Entrar</button>
	        </div>
        </label>

         <div class="space10"></div>
         
        {% if error %}
	    	<div class="space10"></div>
	        <div class="alert alert-danger">
	          <button type="button" class="close" data-dismiss="alert">×</button>
	          <h4>Error!</h4>
	          {{ error | trans }}
	        </div>
         {% endif %}
      </form>
	</div>
</div>
{% endblock fos_user_content %}
