{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}Altre{% endblock %}

{% block body %}

	<div class="page-header">
        <h1>Altre</h1>
	</div>

	<a href="{{ path('arxiu') }}">Arxiu</a>
{% endblock %}
