<div class="panel-heading"><h4 style="margin-top:-3px;margin-bottom:-3px">Cerca</h4></div>

<div class="panel-body">
	<div id='content' class="tab-content">
		<div class="tab-pane active" id="dispenses">
			<form action="{{ path('cerca_cognoms') }}" method="post">
				<!--cognoms-->
				<div class="row" style="border-bottom: 1px solid #eeeeee;">
				
					<h4 style="margin-left:16px; margin-bottom:5px">Semblança fonética</h4>
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5>Cognom</h5>
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-male"></i></span>
							<input type="text" class="form-control search-query" name="cognom" value="{{ cognom }}">
						</div>
						<div class="space10"></div>
			       	</div>
			       	
			       	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			       		<h5>Grau de semblança</h5>
			        	<select class="form-control" name="param">
			                <option value="baixa" {% if grau is sameas("baixa") %} selected {% endif %}>Baixa</option>
			                <option value="mitjana" {% if grau is sameas("mitjana") %} selected {% endif %}>Mitjana</option>
			                <option value="alta" {% if grau is sameas("alta") %} selected {% endif %}>Alta</option>
			            </select>
			       	</div>
			    	
			    </div> <!--/fonetic-->
			    
				<div class="space10"></div>
				
				<div class="row">
				
					<h4 style="margin-left:16px; margin-bottom:5px">Contenen la paraula</h4>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<h5>Paraula</h5>
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-flag"></i></span>
							<input type="text" class="form-control search-query" name="paraula" value="{{ paraula }}">
						</div>
						<div class="space10"></div>
			       	</div>
			    	<div class="space10"></div>
			    </div> <!--/conte-->
			    
				<div class="space10"></div>
				
				<div class="btn-group">
					<button type="submit" class="btn btn-primary"><i class="icon-search"></i>&nbsp;Cercar</button>
				</div>
			</form>
		</div><!--/dispenses-->
	</div>
</div>