{% extends '::base.html.twig' %}

{% block title %}Administració{% endblock %}

{% block body %}
		<div class="page-header"><h1>Administració</h1></div>
		
		
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Notícies</h3>
				</div>
				<div class="panel-body list-group">
				
					<a href=" {{ path('noticies_index') }}" class="list-group-item">
						<i class="icon-list"></i>
						Llistar notícies
					</a>
				</div>
			</div>
			
			
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Classificació de l'arxiu</h3>
				</div>
				<div class="panel-body list-group">
					<a href=" {{ path('guia') }}" class="list-group-item">
						<i class="icon-edit"></i>
						Modificar classificació
					</a>
				</div>
			</div>

		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Usuaris</h3>
				</div>
				<div class="panel-body list-group">
					<a href=" {{ path('admin_usuaris') }}" class="list-group-item">
						<i class="icon-edit"></i>
						Veure usuaris
					</a>
				</div>
			</div>
			
		</div>		
{% endblock %}
