<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Afegir nova notícia</h4>
        </div>
		<form action="{{ path("noticies_crear") }}" method="post">
	      	<div class="modal-body"> 	
		      	<p>Per afegir una nova noticia cal introduir la següent informació:</p>
		        <label for="username">Títol</label>
				<div class="form-group">
				  <input type="text" class="form-control" name="titol" required="required">
				</div>
		        <div class="space10"></div>
		        <label for="password">Contingut</label>
		       	<div class="form-group">
				  <input type="text" class="form-control" rows="3" name="contingut" required="required" >
				</div>
	        </div>
	        <div class="modal-footer">
	          <button class="btn btn-default" data-dismiss="modal">Tancar</button>
	          <button class="btn btn-success" type="submit">Guardar</button>
	        </div>
		</form><!-- /.form -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->