{% extends 'PrincipalBundle:AdminGuia:baseModal.html.twig' %}

{% block arxiuTitle %}
          	{% if tam+1 is sameas(3) %} Afegir nou subfons
          	{% elseif tam+1 is sameas(4) %} Afegir nou grup de series
          	{% elseif tam+1 is sameas(5) %} Afegir nova serie
          	{% elseif tam+1 is sameas(6) %} Afegir nova unitat documental composta
          	{% elseif tam+1 is sameas(7) %} Afegir nova unitat documental simple
          	{% elseif tam+1 is sameas(8) %} Afegir nova unitat d'instalació
          	{% endif %}
{% endblock %}


{% block arxiuInfo %}
	<p>Es mostra l'informació del nivell <strong>{{ info.nivell }}</strong> modificar per afegir el subnivell d'aquest.</p>
{% endblock %}

{% block arxiuFormPath %}
	{{ path("guia_subnivell_confirmar") }}
{% endblock %}

{% block arxiuNivell %}
      	<input type="hidden" name="nivell" value="{{ info.nivell }}">
      	<div class="input-group">
			<span class="input-group-addon">Nivell *  <strong>{{ info.nivell }}</strong></span>
			<input type="text" class="form-control" pattern="^([a-zA-Z0-9]*\.)$" 
				title="Només pot tenir números i/o lletres i finalitzar amb un punt." 
				value="." name="suffix" required>
		</div><div class="space10"></div>
{% endblock %}				
				
    