 <div class="modal-dialog ">
      <div class="modal-content alert alert-danger">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Eliminar notícia</h4>
        </div>
		<form action="{{ path("noticies_confirm", { 'id': noticia.id }) }}" method="post">
	      	<div class="modal-body"> 	
		      	<p>S'eliminarà la notícia amb la següent informació:</p>
		        <label>Títol</label>
				<p>{{ noticia.titol }} </p>
		        <div class="space10"></div>
		        
		        <label>Contingut</label>
				<p>{{ noticia.contingut }} </p>
	        </div>
	        <div class="modal-footer">
	          <button class="btn btn-default" data-dismiss="modal">Tancar</button>
	          <button class="btn btn-danger" type="submit"><i class="icon-remove"></i>&nbsp;Eliminar</button>
	        </div>
		</form><!-- /.form -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
